Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

prettiered
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

update
  package.json
Due: none

search on enter
  cypress/integration/smokeTests/sharedTests/search.ts
  src/app/search/basic-search/basic-search.component.html
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

update webservice (#1471)
  package.json
Due: none

Revert "update webservice (#1471)"
  package.json
Due: none

[skip ci] Fa-icon alignment
  src/app/search/search.component.scss
Due: prettier --write

fa-icon adjustment
  src/app/search/search.component.scss
Due: prettier --write

Use getWorkflowVersionById endpoint to get authors
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Use CircleCI JAR from webservice PR
  package.json
Due: none

Compact search sidebar to match redesign (#1470)
  cypress/integration/group2/organizations.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/organization/organization.component.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.ts
  src/app/search/basic-search/basic-search.component.html
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/app/shared/img-fallback.directive.spec.ts
  src/app/shared/img-fallback.directive.ts
  src/app/starredentries/starredentries.component.spec.ts
  src/app/starredentries/starredentries.component.ts
  src/app/test/service-stubs.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/assets/svg/help.svg
  src/assets/svg/reset.svg
Due: prettier --write, eslint --fix

Use any type
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Fix JAR path
  package.json
  scripts/run-webservice-script.sh
Due: none

Use openapi's Author and OrcidAuthor
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Feature/3800/remove dna stack launch with hotfix (#1438)
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.spec.ts
Due: prettier --write, eslint --fix

fix install cli link
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

display service icons
  src/app/workflow/workflow.component.html
  src/app/workflows/workflows.component.html
  src/assets/svg/service-circle.svg
Due: prettier --write

minor simplification
  src/app/workflows/workflows.component.html
Due: prettier --write

Added my sidebar to workflows, services, tools, starred and account page
  package.json
  src/app/app.module.ts
  src/app/container/container.component.html
  src/app/loginComponents/accounts/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/my-sidebar/my-sidebar.component.scss
  src/app/my-sidebar/my-sidebar.component.spec.ts
  src/app/my-sidebar/my-sidebar.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/mytools.module.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/shared/modules/my-sidebar.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/shared/styles/my-entry.component.scss
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/starredentries/starredentries.module.ts
  src/app/workflow/workflow.component.html
  src/assets/svg/my-nav/account.svg
  src/assets/svg/my-nav/dashboard.svg
  src/assets/svg/my-nav/organization.svg
  src/assets/svg/my-nav/services.svg
  src/assets/svg/my-nav/starred.svg
  src/assets/svg/my-nav/tools.svg
  src/assets/svg/my-nav/workflows.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Cannot have empty lifecycle check
  src/app/my-sidebar/my-sidebar.component.ts
Due: prettier --write, eslint --fix

Update webservice build version
  scripts/run-webservice-script.sh
Due: none

Add min height and update help desk link
  src/app/my-sidebar/my-sidebar.component.html
  src/app/my-sidebar/my-sidebar.component.scss
Due: prettier --write

initial commit of WES launch instructions
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

missing build artifacts
  package.json
Due: none

webservice jar change
  scripts/run-webservice-script.sh
Due: none

add alt tag and remove unused imports
  src/app/my-sidebar/my-sidebar.component.html
  src/app/my-sidebar/my-sidebar.component.ts
Due: prettier --write, eslint --fix

rewording
  src/app/workflow/launch/launch.component.html
Due: prettier --write

checking out from release branch
  scripts/run-webservice-script.sh
Due: none

Use getWorkflowVersionOrcidAuthors endpoint
  package.json
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

rought draft
  src/app/starredentries/starredentries.component.html
Due: prettier --write

better
  src/app/starredentries/starredentries.component.html
Due: prettier --write

make the linter happy
  src/app/starredentries/starredentries.component.html
Due: prettier --write

fix documentation URL
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

conditionalize "View" button link
  src/app/starredentries/starredentries.component.html
Due: prettier --write

recent activity update for apptools and publish
  package.json
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
