Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test seems broken on just java?
  .github/workflows/accessibility_test.yml
Due: none

Fix errors
  package-lock.json
  package.json
  src/app/notebook/notebook-markdown.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
  src/app/workflow/dag/state/dag.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Update to Angular Material 17
  package-lock.json
  package.json
Due: none

Update version-modal.service.spec.ts
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

try removing signing key
  .circleci/config.yml
Due: none

Fix build
  package.json
Due: none

Try bumping image to get newer node version
  .circleci/config.yml
Due: none

Clean up
  .circleci/config.yml
Due: none

Fix linting errors
  src/app/shared/ai-bubble/ai-bubble.component.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/mastodon/mastodon.component.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

Update license
  THIRD-PARTY-LICENSES.csv
Due: none

fix flash of "may not be automatically updating" notice
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Set async to false and cast to string
  src/app/notebook/notebook-markdown.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

Revert this
  src/app/notebook/notebook-markdown.component.ts
Due: prettier --write, eslint --fix

Use Java 21
  .circleci/config.yml
  package.json
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

Comment out for now
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

Revert "Update version-modal.service.spec.ts"
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

github seems stuck
  README.md
Due: none

Use xit instead of it.skip
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

Java update for ui2 testing (#2103)
  .circleci/config.yml
  .github/workflows/accessibility_test.yml
  README.md
  package.json
  scripts/wait-for.sh
  src/app/workflow/version-modal/version-modal.service.spec.ts
  test/web.yml
Due: prettier --write, eslint --fix

Add space
  package.json
Due: none

Update to Angular 17 (#2105)
  .nvmrc
  THIRD-PARTY-LICENSES.csv
  angular.json
  package-lock.json
  package.json
  src/app/footer/footer.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/shared/ai-bubble/ai-bubble.component.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
  src/app/shared/mastodon/mastodon.component.html
  src/app/shared/mastodon/mastodon.component.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/workflow/dag/state/dag.service.ts
  src/app/workflow/version-modal/version-modal.service.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Use npm pkg instead. npm config set no longer works
  .circleci/config.yml
Due: none

Missed a spot
  .circleci/config.yml
Due: none

Remove whitespace
  .circleci/config.yml
Due: none

Update node
  .nvmrc
Due: none

Update eslint
  package-lock.json
  package.json
Due: none

Fix nightly snapshot tests (#2108)
  .circleci/config.yml
Due: none

Update fontawesome
  package-lock.json
  package.json
Due: none

Update angular-cloud-tag-module
  package-lock.json
  package.json
Due: none

Update ngx-markdown
  package-lock.json
  package.json
Due: none

Fix fontawesome type
  src/app/shared/models/ExtendedDockstoreTool.ts
Due: prettier --write, eslint --fix

Fix tests
  src/app/organizations/state/organization.service.spec.ts
  src/app/workflow/dag/cwl-viewer/cwl-viewer.component.spec.ts
  src/app/workflow/versions/versions.component.spec.ts
Due: prettier --write, eslint --fix

Skip buffer URLs
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Fix typo
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Update to Angular Material 18
  package-lock.json
  package.json
  src/_material-overrides.scss
  src/app/about/about.component.scss
  src/app/footer/footer.component.scss
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/widget/getting-started/getting-started.component.scss
  src/app/home-page/widget/news-updates/news-notifications.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/my-sidebar/my-sidebar.component.scss
  src/app/navbar/navbar.component.scss
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/organization-members/organization-members.component.scss
  src/app/organizations/organization/organization.component.scss
  src/app/organizations/organizations/organizations.component.scss
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/search-entry-table.component.scss
  src/app/search/search.component.scss
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
  src/app/shared/styles/dashboard-boxes.scss
  src/app/shared/styles/entry-table.scss
  src/app/shared/styles/my-entry-sidebar.scss
  src/app/shared/styles/my-entry.component.scss
  src/app/shared/styles/radio-button-cards.scss
  src/app/starring/starring.component.scss
  src/app/user-page/user-page.component.scss
  src/app/workflow/versions/versions.component.scss
  src/featured-content.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

CodeQL fix
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
