Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add/tweak tests, improve url manipulation code
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

fix test, remove unused
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

fix test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

only set the file parameter when tabs are being tracked, fix tests
  cypress/e2e/group2/myworkflows.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

remove unnecessary encoding
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

reorganize and fix tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

Update config.yml
  .circleci/config.yml
Due: none

Update package.json
  package.json
Due: none

Revert "Add CircleToken header (#1734)"
  scripts/get-circleci-artifact-url.sh
Due: none

ui2 - run against webservice develop (#1967)
  .circleci/config.yml
  package.json
Due: none

link to individual source files
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

Update tar
  package-lock.json
  package.json
Due: none

test this
  package.json
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
Due: none

https good
  scripts/generate-openapi-script.sh
Due: none

Replace angular/flex-layout
  package-lock.json
  package.json
  src/app/aliases/aliases.module.ts
  src/app/app.module.ts
  src/app/container/refresh-wizard.module.ts
  src/app/entry/current-collections.module.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.module.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.module.ts
  src/app/loginComponents/requests.module.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.module.ts
  src/app/organizations/collection/add-entry.module.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/collections/create-collection.module.ts
  src/app/organizations/events.module.ts
  src/app/organizations/organization-members.module.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization-stargazers/organization-stargazers.module.ts
  src/app/organizations/organization/update-organization-description.module.ts
  src/app/organizations/organizations.module.ts
  src/app/organizations/register-organization.module.ts
  src/app/organizations/upsert-organization-member.module.ts
  src/app/search/search.module.ts
  src/app/shared/ai-bubble/ai-bubble.module.ts
  src/app/shared/available-logs.module.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/modules/container.module.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/stargazers/stargazers.module.ts
  src/app/user-page/user-page.module.ts
  src/app/workflow/dag/dag.module.ts
Due: prettier --write, eslint --fix

Replace angular/flex-layout
  THIRD-PARTY-LICENSES.csv
Due: none

test build
  .circleci/config.yml
  package.json
  scripts/generate-openapi-script.sh
Due: none

add credentials files
  .github/snapshot-mvn-settings.xml
  scripts/generate-openapi-script.sh
Due: none

redirect webservice
  scripts/run-webservice-script.sh
Due: none

spam context
  .circleci/config.yml
Due: none

use same config with artifactory
  .circleci/config.yml
  .github/snapshot-mvn-settings.xml
  package.json
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
Due: none

don't need this bit on ci
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
Due: none

typo
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
Due: none

more typo
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
Due: none

fix maven to bash hookup
  scripts/run-webservice-script.sh
Due: none

PR feedback
  .circleci/config.yml
  README.md
  package.json
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
Due: none

flipped condition the wrong way
  .circleci/config.yml
Due: none

codacy happiness
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
Due: none

redirect artifacts from circle ci to artifactory (#1970)
  .circleci/config.yml
  .github/snapshot-mvn-settings.xml
  README.md
  package.json
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
  scripts/run-webservice-script.sh
Due: none

Replace @angular/flex-layout (#1971)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/app/aliases/aliases.module.ts
  src/app/app.module.ts
  src/app/container/refresh-wizard.module.ts
  src/app/entry/current-collections.module.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.module.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.module.ts
  src/app/loginComponents/requests.module.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.module.ts
  src/app/organizations/collection/add-entry.module.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/collections/create-collection.module.ts
  src/app/organizations/events.module.ts
  src/app/organizations/organization-members.module.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization-stargazers/organization-stargazers.module.ts
  src/app/organizations/organization/update-organization-description.module.ts
  src/app/organizations/organizations.module.ts
  src/app/organizations/register-organization.module.ts
  src/app/organizations/upsert-organization-member.module.ts
  src/app/search/search.module.ts
  src/app/shared/ai-bubble/ai-bubble.module.ts
  src/app/shared/available-logs.module.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/modules/container.module.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/stargazers/stargazers.module.ts
  src/app/user-page/user-page.module.ts
  src/app/workflow/dag/dag.module.ts
Due: prettier --write, eslint --fix

remove old references
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-page.service.ts
  src/app/login/login.component.html
  src/index.html
Due: prettier --write, eslint --fix

fix test
  cypress/e2e/immutableDatabaseTests/jsonld.ts
Due: prettier --write, eslint --fix

remove old references (#1972)
  cypress/e2e/immutableDatabaseTests/jsonld.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-page.service.ts
  src/app/login/login.component.html
  src/index.html
Due: prettier --write, eslint --fix

fix doi link
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

oops
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

noUnusedLocals
  tsconfig.json
Due: none

Guess for smoke tests problem
  .circleci/config.yml
Due: none

See if this changes anything
  cypress.config.ts
Due: eslint --fix

Another desperate attempt
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
