Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

clean up instance variable
  src/app/loginComponents/accounts/external/accounts.component.ts
Due: prettier --write, eslint --fix

topic length for collection (#2198)
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/collections/state/create-collection.service.ts
Due: prettier --write, eslint --fix

fugly, but works
  src/app/login/login.service.ts
  src/app/ng2-ui-auth/lib/auth.service.ts
  src/app/ng2-ui-auth/lib/config-providers.ts
  src/app/ng2-ui-auth/lib/oauth.service.ts
  src/app/register/register.service.ts
Due: prettier --write, eslint --fix

use released openapi for testing
  package.json
Due: none

reset
  scripts/generate-openapi-script.sh
Due: none

unit tests working locally
  src/app/login/login.service.spec.ts
  src/app/ng2-ui-auth/lib/auth.service.ts
  src/app/register/register.service.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

SonaQube happiness
  src/app/login/login.service.ts
  src/app/register/register.service.ts
  src/app/shared/my-entry.ts
Due: prettier --write, eslint --fix

change categories.name to categories.displayName
  src/app/categories/button/category-button.component.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

point at alpha.3 webservice release
  package.json
Due: none

update tests to run 1.20.0 migrations
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add 1.20 migrations in one other place
  scripts/run-webservice-script.sh
Due: none

working 10.0.0
  angular.json
  package-lock.json
  package.json
  src/styles.scss
Due: prettier --write

update license
  THIRD-PARTY-LICENSES.csv
Due: none

fix test
  cypress/e2e/group2/categories.ts
Due: prettier --write, eslint --fix

share buttons 12
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

working sharebuttons 14 (enables custom buttons)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry/entry.module.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

update to 15.0.6 last version made for angular 18
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

update choices
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
  src/main.ts
Due: prettier --write, eslint --fix

alter tests
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
Due: prettier --write, eslint --fix

cleanup
  src/main.ts
Due: prettier --write, eslint --fix

working 10.0.0 sharebuttons (#2205)
  THIRD-PARTY-LICENSES.csv
  angular.json
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  package-lock.json
  package.json
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry/entry.module.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/main.ts
  src/styles.scss
Due: prettier --write, eslint --fix

display category display names ("titles") in the search facets
  cypress/e2e/group2/categories.ts
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
  src/app/categories/button/category-button.component.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

regenerate license file
  THIRD-PARTY-LICENSES.csv
Due: none

update license file again
  THIRD-PARTY-LICENSES.csv
Due: none

build against alpha build
  package.json
  scripts/generate-openapi-script.sh
Due: none

fix tests
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

bump potato org id to account for new ai org
  cypress/e2e/group2/organizations.ts
Due: prettier --write, eslint --fix

correct moar organization id misalignment
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

reference latest snapshot
  package.json
Due: none

insert code to handle operation categories
  src/app/categories/button/category-button.component.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Adjust integration tests for new AI org (#2213)
  cypress/e2e/group2/organizations.ts
  cypress/support/commands.ts
  package.json
Due: prettier --write, eslint --fix

Update webservice_version to 1.20.0-alpha.8
  package.json
Due: none

google pkce hookup
  src/app/ng2-ui-auth/lib/config-providers.ts
  src/app/ng2-ui-auth/lib/oauth.service.ts
Due: prettier --write, eslint --fix

bust cache
  package-lock.json
Due: none

ensure more error
  src/app/login/login.service.ts
  src/app/register/register.service.ts
Due: prettier --write, eslint --fix

fix units display
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

make it plural
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
