Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

removed duplicate provider
  src/app/app.module.ts
Due: prettier --write, eslint --fix

removed duplicate provider
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
Due: prettier --write, eslint --fix

added SourceFileTabsComponent to app.module.ts
  src/app/app.module.ts
Due: prettier --write, eslint --fix

added WorkflowModule to app.module.ts
  src/app/app.module.ts
Due: prettier --write, eslint --fix

Update template with security section (#1667)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Upgrade to Cypress 9 (#1668)
  THIRD-PARTY-LICENSES.csv
  cypress/integration/group2/myworkflows.ts
  cypress/integration/group2/organizations.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Missed a file in the migration.
  cypress/support/e2e.ts
Due: prettier --write, eslint --fix

Comment out failing portion of test, alas.
  cypress/e2e/group1/hostedTools.ts
Due: prettier --write, eslint --fix

Sigh
  cypress/e2e/group1/hostedWorkflows.ts
Due: prettier --write, eslint --fix

added SourceFileTabService to app.module.ts
  src/app/app.module.ts
Due: prettier --write, eslint --fix

added infotabservice to SourceFileTabService
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
Due: prettier --write, eslint --fix

added service to file tree test
  src/app/file-tree/file-tree.component.spec.ts
Due: prettier --write, eslint --fix

added more providers
  src/app/file-tree/file-tree.component.spec.ts
  src/app/shared/modules/workflow.module.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
Due: prettier --write, eslint --fix

added module
  src/app/file-tree/file-tree.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
Due: prettier --write, eslint --fix

Delete when done
  src/app/file-tree/file-tree.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

added infotabservicestub
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Upgrade to Python 3.11 in check_build_develop
  .circleci/config.yml
Due: none

added more info stubs
  src/app/file-tree/file-tree.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
Due: prettier --write, eslint --fix

added methods in stub
  src/app/file-tree/file-tree.component.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Fix broken smoke tests
  package.json
Due: none

Fix broken smoke tests (#1672)
  package.json
Due: none

removed bugs detected from sonarcloud
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Upgrade to Python 3.11 in check_build_develop (#1670)
  .circleci/config.yml
Due: none

Cypress 11
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

Add language version search facet and column in versions tab
  src/app/container/versions/versions.component.html
  src/app/container/versions/versions.component.ts
  src/app/search/state/search.service.ts
  src/app/shared/entry/descriptor-language-versions.pipe.ts
  src/app/shared/entry/descriptor-language-versions.spec.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Cypress 11 (#1671)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

Fix typo
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

Changes following pr review
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/file-tree/file-tree.component.html
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.scss
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
  src/app/test/service-stubs.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

fixed typo
  src/app/file-tree/file-tree.component.html
  src/app/file-tree/file-tree.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

span clean up
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.scss
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
Due: prettier --write, eslint --fix

removed unneeded function
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

removed deleted method in stub
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

removed unneeded code
  src/app/app.module.ts
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Change descriptor_type_versions to descriptorTypeVersions to fix column sorting
  src/app/container/versions/versions.component.html
  src/app/container/versions/versions.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Add language version search facet and language version column in versions tab (#1673)
  src/app/container/versions/versions.component.html
  src/app/container/versions/versions.component.ts
  src/app/search/state/search.service.ts
  src/app/shared/entry/descriptor-language-versions.pipe.ts
  src/app/shared/entry/descriptor-language-versions.spec.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

removed home icons for non-descriptor file tabs
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
