Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Use Chrome browser for Cypress tests to reduce flakiness and remove scrollIntoView (#1991)
  .circleci/config.yml
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

oops
  tsconfig.json
Due: none

Fix Java install instructions for Mac (#1996)
  .circleci/config.yml
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write, eslint --fix

Show Approved bubble if user selects AI topic
  src/app/search/query-builder.service.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/container.service.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
Due: prettier --write, eslint --fix

Remove unused imports
  src/app/shared/container.service.ts
Due: prettier --write, eslint --fix

Reduce duplication
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

PR feedback and fix tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/smokeTests/sharedTests/zenodo.ts
  package.json
  src/app/shared/entry/doi/doi-badge/doi-badge.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Fix test: response from requestDOI is no longer used so intercept getWorkflow
  cypress/e2e/group2/myworkflows.ts
  cypress/fixtures/doiResponse.json
  cypress/fixtures/getWorkflowWithDoi.json
Due: prettier --write, eslint --fix

Return 200 for DOI request
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Fix capitalization
  src/app/shared/entry/doi/doi-badge/doi-badge.component.html
Due: prettier --write

Set approved to true if topic is AI
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/container/info-tab/info-tab.service.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/e2e/group2/myworkflows.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write, eslint --fix

PR feedback
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Add brackets
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write

Some cleanup
  src/app/shared/entry/doi/doi-badge/doi-badge.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Add AI topic approval bubble if user selects the AI topic option (#1997)
  cypress/e2e/group2/myworkflows.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/container.service.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
Due: prettier --write, eslint --fix

Clean up
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
  src/app/shared/state/workflow.service.ts
Due: prettier --write, eslint --fix

Remove unused style
  src/styles.scss
Due: prettier --write

Fix codacy
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Update DOI properties, allow DOI selection, and move DOI display (#1994)
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/smokeTests/sharedTests/zenodo.ts
  cypress/fixtures/doiResponse.json
  cypress/fixtures/getWorkflowWithDoi.json
  cypress/fixtures/myNotebooks.json
  cypress/fixtures/myTools.json
  cypress/fixtures/myWorkflows.json
  cypress/fixtures/orcidExportResponse.json
  cypress/fixtures/refreshedAslashl.json
  cypress/fixtures/refreshedTool5.json
  cypress/fixtures/sampleNotebook.json
  src/app/shared/entry/doi/doi-badge/doi-badge.component.html
  src/app/shared/entry/doi/doi-badge/doi-badge.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.scss
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
  src/app/test/mocked-objects.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.spec.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
  src/app/workflow/snapshot-exporter-modal/snapshot-exporter-modal.service.ts
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/view/view.component.html
  src/app/workflow/view/view.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

fix checker workflow field
  src/app/shared/entry/info-tab-checker-workflow-path/info-tab-checker-workflow-path.component.html
Due: prettier --write

suppress CommonJS warnings during build
  angular.json
Due: none

Update pipe for release event
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

Display engine version for Nextflow workflows
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Update pipe for release event (#2000)
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

review
  angular.json
  src/app/gravatar/gravatar.service.ts
  src/app/shared/auth.guard.ts
Due: prettier --write, eslint --fix

Fix typo
  src/app/workflow/versions/versions.component.html
Due: prettier --write

Remove unused variable
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

review
  src/app/shared/entry/info-tab-checker-workflow-path/info-tab-checker-workflow-path.component.html
Due: prettier --write

DOCK-2137: fix checker workflow field refresh issue (#1998)
  src/app/shared/entry/info-tab-checker-workflow-path/info-tab-checker-workflow-path.component.html
Due: prettier --write

DOCK-2335: Suppress CommonJS module warnings during build (#1999)
  angular.json
  src/app/gravatar/gravatar.service.ts
  src/app/shared/auth.guard.ts
Due: prettier --write, eslint --fix

test this
  .circleci/config.yml
  .github/workflows/accessibility_test.yml
Due: none

debug
  .circleci/config.yml
Due: none

experiment
  .circleci/config.yml
Due: none

Change pip3 to pipx
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

pipx is not a drop-in replacement for pip
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

pipx does not list the injected dependencies
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
