Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update integration tests with 1.15.0 migration
  cypress/support/commands.ts
  package-lock.json
  package.json
  scripts/run-webservice-script.sh
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

Use new description endpoint
  package.json
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

add basic integration test, not fully functiona
  cypress/e2e/group3/deletion.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

improve tests, data-cy delete dialog buttons
  cypress/e2e/group3/deletion.ts
  cypress/support/commands.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
Due: prettier --write, eslint --fix

test workflows, apptools, notebooks
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

remove duplicate openapi imports
  src/app/container/container.component.ts
  src/app/container/descriptors/descriptors.component.spec.ts
  src/app/container/descriptors/descriptors.component.ts
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/paramfiles/paramfiles.component.ts
  src/app/container/state/refresh-wizard.service.ts
  src/app/container/tool-file-editor/tool-file-editor.component.ts
  src/app/container/version-modal/version-modal.component.spec.ts
  src/app/container/versions/versions.component.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.spec.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/state/requests.service.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/service-info/service-info.service.ts
  src/app/shared/available-logs/available-logs.component.ts
  src/app/shared/descriptor-type-compat.service.spec.ts
  src/app/shared/descriptor-type-compat.service.ts
  src/app/shared/entry.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/entry/verified-by/verified-by.component.ts
  src/app/shared/entry/verified-display/verified-display.component.ts
  src/app/shared/file-editing.ts
  src/app/shared/selectors/entry-file-selector.ts
  src/app/shared/state/entry-wizard.service.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
  src/app/test/mocked-objects.ts
  src/app/test/service-stubs.ts
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/permissions/permissions.component.ts
  src/app/workflow/snapshot-exporter-modal/snapshot-exporter-modal.service.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
  src/app/workflow/workflow.component.ts
  src/app/workflows/list/published-workflows.datasource.ts
Due: prettier --write, eslint --fix

missed an import
  src/app/file-tree/file-tree.component.ts
Due: prettier --write, eslint --fix

Don't include dev dependency licenses (#1807)
  THIRD-PARTY-LICENSES.csv
  package.json
Due: none

remove added tool delete buttons
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/tool-actions.component.ts
Due: prettier --write, eslint --fix

replace remaining swagger imports
  src/app/app.module.ts
  src/app/container/paramfiles/paramfiles.service.spec.ts
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/state/collections.service.ts
Due: prettier --write, eslint --fix

make redirect to 'my-{entries}' page, remove apptool from test
  cypress/e2e/group3/deletion.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

adjust test to clear events for entry at start
  cypress/e2e/group3/deletion.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

change integration test support to query non-containerized db
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Use develop artifacts
  package.json
Due: none

rearrange html
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

Add cost to sampleMetrics.json
  cypress/fixtures/sampleMetrics.json
Due: none

Display cost metric (#1805)
  cypress/fixtures/sampleMetrics.json
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Update Mac OS instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

try different artifacts
  package.json
Due: none

More strict templates
  src/app/container/add-tag/add-tag.component.html
  src/app/container/add-tag/add-tag.component.ts
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/version-modal/version-modal.component.html
  src/app/container/version-modal/version-modal.component.ts
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

Not the greatest fix
  src/app/file-tree/file-tree.component.html
Due: prettier --write

Fix some errors
  src/app/container/info-tab/info-tab.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/home-page/dashboard/dashboard.component.ts
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

[skip ci]
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/launch/launch.component.html
  src/app/entry/current-collections/current-collections.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/organizations/organization/organization-stargazers/organization-stargazers.component.ts
  src/app/organizations/organizations/organizations.component.ts
  src/app/search/search.component.ts
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/my-entry.ts
  src/app/starredentries/starredentries.component.html
  tsconfig.json
Due: prettier --write, eslint --fix

[skip ci]
  src/app/mytools/my-tool/my-tool.component.html
  src/app/notebook/notebook.component.html
Due: prettier --write

Misc fixes, let's see if tests run.
  src/app/container/container.component.ts
  src/app/container/view/view.component.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization/update-organization-description/update-organization-description.component.ts
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/search/search.component.ts
  src/app/shared/entry.ts
  src/app/shared/models/SubBucket.ts
  src/app/shared/view.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/workflow/view/view.component.ts
  src/app/workflow/workflow.component.ts
  tsconfig.json
Due: prettier --write, eslint --fix

change artifacts again
  package.json
Due: none

DOCK-2392: Indicate when recent activities are from unknown users (#1808)
  src/app/gravatar/gravatar.service.ts
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write, eslint --fix

remove swagger generation
  .gitignore
  scripts/generate-openapi-script.sh
Due: none

Undo breaking change
  src/app/organizations/collections/collections.component.html
Due: prettier --write

Update to latest artifacts
  package.json
Due: none

Use new description endpoint (#1812)
  package.json
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

No more errors!
  src/app/container/version-modal/version-modal.component.html
  src/app/containers/list/list.component.ts
  src/app/organizations/collections/collections.component.ts
  src/app/organizations/collections/create-collection/create-collection.component.ts
  src/app/shared/code-editor-list/code-editor-list.component.html
  src/app/shared/tool-lister.ts
  src/app/starredentries/starredentries.component.html
  src/app/workflow/tool-tab/tool-tab.component.html
  src/app/workflows/list/list.component.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Undo hack for testing locally.
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
Due: prettier --write

allow admins and curators to see a users github app logs
  cypress/e2e/group3/githubAppTools.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

removed icon image on button
  src/app/user-page/user-page.component.html
Due: prettier --write

removed unused imports
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

cleanup
  src/app/configuration.service.ts
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

adapt test
  src/app/footer/footer.service.spec.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

allow admins and curators to see user's other linked accounts
  cypress/e2e/immutableDatabaseTests/admin.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
