Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Be able to truncate to two lines
  src/styles.scss
Due: prettier --write

Add tools topic
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/shared/container.service.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

Add test
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Fix?
  cypress/integration/group2/myworkflows.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

Use correct font size
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

oops
  src/app/search/search.component.html
Due: prettier --write

Initial refactor
  src/app/search/get-histogram-style.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/search.module.ts
  src/app/search/sidebar/sidebar.component.html
  src/app/search/sidebar/sidebar.component.scss
  src/app/search/sidebar/sidebar.component.spec.ts
  src/app/search/sidebar/sidebar.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Fix test?
  src/app/search/get-histogram-style.pipe.spec.ts
  src/app/search/search.component.spec.ts
  src/app/search/sidebar/sidebar.component.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Move more to service
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/sidebar/sidebar.component.ts
  src/app/search/state/search.service.ts
  src/app/shared/alert/state/alert.service.ts
Due: prettier --write, eslint --fix

Move filters to store
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/sidebar/sidebar.component.ts
  src/app/search/state/search.query.ts
  src/app/search/state/search.service.ts
  src/app/search/state/search.store.ts
Due: prettier --write, eslint --fix

Handle weird case
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

first version
  src/app/app.module.ts
  src/app/information-dialog/information-dialog.component.html
  src/app/information-dialog/information-dialog.component.scss
  src/app/information-dialog/information-dialog.component.ts
  src/app/information-dialog/information-dialog.service.ts
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

I messed up the migrations, restarting
  travisci/db_dump.sql
Due: none

D'oh!
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Update package.json
  package.json
Due: none

change observable type, comment tweak
  src/app/information-dialog/information-dialog.service.ts
Due: prettier --write, eslint --fix

New DB dump from scratch. Removed smoke test that doesn't work with hosted workflows as it expects a repo link
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

Actual new DB dump
  travisci/db_dump.sql
Due: none

Working basic-enduser tests
  .circleci/config.yml
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

switch to Versions tab when "need default version to publish" dialog is closed
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry-actions/entry-actions.service.ts
  src/app/shared/entry-actions/tool-actions.component.ts
  src/app/shared/entry-actions/workflow-actions.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

improve dialog text
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

change type of showVersion emitter to void
  src/app/shared/entry-actions/entry-actions.service.ts
  src/app/shared/entry-actions/tool-actions.component.ts
  src/app/shared/entry-actions/workflow-actions.component.ts
Due: prettier --write, eslint --fix

oops, that explains a lot
  package.json
Due: none

adjust integration tests
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Scoping the db dump specifically to the smoke tests
  .circleci/config.yml
  package.json
  scripts/run-webservice-script.sh
  travisci/db_dump.sql
  travisci/smoke_test_db.sql
Due: none

more integration test tweaks
  cypress/integration/group1/checkerWorkflowFromTools.ts
  cypress/integration/group1/checkerWorkflowFromWorkflow.ts
Due: prettier --write, eslint --fix

See if this helps with timeouts
  cypress.json
Due: none

Adding 1 retry, should still avoid timeouts
  cypress.json
Due: none

The commands work locally, perhaps a race condition?
  .circleci/config.yml
Due: none

add a couple more tests
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add/use data-cy on set default button to decrease brittleness
  cypress/integration/group1/checkerWorkflowFromTools.ts
  cypress/integration/group1/checkerWorkflowFromWorkflow.ts
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/container/view/view.component.html
  src/app/workflow/view/view.component.html
Due: prettier --write, eslint --fix

This shouldn't be needed, but this is how it's erroring out
  .circleci/config.yml
Due: none

remove the integration tests because this is taking longer than expected.
  .circleci/config.yml
Due: none

Update JAR
  package.json
Due: none

Update source
  package.json
Due: none

Copying from the webservice
  .circleci/config.yml
Due: none

Adding explicit wait for ES
  .circleci/config.yml
Due: none

I forgot to add this key piece of information for the webservice
  .circleci/config.yml
  travisci/web.yml
Due: none

returning this to what it was
  .circleci/config.yml
Due: none
