Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Revert "make tests fail so I can link to example"
  package-lock.json
  package.json
Due: none

github actions
  .github/npm-audit.yml
Due: none

add bad package
  package-lock.json
  package.json
Due: none

wrong folder
  .github/workflows/npm-audit.yml
Due: none

does this work?
  .github/workflows/npm-audit2.yml
Due: none

wrong tag?
  .github/workflows/npm-audit.yml
Due: none

get rid of new vuln
  .github/workflows/npm-audit.yml
  .github/workflows/npm-audit2.yml
  package-lock.json
  package.json
Due: none

what does the other one do now
  .github/workflows/npm-audit.yml
  .github/workflows/npm-audit2.yml
Due: none

Calculate has imports and show warning (#1395)
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

draft quality
  src/app/container/container.component.css
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/modules/container.module.ts
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

update entry categories on collection add
  src/app/organizations/collection/state/add-entry.service.ts
Due: prettier --write, eslint --fix

fix category update race condition
  src/app/categories/state/entry-categories.service.ts
Due: prettier --write, eslint --fix

Add container classes (#1397)
  cypress/integration/immutableDatabaseTests/workflowDetails.ts
  src/bootstrap4.scss
  src/styles.scss
Due: prettier --write, eslint --fix

Change name
  .circleci/config.yml
Due: none

add tool category button check
  cypress/integration/group2/categories.ts
Due: prettier --write, eslint --fix

white space fix
  scripts/compare-num-vulns.sh
Due: none

add workflow tests
  cypress/integration/group2/categories.ts
Due: prettier --write, eslint --fix

remove unnecessary test waits
  cypress/integration/group2/categories.ts
Due: prettier --write, eslint --fix

fix openjdk installation instructions for Mac OS X homebrew
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

no wrap
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

separate openjdk install instructions from docker install instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

make circle test browser happy
  src/app/container/container.component.css
  src/app/container/container.component.html
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
Due: prettier --write

need to use git ref name
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

Fix OpenJDK installation instructions for Mac OS X homebrew (#1398)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

need to use git ref name (#1401)
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

simplify race condition solution
  src/app/categories/state/entry-categories.service.ts
Due: prettier --write, eslint --fix

disable delete menu option for default tag, inform on tag deletion error
  src/app/container/view/view.component.html
  src/app/container/view/view.component.ts
Due: prettier --write, eslint --fix

Add hint, rename field, remove tooltip
  src/app/container/add-tag/add-tag.component.html
Due: prettier --write

Also hit for git reference
  src/app/container/add-tag/add-tag.component.html
Due: prettier --write

Increase margins
  src/app/container/add-tag/add-tag.component.html
Due: prettier --write

Feature/4539/version tag (#1403)
  src/app/container/add-tag/add-tag.component.html
Due: prettier --write

PR feedback
  .circleci/config.yml
  scripts/compare-num-vulns.sh
  scripts/npm-audit.sh
Due: none

use new files
  .circleci/config.yml
Due: none

rename class size-12 to size-small
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

use consistent app-category-button weight, edit comment
  src/app/categories/button/category-button.component.scss
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

make case sensitive, ignore grep exit code
  scripts/npm-audit.sh
Due: none

one more time
  .circleci/config.yml
Due: none

boooo
  scripts/compare-num-vulns.sh
Due: none

uno mas
  .circleci/config.yml
Due: none

add entry page category buttons
  cypress/integration/group2/categories.ts
  src/app/categories/button/category-button.component.scss
  src/app/categories/state/entry-categories.query.ts
  src/app/categories/state/entry-categories.service.ts
  src/app/categories/state/entry-categories.store.ts
  src/app/container/container.component.css
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/organizations/collection/state/add-entry.service.ts
  src/app/shared/entry.ts
  src/app/shared/modules/container.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
