Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Revert browser tool fix
  .circleci/config.yml
Due: none

ai topic sentence ui initial
  src/app/container/info-tab/info-tab.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

PR feedback
  src/app/github-landing-page/github-landing-page.component.html
  src/app/shared/session/session.query.ts
  src/assets/text/sample-notebook-dockstore.yml
  src/assets/text/sample-service-dockstore.yml
  src/assets/text/sample-tool-dockstore.yml
  src/assets/text/sample-workflow-dockstore.yml
Due: prettier --write, eslint --fix

revert temporary chromedriver fix (match develop)
  .circleci/config.yml
Due: none

figuring out test [skip ci]
  cypress/e2e/group2/myworkflows.ts
  cypress/fixtures/workflowWithTopicAI.json
Due: prettier --write, eslint --fix

figuring out test [skip ci]
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

ai test
  cypress/e2e/group2/myworkflows.ts
  cypress/fixtures/workflowWithTopicAI.json
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

tool badge
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

PR feedback and cleanup github installation link usage
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/container/tool-file-editor/tool-file-editor.component.html
  src/app/container/tool-file-editor/tool-file-editor.component.ts
  src/app/github-callback/github-callback.service.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/code-editor/code-editor.component.ts
  src/app/shared/files.ts
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.ts
  src/app/shared/session/session.query.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.html
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
  src/app/workflow/workflow.component.html
  src/assets/text/sample-notebook-dockstore.yml
  src/assets/text/sample-service-dockstore.yml
  src/assets/text/sample-tool-dockstore.yml
  src/assets/text/sample-workflow-dockstore.yml
Due: prettier --write, eslint --fix

Fix test
  src/app/shared/register-github-app/register-github-app.component.spec.ts
Due: prettier --write, eslint --fix

DOCK-2484: Keep original URL on Page Not Found (#1932)
  cypress/e2e/immutableDatabaseTests/notfound.ts
  src/app/container/container.component.ts
  src/app/organizations/organization/state/update-organization-description.service.spec.ts
  src/app/organizations/state/collections.service.spec.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.spec.ts
  src/app/organizations/state/organization.service.ts
  src/app/organizations/state/register-organization.service.spec.ts
  src/app/shared/entry.ts
  src/app/shared/url-resolver.service.ts
  src/app/user-page/user-page.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/github-landing-page/github-landing-page.component.html
  src/assets/text/sample-notebook-dockstore.yml
  src/assets/text/sample-service-dockstore.yml
  src/assets/text/sample-tool-dockstore.yml
  src/assets/text/sample-workflow-dockstore.yml
Due: prettier --write

Dynamic landing page & some tweaks (#1935)
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/container/tool-file-editor/tool-file-editor.component.html
  src/app/container/tool-file-editor/tool-file-editor.component.ts
  src/app/github-callback/github-callback.service.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/code-editor/code-editor.component.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.spec.ts
  src/app/shared/register-github-app/register-github-app.component.ts
  src/app/shared/session/session.query.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.html
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
  src/assets/text/sample-notebook-dockstore.yml
  src/assets/text/sample-service-dockstore.yml
  src/assets/text/sample-tool-dockstore.yml
  src/assets/text/sample-workflow-dockstore.yml
Due: prettier --write, eslint --fix

fixed search
  src/app/search/query-builder.service.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write, eslint --fix

get new index
  package.json
Due: none

fixing unit test issue
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

tooltip message edit
  src/app/container/info-tab/info-tab.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

save wip
  src/app/descriptor-languages/Galaxy.ts
  src/app/shared/launch.service.ts
  src/app/shared/state/workflow.query.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

try initial link check test
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

svg
  src/assets/svg/ai-icon.svg
Due: none

try adding error logs, removing wait
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

restore wait, add chaining
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

pr review
  src/app/container/info-tab/info-tab.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

WIP
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

moved bubble to a new component
  src/app/container/info-tab/info-tab.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.module.ts
  src/app/shared/ai-bubble/ai-bubble.component.html
  src/app/shared/ai-bubble/ai-bubble.component.ts
  src/app/shared/ai-bubble/ai-bubble.module.ts
  src/app/shared/modules/container.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

tweak formatting, try original wait time
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Only display skipped executions info if user is admin/curator/platformPartner
  src/app/shared/user/user.query.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

more reliable but probably not "angular"
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

Show param download only if available
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

pr review'
  src/app/search/search-notebook-table/search-notebook-table.component.ts
Due: prettier --write, eslint --fix

pr review'
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/shared/ai-bubble/ai-bubble.component.html
  src/app/shared/ai-bubble/ai-bubble.component.ts
Due: prettier --write, eslint --fix

update artifacts
  package.json
Due: none

Use develop webservice artifact
  package.json
Due: none

pr review'
  src/app/search/search-workflow-table/search-workflow-table.component.ts
Due: prettier --write, eslint --fix

Display skipped executions warning for metrics (#1938)
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
  src/app/search/state/search.service.spec.ts
  src/app/shared/user/user.query.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

copyright
  src/app/shared/ai-bubble/ai-bubble.component.ts
Due: prettier --write, eslint --fix

platform-partner: move role setting
  cypress/e2e/immutableDatabaseTests/platform-partner.ts
Due: prettier --write, eslint --fix

myworkflows: add temporary waits for debugging
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

myworkflows: modify topic selection test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
