Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

take out unused imports
  src/app/home-page/recent-events/recent-events.component.ts
Due: prettier --write, eslint --fix

check if user is defined
  src/app/home-page/recent-events/recent-events.component.ts
Due: prettier --write, eslint --fix

Made it so that no_auth and auth tests run at different times
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

get rid of unused inputs
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

add condition to getting events
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

Feature/flynn/seab 4406/spread out timings of tests (#1555)
  .circleci/config.yml
Due: none

Don't request categories for unpublished entries (#4821)
  src/app/categories/state/entry-categories.service.ts
  src/app/container/container.component.ts
  src/app/organizations/collection/state/add-entry.service.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

fixup! Don't request categories for unpublished entries (#4821)
  src/app/categories/state/entry-categories.service.ts
Due: prettier --write, eslint --fix

call webservice gitCliVersion
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

fix javascript to get cli version
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Don't request categories for unpublished entries (dockstore/dockstore#4821, PR #1553)
  src/app/categories/state/entry-categories.service.ts
  src/app/container/container.component.ts
  src/app/organizations/collection/state/add-entry.service.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Update README for devs
  README.md
Due: none

create new link for logged-in homepage
  src/app/app.routing.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/navbar/navbar.component.html
Due: prettier --write, eslint --fix

only show my dockstore when user is logged in
  src/app/navbar/navbar.component.html
Due: prettier --write

update tests
  cypress/integration/group2/myworkflows.ts
  cypress/integration/group2/organizations.ts
  cypress/integration/immutableDatabaseTests/newsUpdates.ts
Due: prettier --write, eslint --fix

use class for cli info and return full url
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

change title
  src/app/app.routing.ts
Due: prettier --write, eslint --fix

Create a new 'My Dockstore' tab so logged-in users can see both dashboard and the logged-out homepage (#1558)
  cypress/integration/group2/myworkflows.ts
  cypress/integration/group2/organizations.ts
  cypress/integration/immutableDatabaseTests/newsUpdates.ts
  src/app/app.routing.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/navbar/navbar.component.html
Due: prettier --write, eslint --fix

take away min width and move edit/delete to new row
  src/app/organizations/organization-members/organization-members.component.html
  src/styles.scss
Due: prettier --write

update circle ci build
  package.json
Due: none

update link
  package.json
Due: none

Organization members page has crowded UI (#1559)
  package.json
  src/app/organizations/organization-members/organization-members.component.html
  src/styles.scss
Due: prettier --write

add condition
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

Remove invalid source code link
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

surface errors
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

make variable name unique
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

bump webservice build to get new CLI info API
  package.json
Due: none

use proper webservice source
  package.json
  scripts/generate-openapi-script.sh
Due: none

don't use local path
  scripts/generate-openapi-script.sh
Due: none

use correct build id and branch name
  package.json
Due: none

fix branch name
  package.json
Due: none

have CircleCI use artifacts from Artifactory
  package.json
Due: none

test
  package.json
Due: none

fix package variables
  package.json
Due: none

add snack bar module to test
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.spec.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix
