Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add more space between results
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

fix test
  src/app/entry/archive/dialog/archive-entry-dialog.component.spec.ts
Due: prettier --write, eslint --fix

add query params to HelloWorld links correctly
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

experiment
  src/app/myworkflows/myworkflows.service.ts
Due: prettier --write, eslint --fix

complete the experiment
  src/app/mytools/mytools.service.ts
Due: prettier --write, eslint --fix

fix
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

discovery
  cypress/e2e/group3/deletion.ts
  cypress/support/commands.ts
  src/app/container/container.component.ts
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/shared/myentries.service.ts
Due: prettier --write, eslint --fix

remove log statements and deferred router event subscription
  cypress/support/commands.ts
  src/app/container/container.component.ts
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/shared/myentries.service.ts
Due: prettier --write, eslint --fix

remove some bogus changes from a previous reset
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/myworkflows.service.ts
Due: prettier --write, eslint --fix

add no tool "junk" fix
  src/app/container/container.component.html
Due: prettier --write

enable electron logging
  .circleci/config.yml
Due: none

remove electron logging
  .circleci/config.yml
Due: none

Display search highlighting (#1850)
  src/app/search/basic-search/basic-search.component.html
  src/app/search/join-with-ellipses.pipe.spec.ts
  src/app/search/join-with-ellipses.pipe.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/search/search.module.ts
  src/app/search/state/search.query.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/shared/styles/entry-table.scss
Due: prettier --write, eslint --fix

split nested tests into parts
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Disable manual topic editing in the UI for GitHub App entries
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

fix (#1856)
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

fix flaky UI integration tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/deletion.ts
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/mytools/my-tool/my-tool.component.ts
Due: prettier --write, eslint --fix

Use the descriptorLanguage pipe to handle Galaxy
  src/app/workflow/versions/versions.component.html
Due: prettier --write

tweak archival test
  cypress/e2e/group3/archival.ts
Due: prettier --write, eslint --fix

Split up deletion test to see if it reduces flakiness
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

PR feedback
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

Use the descriptorLanguage pipe to handle Galaxy on the versions tab (#1855)
  cypress/e2e/group3/deletion.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

correctly construct HelloWorld on homepage
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

Update smoke tests for both Twitter and Mastodon
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/immutableDatabaseTests/app-spec.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Update smoke tests for both Twitter and Mastodon (#1861)
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/immutableDatabaseTests/app-spec.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Tell user to reset if there are no search results
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/noHitsSearchTableResponse.json
  src/app/search/query-builder.service.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

PR feedback; only one warning if searching from home page;
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Fix tests, hopefully
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Accidental typo
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add basic launch to github codespaces
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

unskip test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Specify that editing in the UI is deprecated for GitHub App entries
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Accidental typo
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  src/app/search/search.component.html
Due: prettier --write, eslint --fix

Optimize imports
  src/app/search/query-builder.service.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Disable manual topic editing in the UI for GitHub App entries (#1859)
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Tell user to reset if there are no search results
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/noHitsSearchTableResponse.json
  src/app/search/query-builder.service.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Remove unnecessary removal.
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

rough draft
  package.json
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
