Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

add cypress testing for sorting organizations by name
  cypress/e2e/group2/organizations.ts
Due: prettier --write, eslint --fix

rerun tests
  cypress/e2e/group2/organizations.ts
Due: prettier --write, eslint --fix

SEAB-6108: Update upload/download artifacts from v3 to v4 (#1914)
  .github/workflows/accessibility_test.yml
  scripts/run-pa11y-ci.sh
Due: none

add unit testing for filter/sort organizations
  src/app/organizations/state/organizations.query.spec.ts
Due: prettier --write, eslint --fix

DOCK-2470: make organizations sort by name case-insensitive (#1910)
  cypress/e2e/group2/organizations.ts
  src/app/organizations/state/organizations.query.spec.ts
  src/app/organizations/state/organizations.query.ts
Due: prettier --write, eslint --fix

don't display "Refresh Organization" button in my-notebooks accordion
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
Due: prettier --write

enable notebook versions to be hidden
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

change scheme
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

fix test
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

add notebooks count to "Starred" box in dashboard
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

remove More button and Discover Tools menu
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

Metrics column value in my-workflows was wrong
  cypress/e2e/group3/metrics.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

skip test and document why
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

adjust "test file" label for notebooks in version dialog
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

add "notebooks" to advanced search intro text
  src/app/search/advancedsearch/advancedsearch.component.html
Due: prettier --write

parameterize entry term in DOI/ORCID dialog
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
Due: prettier --write, eslint --fix

remove checked/checker verbiage from delete dialog for non-workflows
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

fix unit test
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.spec.ts
Due: prettier --write, eslint --fix

Metrics column value in my-workflows was wrong (#1918)
  cypress/e2e/group3/metrics.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

remove "More"/"Discover Tools" button/menu from my-tools accordion
  cypress/e2e/group3/mytools.ts
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write, eslint --fix

suppress metrics snackbar
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

set position of Version table header tooltips to "above"
  src/app/workflow/versions/versions.component.html
Due: prettier --write

reposition tooltips on tools Versions table headings
  src/app/container/versions/versions.component.html
Due: prettier --write

tweak delete dialog checked/checker item condition/messaging
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

suppress "Retrieving metrics data succeeded" snackbar
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

position tooltips above Versions table headings
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

adjust messaging for notebooks
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
  src/app/search/advancedsearch/advancedsearch.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.spec.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write, eslint --fix

enable notebook versions to be hidden
  cypress/e2e/group2/notebooks.ts
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write, eslint --fix

Save work. Sort of working, got to clean up
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/lambda-events-datasource.ts
Due: prettier --write, eslint --fix

update friendly values pipe for 'type' field
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

Cleanup
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/lambda-events-datasource.ts
Due: prettier --write, eslint --fix

Update tests
  cypress/e2e/group2/myworkflows.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write, eslint --fix

Delete SECURITY.md
  SECURITY.md
Due: none

DOCK-2488: Update Apps Logs type to title case (#1924)
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

Swap position of Metrics and Tool tabs
  src/app/workflow/workflow.component.html
Due: prettier --write

hide blank metrics rows
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

clean code
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Test now has to scroll to click Tools tab.
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix
