Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix mat tabs
  src/_functions.scss
  src/app/loginComponents/accounts/accounts.component.scss
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/app/shared/styles/my-entry-sidebar.scss
  src/app/shared/styles/workflow-container.component.scss
  src/app/starredentries/starredentries.component.scss
  src/app/user-page/user-page.component.scss
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

Fix dialogs, create _material-overrides.scss
  src/_functions.scss
  src/_material_overrides.scss
  src/app/confirmation-dialog/confirmation-dialog.component.html
  src/app/container/add-tag/add-tag.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/entry/archive/dialog/archive-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/file-tree/file-tree.component.html
  src/app/home-page/widget/organization-box/my-organizations-dialog.component/my-organizations-dialog.component.html
  src/app/information-dialog/information-dialog.component.html
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.html
  src/app/loginComponents/requests/organization-invite-confirm-dialog.html
  src/app/loginComponents/requests/organization-request-confirm-dialog.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collection/collection-entry-confirm-remove.html
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/collections/remove-collection/remove-collection.component.html
  src/app/organizations/organization/update-organization-description/update-organization-description.component.html
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/search/advancedsearch/advancedsearch.component.html
  src/app/shared/available-logs/available-logs.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/styles.scss
Due: prettier --write

Nav bar fixes
  src/_material-overrides.scss
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
  src/styles.scss
Due: prettier --write

Add padding
  src/app/search/search-entry-table.component.html
Due: prettier --write

Fix input tests
  cypress/e2e/group2/categories.ts
  cypress/e2e/group2/notificationBadge.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/mytools.ts
  cypress/e2e/group3/starEntry.ts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/support/commands.ts
  src/app/container/add-tag/add-tag.component.html
  src/app/containers/list/list.component.html
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/update-organization-description/update-organization-description.component.html
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/workflows/list/list.component.html
Due: prettier --write, eslint --fix

Fix more tests
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.html
Due: prettier --write, eslint --fix

Try removing should be visible
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Try dismissing tos banner
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Try focusing input
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Revert "Try dismissing tos banner"
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

More TODO(mdc) fixes
  src/app/funding/funding.component.html
  src/app/funding/funding.component.scss
  src/app/search/basic-search/basic-search.component.html
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/app/shared/mastodon/mastodon.component.html
  src/app/shared/mastodon/mastodon.component.scss
  src/app/shared/styles/info-tab.component.scss
  src/app/shared/styles/radio-button-cards.scss
  src/ds-style-fix.scss
  src/styles.scss
Due: prettier --write

Remove duplicate
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Remove more todos
  src/app/login/login.component.html
  src/app/loginComponents/accounts/external/accounts.component.scss
  src/app/shared/styles/radio-button-cards.scss
  src/styles.scss
Due: prettier --write

Use data-cy in edit topic tests
  cypress/e2e/group2/myworkflows.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write, eslint --fix

More style clean up
  src/_material-overrides.scss
  src/app/container/view/view.component.css
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/navbar/navbar.component.html
  src/app/shared/styles/my-entry.component.scss
  src/app/source-file-tabs/source-file-tabs.component.scss
  src/app/workflow/view/view.component.css
  src/styles.scss
Due: prettier --write

Comment out sonarcloud
  .circleci/config.yml
Due: none

More test fixes
  cypress/e2e/group2/myworkflows.ts
  src/app/shared/entry-wizard/entry-wizard.component.html
Due: prettier --write, eslint --fix

Try this
  cypress/e2e/group2/myworkflows.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Check aria-checked
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Fix slide toggles
  src/_material-overrides.scss
Due: prettier --write

Typo
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Revert "Comment out sonarcloud"
  .circleci/config.yml
Due: none

More mdc to data-cy conversions
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group2/notificationBadge.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/smokeTests/sharedTests/zenodo.ts
  cypress/support/commands.ts
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

SEAB-6966: add relevance sort in search (#2071)
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

Fix more tests
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/mytools.ts
  cypress/support/commands.ts
  src/app/confirmation-dialog/confirmation-dialog.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

rough
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

improve
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

www.dnastack.com -> dnastack.com
  src/app/about/about.component.html
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

Fix tests
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group1/hostedTools.ts
  cypress/e2e/group1/hostedWorkflows.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/mytools.ts
  cypress/support/commands.ts
  src/app/container/container.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

remove restub
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

add correct command, tweak surrounding text
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

Convert tab tests to use data-cy
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group1/hostedTools.ts
  cypress/e2e/group1/hostedWorkflows.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/metrics.ts
  cypress/e2e/group3/mytools.ts
  cypress/e2e/group3/starEntry.ts
  cypress/e2e/immutableDatabaseTests/admin.ts
  cypress/e2e/immutableDatabaseTests/disabledAccountControls.ts
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/versionModal.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/zenodo.ts
  cypress/support/commands.ts
  src/app/container/container.component.html
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Service.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/search/search.component.html
  src/app/shared/constants.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/starredentries/starredentries.component.html
  src/app/user-page/user-page.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Fix test
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Fix tabs
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/immutableDatabaseTests/admin.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
  src/app/container/container.component.html
  src/app/loginComponents/accounts/accounts.component.html
  src/app/search/search.component.html
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/starredentries/starredentries.component.html
  src/app/user-page/user-page.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

More tab fixes
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

More fixes
  cypress/e2e/group3/archival.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Fix more tests
  cypress/e2e/group3/starEntry.ts
  cypress/e2e/immutableDatabaseTests/admin.ts
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

Missed this
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
