Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

rename var, add some top/bottom padding to link
  src/app/entry/current-collections/current-collections.component.html
Due: prettier --write

improve comment
  src/styles.scss
Due: prettier --write

Try only installing Chrome
  .circleci/config.yml
Due: none

Specify base url used for relative links in README markdown
  src/app/container/info-tab/info-tab.component.html
  src/app/shared/entry/base-url.pipe.spec.ts
  src/app/shared/entry/base-url.pipe.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

Fix test
  src/app/shared/entry/base-url.pipe.spec.ts
Due: prettier --write, eslint --fix

Fix comments
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
Due: prettier --write, eslint --fix

change org logo alt text
  src/app/entry/current-collections/current-collections.component.html
Due: prettier --write

Reduce changeDescriptor calls (#1451)
  .circleci/config.yml
  .gitallowed
  src/app/container/launch/launch.component.ts
Due: prettier --write, eslint --fix

npx @angular/cli@13 update @angular/core@13 @angular/cli@13 @angular-eslint/builder @angular-eslint/schematics --force
  .gitignore
  package-lock.json
  package.json
  src/polyfills.ts
  src/test.ts
Due: prettier --write, eslint --fix

npx @angular/cli@13 update @angular/material@13 @angular/flex-layout --force
  package-lock.json
  package.json
  src/app/about/about.component.scss
  src/app/footer/footer.component.scss
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/widget/getting-started/getting-started.component.scss
  src/app/navbar/navbar.component.scss
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/organization/organization.component.scss
  src/app/organizations/organizations/organizations.component.scss
  src/app/search/search.component.scss
  src/app/workflow/versions/versions.component.scss
  src/featured-content.scss
  src/material.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

npm update @ngx-lite/json-ld ngx-markdown @fortawesome/angular-fontawesome ajv-keywords
  package-lock.json
  package.json
Due: none

npm i @fortawesome/angular-fontawesome@latest
  package-lock.json
  package.json
Due: none

npm i ngx-markdown@latest
  package-lock.json
  package.json
Due: none

Update node
  .nvmrc
Due: none

rm package-lock.json && npm i
  package-lock.json
Due: none

npm update --legacy-peer-deps
  package-lock.json
Due: none

Change make-template command (#1444)
  .circleci/config.yml
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

Remove URL polyfill
  src/polyfills.ts
Due: prettier --write, eslint --fix

Fix paths
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/entry.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
Due: prettier --write, eslint --fix

npm i @fortawesome/angular-fontawesome@latest @fortawesome/fontawesome-svg-core@latest @fortawesome/free-brands-svg-icons@latest @fortawesome/free-solid-svg-icons@latest
  package-lock.json
  package.json
Due: none

npm i karma@latest karma-chrome-launcher@latest karma-coverage-istanbul-reporter@latest karma-jasmine@latest karma-jasmine-html-reporter@latest
  package-lock.json
  package.json
Due: none

Fix for ngx-markdown
  angular.json
Due: none

Use different coverage reporter
  angular.json
  karma.conf.js
  package-lock.json
  package.json
Due: none

npm run license
  THIRD-PARTY-LICENSES.csv
Due: none

Test with hotfix release
  package.json
Due: none

redirect correctly
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

separate regex
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Update add label test
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

redirect correctly (#1452)
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Fix relative links in README descriptions (#1450)
  src/app/container/info-tab/info-tab.component.html
  src/app/shared/entry/base-url.pipe.spec.ts
  src/app/shared/entry/base-url.pipe.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

Feature/angular13 (#1455)
  .gitignore
  .nvmrc
  THIRD-PARTY-LICENSES.csv
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/about/about.component.scss
  src/app/footer/footer.component.scss
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/widget/getting-started/getting-started.component.scss
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/navbar/navbar.component.scss
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/organization/organization.component.scss
  src/app/organizations/organizations/organizations.component.scss
  src/app/search/search.component.scss
  src/app/shared/entry.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
  src/app/workflow/versions/versions.component.scss
  src/featured-content.scss
  src/material.scss
  src/materialColorScheme.scss
  src/polyfills.ts
  src/styles.scss
  src/test.ts
Due: prettier --write, eslint --fix

Update .browserslist
  .browserslistrc
Due: none

Update polyfills (no difference)
  src/polyfills.ts
Due: prettier --write, eslint --fix

Remove packages not in new Angular projects
  package-lock.json
  package.json
Due: none

npm uninstall @angular/platform-server
  package-lock.json
  package.json
Due: none

oops :(
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix
