Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add test for pipe
  src/app/search/join-with-ellipses.pipe.spec.ts
  src/app/search/join-with-ellipses.pipe.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/search/state/search.query.ts
Due: prettier --write, eslint --fix

Clean up
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/styles/entry-table.scss
Due: prettier --write

More clean up
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.ts
Due: prettier --write, eslint --fix

Update to develop branch
  package.json
Due: none

See if latest artifacts get tests passing.
  package.json
Due: none

Add tooltips
  package.json
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

SonarCloud pacification
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/search.module.ts
Due: prettier --write, eslint --fix

Go back to feature flag
  src/app/shared/feature.service.ts
Due: prettier --write, eslint --fix

Provider error fix
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

Some work
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/search/map-friendly-values.pipe.spec.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/search.module.ts
  src/app/search/state/search.service.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
Due: prettier --write, eslint --fix

Disable flaky test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Honor the flag
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

display "Edit File" buttons according to archived status
  src/app/container/container.component.html
  src/app/container/tool-file-editor/tool-file-editor.component.html
  src/app/container/tool-file-editor/tool-file-editor.component.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.html
Due: prettier --write, eslint --fix

Add missing style
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

make archived entries appear last in search results
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

add "Archived" search facet
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Show which versions have metrics in versions table.
  src/app/search/search.component.ts
  src/app/shared/constants.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

move location of "Archived" label, edit archive confirmation dialog text
  src/app/container/container.component.html
  src/app/entry/archive/dialog/archive-entry-dialog.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

Cleanup
  src/app/shared/feature.service.spec.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

fix tests
  package.json
  src/app/mytools/mytools.service.spec.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/shared/entry-actions/entry-actions.service.spec.ts
  src/app/test/mocked-objects.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

remove circular service dependency
  src/app/entry/archive/dialog/archive-entry-dialog.component.ts
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

fix initial entry selection in accordion
  src/app/shared/myentries.service.ts
Due: prettier --write, eslint --fix

fix test
  src/app/entry/archive/dialog/archive-entry-dialog.component.spec.ts
Due: prettier --write, eslint --fix

fix bug in template
  cypress/support/commands.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
Due: prettier --write, eslint --fix

disable workflow version Actions differently
  src/app/workflow/view/view.component.html
Due: prettier --write

revert cypress support oopsie
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add test, tweak archived bubble, bug fix
  cypress/e2e/group3/archival.ts
  src/app/container/container.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

handle null version in Event
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

Feature/5568/metrics (#1848)
  cypress/e2e/group2/myworkflows.ts
  package.json
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/search/map-friendly-values.pipe.spec.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/shared/constants.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

update comment
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

refactor
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

Add padding between entry and highlight row
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

Add type to highlight
  src/app/search/state/search.query.ts
Due: prettier --write, eslint --fix

Rename pipe
  src/app/search/join-with-ellipses.pipe.spec.ts
  src/app/search/join-with-ellipses.pipe.ts
  src/app/search/search.module.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

titlecase delete/archive dialog buttons
  src/app/entry/archive/dialog/archive-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
Due: prettier --write

improve archive dialog text
  src/app/entry/archive/dialog/archive-entry-dialog.component.html
Due: prettier --write

remove callback from dialog
  src/app/entry/archive/dialog/archive-entry-dialog.component.ts
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

add fallback to path in archive/delete dialogs
  src/app/entry/archive/dialog/archive-entry-dialog.component.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

replace "Archived" bubble with banner
  cypress/e2e/group3/archival.ts
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
