Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

add search results total
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/shared/styles/dashboard-boxes.scss
Due: prettier --write, eslint --fix

Clean up
  src/app/shared/state/entry-wizard.service.ts
Due: prettier --write, eslint --fix

Redirect to previous page after GitHub App install
  src/app/github-callback/github-callback.service.spec.ts
  src/app/github-callback/github-callback.service.ts
  src/app/shared/feature.service.ts
  src/app/shared/session/session.query.ts
Due: prettier --write, eslint --fix

Select an entry from the same organization if the previous entry doesn't exist
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/myentries.service.ts
Due: prettier --write, eslint --fix

Fix immutableDBTests
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

Added Accent 2 colour palette and updated blue banner style (#1722)
  src/app/container/container.component.html
  src/app/container/files/files.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/recent-events/recent-events.component.html
  src/app/loginComponents/requests/requests.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/search/search.component.html
  src/app/shared/code-editor-list/code-editor-list.component.html
  src/app/stargazers/stargazers.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.html
  src/app/workflow/workflow.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

added notebook tab
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

added comments
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

add news & updates card, twitter widget and notification updates banner to dashboard
  cypress/e2e/immutableDatabaseTests/newsUpdates.ts
  cypress/e2e/immutableDatabaseTests/notificationUpdates.ts
  cypress/fixtures/notificationUpdates.json
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/featured-content/news-and-updates.component.ts
  src/app/home-page/widget/news-box/news-box.component.html
  src/app/home-page/widget/news-box/news-box.component.spec.ts
  src/app/home-page/widget/news-box/news-box.component.ts
  src/app/home-page/widget/news-updates/news-updates.component.html
  src/app/home-page/widget/news-updates/news-updates.component.scss
  src/app/home-page/widget/news-updates/news-updates.component.ts
  src/app/home-page/widget/news-updates/notification-updates.component.html
  src/app/home-page/widget/news-updates/notification-updates.component.scss
  src/app/home-page/widget/news-updates/notification-updates.component.spec.ts
  src/app/home-page/widget/news-updates/notification-updates.component.ts
  src/app/notifications/notifications.component.html
  src/app/notifications/notifications.component.spec.ts
  src/app/notifications/state/notifications.service.spec.ts
  src/app/notifications/state/notifications.service.ts
  src/app/shared/twitter.service.ts
Due: prettier --write, eslint --fix

update to develop artifacts
  package.json
Due: none

update notification test
  cypress/e2e/immutableDatabaseTests/notificationUpdates.ts
Due: prettier --write, eslint --fix

Tweak the facet wording
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

Begin open data
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Add open column to versions table
  src/app/shared/versions.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

test failures cause. The perils of duplication
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Additional renaming to bring into sync
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

PR feedback -- change facet description
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

Rewording per PR feedback.
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Fix code smells
  src/app/github-callback/github-callback.service.spec.ts
  src/app/github-callback/github-callback.service.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/myentries.service.ts
Due: prettier --write, eslint --fix

changed library for search
  src/app/app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

adjust for new api entry type information
  package.json
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

added comments and changed label
  src/app/app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

allow arrowkey navigation through search results
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

removed other package
  package-lock.json
  package.json
Due: none

fixed bug;
  src/app/workflow/workflow.component.html
Due: prettier --write

added packages to license csv
  THIRD-PARTY-LICENSES.csv
Due: none

Initialize in ngOnInit instead of constructor
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

Indicate open on versions table (#1723)
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
  src/app/shared/versions.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Elaborate
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

other words
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write

Position mattooltip to the left
  src/app/workflow/view/view.component.html
Due: prettier --write

Change redirectUrl param to redirectPath
  src/app/shared/session/session.query.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/shared/state/entry-wizard.service.ts
Due: prettier --write, eslint --fix

update package.json
  package.json
Due: none

package.json
  package.json
Due: none

Redirect to same workflow after refresh if possible (#1725)
  cypress/e2e/immutableDatabaseTests/services.ts
  src/app/github-callback/github-callback.service.spec.ts
  src/app/github-callback/github-callback.service.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/feature.service.ts
  src/app/shared/myentries.service.ts
  src/app/shared/session/session.query.ts
Due: prettier --write, eslint --fix

Redirect to registered workflow after quick register (#1724)
  src/app/shared/state/entry-wizard.service.ts
Due: prettier --write, eslint --fix

display no results message, fix navigation
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/shared/styles/dashboard-boxes.scss
Due: prettier --write, eslint --fix
