Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

One thing that is different with other auth tests
  package.json
Due: none

Revert "Another desperate attempt"
  .circleci/config.yml
Due: none

Revert "See if this changes anything"
  cypress.config.ts
Due: eslint --fix

Revert "Guess for smoke tests problem"
  .circleci/config.yml
Due: none

Try debugging with --record switch back on.
  package.json
Due: none

Back to the beginning
  package.json
Due: none

See if cache is messing things up, change to node18
  .circleci/config.yml
Due: none

Remove record againt
  .circleci/config.yml
  package.json
Due: none

See if teamcity reporter works any better.
  package.json
Due: none

Go for a large
  .circleci/config.yml
  package.json
Due: none

Made no difference.
  .circleci/config.yml
Due: none

Stop recording qa auth tests, sigh.
  package.json
Due: none

Sheesh, this broke regular tests?
  .circleci/config.yml
Due: none

Let's see if reorganizing tests makes a difference.
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  package.json
Due: prettier --write, eslint --fix

Revert "Let's see if reorganizing tests makes a difference."
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  package.json
Due: prettier --write, eslint --fix

Update routing to not use modules
  src/app/aliases/aliases.routing.ts
  src/app/app.routing.ts
  src/app/containers/containers.routing.ts
  src/app/docs/docs.routing.ts
  src/app/my-notebooks/my-notebooks.routing.ts
  src/app/my-services/my-services.routing.ts
  src/app/mytools/mytools.routing.ts
  src/app/myworkflows/myworkflows.routing.ts
  src/app/organizations/organizations.routing.ts
  src/app/search/search.routing.ts
  src/app/user-page/user-page.routing.ts
  src/app/workflows/apptools/apptools.routing.ts
  src/app/workflows/notebooks/notebooks.routing.ts
  src/app/workflows/services/services.routing.ts
  src/app/workflows/workflows.routing.ts
Due: prettier --write, eslint --fix

Try record on staging
  package.json
Due: none

fix
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

See if latest works
  .circleci/config.yml
Due: none

Revert "See if latest works"
  .circleci/config.yml
Due: none

Revert "Try record on staging"
  package.json
Due: none

Get QA Auth Smoke Tests passing (#1975)
  package.json
Due: none

[skip ci] Save work
  src/app/app.component.spec.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.spec.ts
  src/app/funding/funding.component.spec.ts
  src/app/home-page/dashboard/dashboard.component.spec.ts
  src/app/home-page/home-logged-out/home.component.spec.ts
  src/app/home-page/widget/getting-started/getting-started.component.spec.ts
  src/app/home-page/widget/news-box/news-box.component.spec.ts
  src/app/login/login.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.spec.ts
  src/app/my-sidebar/my-sidebar.component.spec.ts
  src/app/myworkflows/my-workflow/my-workflow.component.spec.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/app/organizations/state/collections.service.spec.ts
  src/app/search/search-results/search-results.component.spec.ts
  src/app/select/select.component.spec.ts
  src/app/shared/entry-actions/entry-actions.service.spec.ts
  src/app/starredentries/starredentries.component.spec.ts
  src/app/workflow/permissions/permissions.component.spec.ts
Due: prettier --write, eslint --fix

Unit tests passing!
  src/app/app.component.spec.ts
  src/app/home-page/dashboard/dashboard.component.spec.ts
  src/app/home-page/widget/getting-started/getting-started.component.spec.ts
  src/app/mytools/mytools.service.spec.ts
  src/app/myworkflows/my-workflow/my-workflow.component.spec.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/search/search-notebook-table/search-notebook-table.component.spec.ts
  src/app/search/search-results/search-results.component.spec.ts
  src/app/search/search-tool-table/search-tool-table.component.spec.ts
  src/app/search/search-workflow-table/search-workflow-table.component.spec.ts
  src/app/search/search.component.spec.ts
  src/app/shared/img-fallback.directive.spec.ts
  src/app/starredentries/starredentries.component.spec.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.spec.ts
Due: prettier --write, eslint --fix

review
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Tests passing again
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/mytools/mytools.service.spec.ts
  src/app/myworkflows/my-workflow/my-workflow.component.spec.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/search/state/search.service.spec.ts
  src/app/shared-workflow-services-notebooks/shared-workflow-services-notebooks.module.ts
  src/app/shared/modules/list-containers.module.ts
  src/app/shared/modules/list-workflows.module.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/shared/modules/workflowsPage.module.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
  src/app/workflow/workflow.component.ts
  src/app/workflows/apptools/apptools.module.ts
  src/app/workflows/notebooks/notebooks.module.ts
  src/app/workflows/services/services.module.ts
  src/app/workflows/workflows.module.ts
Due: prettier --write, eslint --fix

Final standalone changes, hopefully
  src/app/myworkflows/my-workflow/my-workflow.component.spec.ts
  src/app/shared/modules/markdown-wrapper.module.ts
  src/app/shared/modules/my-entries.module.ts
  src/main.ts
Due: prettier --write, eslint --fix

DOCK-2527: Improve DOI labels (#1976)
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

oops
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

oops (#1978)
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Fix some smoke test issues.
  src/main.ts
Due: prettier --write, eslint --fix

Avoid some confusion with duplicate selectors.
  src/app/container/container.component.html
  src/app/container/launch/launch.component.ts
Due: prettier --write, eslint --fix

Fix advanced search
  src/app/search/advancedsearch/advancedsearch.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

More fixes.
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

Increase resource_class to see if it fixes flakiness.
  .circleci/config.yml
Due: none

Scrollintoview is unsafe.
  .circleci/config.yml
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Mistake made last time.
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix
