Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Bump postgres, output nginx
  .circleci/config.yml
  .circleci/nginx.conf.tmpl
Due: none

Show errors
  .circleci/config.yml
  .circleci/nginx.conf.tmpl
Due: none

Remove outlined for raised cards
  src/app/about/about.component.html
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.html
  src/app/container/launch/launch.component.html
  src/app/entry/current-collections/current-collections.component.html
  src/app/funding/funding.component.html
  src/app/github-landing-page/github-landing-page.component.html
  src/app/home-page/dashboard/dashboard.component.html
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/news-box/news-box.component.html
  src/app/home-page/widget/news-updates/news-notifications.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/login/login.component.html
  src/app/loginComponents/accounts/controls/controls.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/loginComponents/requests/requests.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/events/events.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.scss
  src/app/shared/available-logs/available-logs.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.html
  src/app/shared/entry/verified-by/verified-by.component.html
  src/app/shared/mastodon/mastodon.component.html
  src/app/stargazers/stargazers.component.html
  src/app/starredentries/starredentries.component.html
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
  src/app/user-page/user-page.component.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

try out this fix
  .circleci/config.yml
Due: none

Remove extra padding
  src/app/container/container.component.html
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/widget/news-box/news-box.component.html
  src/app/home-page/widget/news-updates/news-notifications.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
Due: prettier --write

Remove margin from mastodon card
  src/app/shared/mastodon/mastodon.component.html
Due: prettier --write

Clean up accent-1-dark
  src/app/search/search-entry-table.component.html
  src/app/user-page/user-page.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

Add syntax highlighting for Snakemake
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

Create mixins for private-btn
  src/_functions.scss
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.html
  src/app/container/view/view.component.html
  src/app/entry/current-collections/current-collections.component.html
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/requests/requests.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/search/search.component.html
  src/app/shared/entry/verified-by/verified-by.component.html
  src/app/user-page/user-page.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.scss
  src/app/workflow/view/view.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

Use private-btn for accent-1-dark and small-btn-structure
  src/_functions.scss
  src/app/container/info-tab/info-tab.component.html
  src/app/container/view/view.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/requests/requests.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization/organization.component.html
  src/app/shared/entry/info-tab-checker-workflow-path/info-tab-checker-workflow-path.component.html
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/refresh-organization/refresh-organization.component.html
  src/app/user-page/user-page.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write

Fix mat-icon
  src/styles.scss
Due: prettier --write

Fix multi-cloud launch
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
Due: prettier --write

put back mat-icon-sm
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
Due: prettier --write

Put styles.scss last
  angular.json
Due: none

Make stroked button background white
  src/_functions.scss
  src/app/container/container.component.html
Due: prettier --write

Side bar accordion fix
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/shared/styles/my-entry-sidebar.scss
  src/ds-style-fix.scss
Due: prettier --write

Looks like typo
  README.md
Due: none

no more cancercollaboratory
  src/app/about/about.component.ts
  src/app/footer/footer.component.ts
Due: prettier --write, eslint --fix

add relevance sort
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

Fix search form fields and remove form field styles
  src/app/loginComponents/accounts/internal/change-username/change-username.component.scss
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/ds-style-fix.scss
  src/styles.scss
Due: prettier --write

Create reusable ng-template for facet HTML & remove style that was cutting off input
  src/app/search/search.component.html
  src/app/search/search.component.scss
Due: prettier --write

Remove unused search component styles
  src/app/search/search.component.scss
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Create verified-badge style
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.scss
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
  src/styles.scss
Due: prettier --write

Create class for small-card-titles
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.scss
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
  src/styles.scss
Due: prettier --write
