Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

try intercepting tool's unpublish request
  cypress/e2e/group1/checkerWorkflowFromTools.ts
Due: prettier --write, eslint --fix

try fixing checker flake (add visit, add visibility assertion)
  cypress/e2e/group1/checkerWorkflowFromTools.ts
Due: prettier --write, eslint --fix

try fixing searchTable's flaky click + close brackets
  cypress/e2e/immutableDatabaseTests/searchTable.ts
Due: prettier --write, eslint --fix

try fixing services flake - encode url assertions
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

fix some flakes/errors - mytools: scrollIntoView might help with typing in modals - checkerWorkflowFromWorkflow: apply same visibility assertion as tool version
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Bump postgres version to 16.1 (#1963)
  .circleci/config.yml
  .github/workflows/accessibility_test.yml
Due: none

fix goodTopic flake
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add assertions to fix searchTable flake
  cypress/e2e/immutableDatabaseTests/searchTable.ts
Due: prettier --write, eslint --fix

try longer wait time in linkCheck
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

fix link in download cli client (handled in hotfix, but fix here to pass linkCheck)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

hopefully handle occasional flakes - myworkflows: visibility assertion to fix typing - starErrorMessage: assert starred state
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/starErrorMessage.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/workflow/workflow.component.html
Due: prettier --write

myworkflows fix didn't work - try scrollIntoView?
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

try scrolling into modal
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

mat-horizontal-stepper errored more
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

add warning to Entry page that GitHub App might be uninstalled
  cypress/e2e/group2/myworkflows.ts
  package.json
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

pr feedback - try removing extra my-tools (see if flake persists?) - try decoding url in services
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

add wait for redirect, observe decode
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

update feedback - re-add extra visit due to flake - use encoded urls, decode didn't work
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

try moving intercept to beforeEach
  cypress/e2e/group1/checkerWorkflowFromTools.ts
Due: prettier --write, eslint --fix

Upgrade to Cypress 13 (#1966)
  THIRD-PARTY-LICENSES.csv
  cypress.config.ts
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/group3/mytools.ts
  cypress/e2e/group3/starErrorMessage.ts
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  package-lock.json
  package.json
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Update Mac OS Quickstart (#1964)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write, eslint --fix

test this
  .circleci/config.yml
Due: none

syntax?
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

out-of-date already?
  package.json
Due: none

typo?
  package.json
Due: none

try this
  package.json
Due: none

halfway
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

works
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

fiddle
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

Add CircleToken header (#1734)
  scripts/get-circleci-artifact-url.sh
Due: none

refactor
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

remove debugging output
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: none

add "not found" error message
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

Update config.yml
  .circleci/config.yml
Due: none

refactor, encode file value
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
