Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Create the Starred events box in the new-dashboard page (#1595)
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

Cancel workflow edit now reverts
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Facepalm
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

move around styles
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/pagenotfound/pagenotfound.component.html
  src/app/pagenotfound/pagenotfound.component.scss
  src/app/pagenotfound/pagenotfound.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Show more generic message when updating workflow
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.service.ts
Due: prettier --write, eslint --fix

fix test
  cypress/integration/immutableDatabaseTests/notfound.ts
Due: prettier --write, eslint --fix

Cancel workflow edit now reverts (#1602)
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Construct URL with https
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.spec.ts
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.ts
Due: prettier --write, eslint --fix

Fix test
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.spec.ts
Due: prettier --write, eslint --fix

Don't navigate to URL for invalid URL
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.ts
Due: prettier --write, eslint --fix

throw in comment for improvement
  src/app/pagenotfound/pagenotfound.component.html
Due: prettier --write

Remove duplicate install of chrome, chromedriver Tests were referencing non-existent scripts Set up for debugging
  .circleci/config.yml
  package.json
Due: none

D'oh
  .circleci/config.yml
Due: none

Now try all non-auth smoke tests
  .circleci/config.yml
Due: none

Comment out test that triggers self-DOSsing, I think.
  cypress/integration/smokeTests/stagingAndProdOnly/search.ts
  package.json
Due: prettier --write, eslint --fix

Do it the right way, I think.
  cypress/integration/smokeTests/prodOnly/search.ts
  cypress/integration/smokeTests/stagingOnly/search.ts
  package.json
Due: prettier --write, eslint --fix

Show more generic message when updating workflow (#1603)
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.service.ts
Due: prettier --write, eslint --fix

See if auth tests pass now
  .circleci/config.yml
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Suppress Sonar finding for test
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.spec.ts
Due: prettier --write, eslint --fix

add a custom 404 page instead of redirecting (#1598)
  cypress/integration/immutableDatabaseTests/notfound.ts
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/pagenotfound/pagenotfound.component.html
  src/app/pagenotfound/pagenotfound.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Add https to custom multi-cloud launch URLs without a protocol (#1604)
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.spec.ts
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.ts
Due: prettier --write, eslint --fix

Restore config.yml
  .circleci/config.yml
Due: none

Update smoke tests (#1605)
  .circleci/config.yml
  cypress/integration/smokeTests/prodOnly/search.ts
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  cypress/integration/smokeTests/stagingOnly/search.ts
  package.json
Due: prettier --write, eslint --fix

Show user-friendly Add Tool/Workflow button
  cypress/integration/group2/myworkflows.ts
  cypress/integration/group3/mytools.ts
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
Due: prettier --write, eslint --fix

PR feedback, plus noticed I had duplicated some test code.
  cypress/integration/group2/myworkflows.ts
  cypress/integration/group3/mytools.ts
Due: prettier --write, eslint --fix

Grr
  cypress/integration/group3/mytools.ts
Due: prettier --write, eslint --fix

Show user-friendly Add Tool/Workflow button (#1606)
  cypress/integration/group2/myworkflows.ts
  cypress/integration/group3/mytools.ts
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
Due: prettier --write, eslint --fix

test with webservice rc release
  package.json
Due: none

Ugh, give it a shot.
  cypress/integration/group1/dashboard.ts
Due: prettier --write, eslint --fix

Comment out other tests for quick iteration
  .circleci/config.yml
Due: none

Fix often failing tests in group 1
  src/app/home-page/home-logged-in/home-logged-in.component.ts
Due: prettier --write, eslint --fix

Revert temp changes done for debugging
  .circleci/config.yml
  cypress/integration/group1/dashboard.ts
Due: prettier --write, eslint --fix

DOCK-2196 fix
  src/app/loginComponents/requests/requests.component.html
Due: prettier --write

Update expired artifacts
  package.json
Due: none

Update artifacts; fix flaky test
  package.json
  src/app/home-page/home-logged-in/home-logged-in.component.ts
Due: prettier --write, eslint --fix

Try to fix staging smoke test failures
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  package.json
Due: prettier --write, eslint --fix

DOCK-2196 fix (#1609)
  src/app/loginComponents/requests/requests.component.html
Due: prettier --write

Try to fix staging smoke test failures (#1611)
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  package.json
Due: prettier --write, eslint --fix

throw in a bunch of null checks
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
