Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Adding pa11y-ci to package.json
  .circleci/config.yml
  package.json
  scripts/run-pa11y-ci.sh
Due: none

Adding pa11y-ci to package.json
  package-lock.json
Due: none

Switched out the executor
  .circleci/config.yml
Due: none

Updated license
  THIRD-PARTY-LICENSES.csv
Due: none

Added accessibility_test_exec
  .circleci/config.yml
Due: none

Added tests for workflow and tool pages to .pa11yci
  .pa11yci
Due: none

Updated .pa11yci to include more URLs to test
  .pa11yci
Due: none

simplify css and change to call only my-organizations
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

cleaning
  src/app/home-page/state/recent-events.service.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

Moved pa11y-ci to devDependencies
  package.json
Due: none

add error handlers and take out commented out code
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

Added http://localhost:4200/login and http://localhost:4200/register to .pa11yci
  .pa11yci
Due: none

Create the organizations widget in the new dashboard (#1588)
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

add switch cass
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/workflow/permissions/permissions.component.ts
Due: prettier --write, eslint --fix

Stop never-ending indeterminate progress bar
  src/app/workflow/permissions/permissions.component.ts
Due: prettier --write, eslint --fix

add conditional star icon behaviour
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

shorten second row of boxes
  src/app/home-page/new-dashboard/new-dashboard.component.scss
Due: prettier --write

remove unused css class
  src/app/home-page/widget/starred-box/starred-box.component.scss
Due: prettier --write

Feature/seab 1498/pa11y ci implementation (#1593)
  .circleci/config.yml
  .pa11yci
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  scripts/run-pa11y-ci.sh
Due: none

PR feedback, went with better messages overall and changed variable names to make more readable.
  src/app/workflow/permissions/permissions.component.ts
Due: prettier --write, eslint --fix

looks like an import error
  src/app/home-page/home-page.module.ts
Due: prettier --write, eslint --fix

looks like an import error (#1596)
  src/app/home-page/home-page.module.ts
Due: prettier --write, eslint --fix

comments
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

Add note about fallback installation method
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

css comments
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
Due: prettier --write

add a custom 404 page instead of redirecting
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/pagenotfound/pagenotfound.component.html
  src/app/pagenotfound/pagenotfound.component.scss
  src/app/pagenotfound/pagenotfound.component.ts
Due: prettier --write, eslint --fix

lgtm and dumb test
  cypress/integration/group1/dashboard.ts
  src/app/pagenotfound/pagenotfound.component.ts
Due: prettier --write, eslint --fix

Split out test since it doesn't need the DB
  cypress/integration/group1/dashboard.ts
  cypress/integration/immutableDatabaseTests/notfound.ts
Due: prettier --write, eslint --fix

sonarcloud
  src/app/pagenotfound/pagenotfound.component.ts
Due: prettier --write, eslint --fix

Fix second revert not working
  src/app/container/tool-file-editor/tool-file-editor.component.spec.ts
  src/app/container/tool-file-editor/tool-file-editor.component.ts
  src/app/shared/file-editing.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.spec.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
Due: prettier --write, eslint --fix

Don't show input errors when adding a tag
  src/app/container/add-tag/add-tag.component.html
  src/app/container/add-tag/add-tag.component.ts
Due: prettier --write, eslint --fix

Stop never-ending indeterminate progress bar (#1594)
  src/app/workflow/permissions/permissions.component.ts
Due: prettier --write, eslint --fix

so many trailing spaces.... :(
  src/app/home-page/widget/starred-box/starred-box.component.html
Due: prettier --write

Update pagenotfound.component.html
  src/app/pagenotfound/pagenotfound.component.html
Due: prettier --write

Clarify what is tested
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

reorder second row components and fix dynamic count
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Fix second revert not working (#1599)
  src/app/container/tool-file-editor/tool-file-editor.component.spec.ts
  src/app/container/tool-file-editor/tool-file-editor.component.ts
  src/app/shared/file-editing.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.spec.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
Due: prettier --write, eslint --fix

Don't show input errors when adding a tag (#1600)
  src/app/container/add-tag/add-tag.component.html
  src/app/container/add-tag/add-tag.component.ts
Due: prettier --write, eslint --fix

Add note about fallback installation method (#1597)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
