Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

allow publishing of wdl 1.1+ (#2265)
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

disable bitbucket registration of tools
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

filter out bitbucket accounts page
  src/app/loginComponents/accounts/external/accounts.component.ts
Due: prettier --write, eslint --fix

remove registering tools too
  src/app/container/register-tool/register-tool.service.ts
Due: prettier --write, eslint --fix

eliminate category bubble padding
  src/app/categories/button/category-button.component.scss
Due: prettier --write

fix test
  cypress/e2e/immutableDatabaseTests/dropdown.ts
Due: prettier --write, eslint --fix

fix potential option menu test race
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

simplify advanced search code
  src/app/search/advancedsearch/advancedsearch.component.html
Due: prettier --write

fix test
  cypress/e2e/immutableDatabaseTests/searchTable.ts
Due: prettier --write, eslint --fix

disable bitbucket registration of workflows, tools and accounts link (#2274)
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/container/register-tool/register-tool.service.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

pin lodash.unset to 4.18.0
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

update material to v22
  package-lock.json
  package.json
Due: none

update non-eslint dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix build and commit hooks
  package-lock.json
  package.json
  src/app/organizations/organizations/organizations.component.html
  src/app/search/query-builder.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

update eslint
  package-lock.json
  package.json
Due: none

fix eslint issue
  eslint.config.js
  package-lock.json
  package.json
Due: none

update license
  THIRD-PARTY-LICENSES.csv
Due: none

set node version in circleci tests
  .circleci/config.yml
Due: none

use circleci node orb and version in .nvmrc
  .circleci/config.yml
Due: none

possible solution to ES5011 error
  tsconfig.json
Due: none

fix cypress build
  cypress/tsconfig.json
Due: none

adjust babel version for tests
  cypress/plugins/index.ts
Due: prettier --write, eslint --fix

update rxjs
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

update tar to address vuln
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

revert "update rxjs"
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

test without versions
  package.json
Due: none

more test
  package.json
Due: none

retrieve only the essential information with each version
  src/app/myworkflows/myworkflows.service.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

remove unused fields
  src/app/myworkflows/myworkflows.service.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Add CLAUDE.md and update README
  .gitallowed
  CLAUDE.md
  README.md
Due: none

SEAB-7676: Fix race in search smoke test
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

SEAB-7676: Wait for all Reset searches and pick page size by keyboard
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Emit junit results from all smoke test scripts
  package.json
Due: none

SEAB-7767: Add MCP version to Copy Build Info
  package.json
  src/app/configuration.service.ts
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.spec.ts
  src/app/footer/footer.service.ts
  src/app/footer/git-tag.pipe.spec.ts
  src/app/footer/git-tag.pipe.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

SEAB-7676: Fix race in search smoke test (#2283)
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Add CLAUDE.md and update README (#2284)
  .gitallowed
  CLAUDE.md
  README.md
Due: none
