Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Set size of hits to 0 for tag cloud query
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

changes regarding PR review
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

added/updated copyright message
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

Set size of hits to 0 for tag cloud query (#1639)
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

Upgrade to Angular 14 (#1635)
  .gitignore
  THIRD-PARTY-LICENSES.csv
  angular.json
  package-lock.json
  package.json
  scripts/detect-package-json-changes.sh
  src/app/loginComponents/accounts/accounts.component.ts
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/organizations/collections/create-collection/create-collection.component.ts
  src/app/organizations/collections/state/create-collection.service.spec.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/organization/state/update-organization-description.service.spec.ts
  src/app/organizations/organization/state/update-organization-description.service.ts
  src/app/organizations/organization/update-organization-description/update-organization-description.component.ts
  src/app/organizations/organizations/organizations.component.ts
  src/app/organizations/registerOrganization/register-organization.component.ts
  src/app/organizations/state/register-organization.service.spec.ts
  src/app/organizations/state/register-organization.service.ts
  src/app/organizations/state/upsert-organization-member.service.spec.ts
  src/app/organizations/state/upsert-organization-member.service.ts
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.ts
  src/app/search/advancedsearch/advancedsearch.component.html
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.ts
  src/app/shared/entry.ts
  src/app/shared/error-state-matcher.ts
  src/app/starredentries/starredentries.component.ts
  tsconfig.json
Due: prettier --write, eslint --fix

added script in config file
  .circleci/config.yml
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

added double quotes around arguments
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

DOCK-2240 Changed colors of each entry widget bubbles on new dashboard (#1638)
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

changed stack from dev to qa
  .circleci/config.yml
Due: none

fixed typo
  .circleci/config.yml
Due: none

fixed typo
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

fixed username typo
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

script edits
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

created functions in bash script
  .circleci/config.yml
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

created functions in bash script
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

changes made regarding PR review
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

fixed elif error
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

added logging text to document steps
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

replaced Github with GitHub
  src/app/sitemap/sitemap.component.html
  src/app/workflow/dag/dag.component.html
Due: prettier --write

SEAB-4839 Reset dockstoretestuser4 resources via API (#1637)
  .circleci/config.yml
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

fixed typo
  src/app/user-page/user-page.component.html
Due: prettier --write

replaced Github with GitHub (#1643)
  src/app/sitemap/sitemap.component.html
  src/app/user-page/user-page.component.html
  src/app/workflow/dag/dag.component.html
Due: prettier --write

added domain to build info copy button
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.ts
Due: prettier --write, eslint --fix

fixed unit test
  src/app/footer/footer.service.spec.ts
Due: prettier --write, eslint --fix

review change
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.spec.ts
Due: prettier --write, eslint --fix

Set size of hits to 0 for tag cloud query (#1639) (#1644)
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

assign reviewers [skip ci]
  .github/dependabot.yml
Due: none

Allow organization admins to interact with invites
  cypress/integration/group2/organizations.ts
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
  src/app/home-page/widget/requests/requests.component.ts
  src/app/loginComponents/requests/organization-invite-confirm-dialog.html
  src/app/loginComponents/requests/organization-request-confirm-dialog.html
  src/app/loginComponents/requests/requests.component.html
  src/app/loginComponents/state/requests.service.ts
  src/app/organizations/collection/state/add-entry.service.ts
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.scss
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.scss
  src/app/organizations/organization-members/organization-members.component.ts
  src/app/organizations/state/organization-members.service.ts
  src/app/organizations/state/upsert-organization-member.service.ts
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.ts
  src/materialColorScheme.scss
Due: prettier --write, eslint --fix

Fix tests
  cypress/integration/group2/notificationBadge.ts
  cypress/integration/immutableDatabaseTests/dropdown.ts
  cypress/support/commands.ts
  src/app/loginComponents/state/requests.service.ts
Due: prettier --write, eslint --fix

Remove duplicate functions
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Unskip tests
  cypress/integration/group2/organizations.ts
Due: prettier --write, eslint --fix

Fix and add tests
  cypress/integration/group2/notificationBadge.ts
  cypress/integration/group2/organizations.ts
  cypress/support/commands.ts
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.ts
Due: prettier --write, eslint --fix

Remove unused variables
  src/app/organizations/state/upsert-organization-member.service.ts
Due: prettier --write, eslint --fix

D'oh, update function reference
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.ts
Due: prettier --write, eslint --fix

assign reviewers [skip ci] (#1646)
  .github/dependabot.yml
Due: none

Fix cwl workflow in db dump
  test/db_dump.sql
Due: none
