Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add to footer
  src/app/footer/footer.component.html
Due: prettier --write

conditional OK
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

change name to just blog
  src/app/footer/footer.component.html
Due: prettier --write

change to primary
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

[DOCK-2072] Add blog link to footer of dockstore.org (#1527)
  src/app/footer/footer.component.html
Due: prettier --write

disabled on being a hosted workflow (#1521)
  src/app/workflow/view/view.component.html
Due: prettier --write

Corrected config.yml so that it only installs chrome once
  .circleci/config.yml
Due: none

Add userAgent to cypress.json
  cypress.json
Due: none

Corrected config.yml so that it only installs chrome once (#1528)
  .circleci/config.yml
Due: none

Add userAgent to cypress.json (SEAB-4202, #1526)
  cypress.json
Due: none

separate buttons
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

add wait
  cypress/integration/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Fix: Selectively include CWL instructions (dockstore/dockstore#4862)
  src/app/workflow/launch/launch.component.html
Due: prettier --write

Remove comment for common-workflow-language/cwltool#1093
  src/app/workflow/launch/launch.component.html
Due: prettier --write

change to max-width
  src/app/notifications/notifications.component.scss
Due: prettier --write

try different waits
  cypress/integration/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Fix: Selectively include CWL instructions (dockstore/dockstore#4862, PR #1529)
  src/app/workflow/launch/launch.component.html
Due: prettier --write

increase font size by 0.1em
  src/app/stargazers/stargazers.component.html
Due: prettier --write

Fix notification bar styling
  src/app/notifications/notifications.component.scss
Due: prettier --write

attempt #3
  cypress/integration/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

attempt #4
  cypress/integration/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

eureka
  cypress/integration/group3/githubAppTools.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

[DOCK-2053] Change "Cancel" to "OK" in workflow version modal (#1525)
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

remove inline style
  src/app/stargazers/stargazers.component.html
Due: prettier --write

add comment
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Fix ORCID ID font size (#1531)
  src/app/stargazers/stargazers.component.html
Due: prettier --write

fix flaky apptool test
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add blog link below username on userpages
  src/app/user-page/user-page.component.html
Due: prettier --write

add bio and address sonarCloud warning
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
Due: prettier --write

remove test text
  src/app/user-page/user-page.component.html
Due: prettier --write

minor changes
  src/app/user-page/user-page.component.html
Due: prettier --write

add condition
  src/app/user-page/user-page.component.html
Due: prettier --write

fix conditions
  src/app/user-page/user-page.component.html
Due: prettier --write

sort
  src/app/shared/entry-wizard/entry-wizard.component.ts
Due: prettier --write, eslint --fix

Uncommented out parts of auth-tests.ts
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Modified config.yml so that it notifies about nightly tests regardless of outcome, it also runs nightly tests on commit (for now)
  .circleci/config.yml
Due: none

make 'restub' right aligned
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

fix align start
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Updated config.yml
  .circleci/config.yml
Due: none

Updated config.yml so that it only auth tests at night
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
