Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix test
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

Hiding a version should show on table without refreshing page
  cypress/integration/group2/githubAppTools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/version-modal/version-modal.service.ts
Due: prettier --write, eslint --fix

Accidentally deleted this line
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/workflow/version-modal/version-modal.service.ts
Due: prettier --write, eslint --fix

fix cypress tests
  cypress/integration/group2/githubAppTools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Feature/trim dependencies (#1456)
  .browserslistrc
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/polyfills.ts
Due: prettier --write, eslint --fix

Cypress test update
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Update add label test
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Hiding a version should show on table without refreshing page (#1449)
  cypress/integration/group2/githubAppTools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/version-modal/version-modal.service.spec.ts
  src/app/workflow/version-modal/version-modal.service.ts
Due: prettier --write, eslint --fix

summarize tooltip text
  src/app/entry/current-collections/current-collections.component.html
Due: prettier --write

add org logos (avatars) to listings in entry collection box
  package.json
  scripts/run-webservice-script.sh
  src/app/entry/current-collections.module.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/entry/current-collections/current-collections.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

updated copyright
  src/app/container/container.component.css
Due: prettier --write

collection description additional size formatting
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
Due: prettier --write

Update package.json
  package.json
Due: none

Test with hotfix release (#1454)
  package.json
Due: none

disable launch buttons correctly
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

fix potential leak
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

A bunch more test changes
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Use regex replaceAll until EC2021
  src/app/loginComponents/accounts/accounts.component.ts
Due: prettier --write, eslint --fix

Global mat-raised-button changes (#1447)
  cypress/integration/immutableDatabaseTests/versionModal.ts
  src/app/container/deregister-modal/deregister-modal.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/container/view/view.component.css
  src/app/container/view/view.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/navbar/navbar.component.scss
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/organization/update-organization-description/update-organization-description.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/search/search.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.scss
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/view/view.component.html
  src/assets/svg/gear-icon.svg
  src/styles.scss
Due: prettier --write, eslint --fix

npm uninstall tslint-config-prettier
  package-lock.json
  package.json
Due: none

npm uninstall ts-loader
  package-lock.json
  package.json
Due: none

Remove legacy Cypress typescript
  webpack.config.js
Due: none

npm run license
  THIRD-PARTY-LICENSES.csv
Due: none

npm uninstall tsutils
  package-lock.json
  package.json
Due: none

npm uninstall ngx-window-token
  package-lock.json
  package.json
Due: none

Use regex replaceAll until EC2021 (#1462)
  src/app/loginComponents/accounts/accounts.component.ts
Due: prettier --write, eslint --fix

don't add onto file
  scripts/testing.sh
Due: none

fix
  scripts/testing.sh
Due: none

passing
  package.json
Due: none

show failure
  package.json
Due: none

update command
  .circleci/config.yml
  package.json
  scripts/testing.sh
Due: none

PR feedback
  .circleci/config.yml
  scripts/npm-audit-comparison.sh
Due: none

forgot these brackets
  scripts/testing.sh
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
