Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

halfway
  src/app/search/query-builder.service.ts
  src/app/search/state/search.query.ts
Due: prettier --write, eslint --fix

put term parsing into service
  src/app/search/query-builder.service.ts
  src/app/search/search.routing.ts
  src/app/search/state/search.query.ts
  src/main.ts
Due: prettier --write, eslint --fix

rename term parser
  src/app/search/query-builder.service.ts
  src/app/search/search.routing.ts
  src/app/search/state/search.query.ts
  src/app/search/term-parser.service.ts
  src/main.ts
Due: prettier --write, eslint --fix

convert to helper
  src/app/search/helpers.spec.ts
  src/app/search/helpers.ts
  src/app/search/query-builder.service.ts
  src/app/search/state/search.query.ts
  src/app/search/term-parser.service.ts
  src/main.ts
Due: prettier --write, eslint --fix

add a few more tests
  src/app/search/helpers.spec.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/workflow/versions/versions.component.html
Due: prettier --write

change badge
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write

pipx can run pip list testing on ubuntu22.04 and 24.04
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

change badge
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write

Remove Nextflow from engine version
  src/app/shared/entry/descriptor-language-versions.pipe.ts
  src/app/shared/entry/descriptor-language-versions.spec.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

review
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

review
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
Due: prettier --write

switch to split-string module
  package.json
  src/app/search/helpers.spec.ts
  src/app/search/helpers.ts
Due: prettier --write, eslint --fix

Revert "experiment"
  .circleci/config.yml
Due: none

Update web.yml
  test/web.yml
Due: none

continue build
  THIRD-PARTY-LICENSES.csv
Due: none

Revert "Update web.yml"
  test/web.yml
Due: none

is the wait script doing what we think it is doing?
  scripts/wait-for.sh
Due: none

what if Java 18
  .circleci/config.yml
Due: none

support phrases in search
  THIRD-PARTY-LICENSES.csv
  package.json
  src/app/search/helpers.spec.ts
  src/app/search/helpers.ts
  src/app/search/query-builder.service.ts
  src/app/search/state/search.query.ts
Due: prettier --write, eslint --fix

Display engine version for Nextflow workflows (#2001)
  src/app/shared/entry/descriptor-language-versions.pipe.ts
  src/app/shared/entry/descriptor-language-versions.spec.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Add comment
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

what if Java 19
  .circleci/config.yml
Due: none

what if java 20?
  .circleci/config.yml
Due: none

DOCK-2551: change automatic topic badge (#2005)
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

What if Java 19 with newer chrome?
  .circleci/config.yml
Due: none

signing key
  .circleci/config.yml
Due: none

what if accessibility with ubuntu 22
  .github/workflows/accessibility_test.yml
Due: none

can I override the node version this way?
  .circleci/config.yml
  scripts/load-nvm.sh
Due: none

duh
  .circleci/config.yml
Due: none

match other invocations
  .circleci/config.yml
Due: none

more duh
  .circleci/config.yml
Due: none

Change pip3 to pipx (#2003)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

initial
  src/app/organizations/collection/collection.component.html
Due: prettier --write

remove stopgap notebook smoke test code
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

fix
  src/app/organizations/collection/collection.component.html
Due: prettier --write

Use webservice hotfix tag
  package.json
Due: none

What if no chrome
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
