Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

PR changes
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/refresh-organization/refresh-organization.component.html
  src/app/shared/refresh-organization/refresh-organization.component.ts
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

Fix typo
  src/app/myworkflows/my-workflow/my-workflow.component.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/app.component.html
  src/app/app.component.ts
  src/app/changeUsernameBanner/changeUsernameBanner.component.html
Due: prettier --write, eslint --fix

add basic entry "chip"
  src/app/categories/state/categories.service.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

add Category search facet and some categories ITs
  cypress/integration/group2/categories.ts
  cypress/support/commands.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Remove refresh org tooltip from both tools and workflows
  src/app/container/refresh-tool-organization/refresh-tool-organization.component.ts
  src/app/shared/refresh-organization/refresh-organization.component.html
  src/app/shared/refresh-organization/refresh-organization.component.ts
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

Remove tests
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

No retries locally (#1384)
  cypress.json
Due: none

not dog water
  src/app/categories/state/all-categories.query.ts
  src/app/categories/state/all-categories.store.ts
  src/app/categories/state/categories.service.ts
Due: prettier --write, eslint --fix

add rough popular categories list to home page
  src/app/categories/state/categories.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
  src/app/organizations/collection/collection.component.html
Due: prettier --write, eslint --fix

rename a file [skip ci]
  src/app/categories/state/all-categories.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

remove labels from entry summaries, stop propagation [skip ci]
  src/app/organizations/collection/collection.component.html
Due: prettier --write

reorg [skip ci]
  src/app/categories/state/all-categories.service.ts
  src/app/category/category-link.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

make the "chips" change the cursor to a pointer to look clickable
  src/app/home-page/home-logged-out/home.component.html
  src/app/organizations/collection/collection.component.html
  src/styles.scss
Due: prettier --write

Say what refresh organization does
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

Remove unnecessary code
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
Due: prettier --write

remove limitation of categories blurbs in entry summary
  src/app/organizations/collection/collection.component.html
Due: prettier --write

npm audit fix
  package-lock.json
Due: none

npm run license
  THIRD-PARTY-LICENSES.csv
Due: none

Remove unnecessary code (#1386)
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
Due: prettier --write

homepage pretty close to the mockup
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
Due: prettier --write

improve html/css
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
Due: prettier --write

fix indentation
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

use develop build
  package.json
Due: none

fix copy button
  src/app/container/version-modal/version-modal.component.html
Due: prettier --write

change username (#1382)
  cypress/integration/group2/usernameChangeRequired.ts
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/changeUsernameBanner/changeUsernameBanner.component.html
  src/app/changeUsernameBanner/changeUsernameBanner.component.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
  src/app/loginComponents/onboarding/onboarding.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

spans -> buttons
  src/app/category/category-link.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/styles.scss
Due: prettier --write, eslint --fix

upgrade buttons to mat-buttons, small style changes
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/styles.scss
Due: prettier --write

remove unnecessary state clear on update
  src/app/categories/state/all-categories.service.ts
Due: prettier --write, eslint --fix

removed unused style
  src/styles.scss
Due: prettier --write

change obseravle fns to fields
  src/app/categories/state/all-categories.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
Due: prettier --write, eslint --fix

convert category buttons to a component
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
  src/app/categories/button/category-button.component.spec.ts
  src/app/categories/button/category-button.component.ts
  src/app/categories/button/category-button.module.ts
  src/app/category/category-link.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
  src/app/home-page/home-page.module.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/organization.module.ts
  src/styles.scss
Due: prettier --write, eslint --fix

cleanup and documentation
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
  src/app/categories/button/category-button.component.ts
  src/app/categories/button/category-button.module.ts
  src/app/categories/state/all-categories.query.ts
  src/app/categories/state/all-categories.service.ts
  src/app/home-page/home-logged-out/home.component.scss
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/organization.module.ts
  src/styles.scss
Due: prettier --write, eslint --fix

removed generated test
  src/app/categories/button/category-button.component.spec.ts
Due: prettier --write, eslint --fix

convert to anchor button
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
Due: prettier --write

fix coding error
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

need to use git ref name
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

Feature/4179/refresh org confirmation (#1383)
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/container/refresh-tool-organization/refresh-tool-organization.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/refresh-organization/refresh-organization.component.html
  src/app/shared/refresh-organization/refresh-organization.component.ts
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.spec.ts
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

npm audit fix (#1387)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

fix copy button (#1389)
  src/app/container/version-modal/version-modal.component.html
Due: prettier --write
