Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

correct category homepage icon image references
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

Fix
  src/app/search/basic-search/basic-search.component.html
Due: prettier --write

Feature/seab 2928/circleci audit (#1396)
  .circleci/config.yml
  package-lock.json
  scripts/compare-num-vulns.sh
  scripts/npm-audit.sh
Due: none

Fix search term input size (#1407)
  src/app/search/basic-search/basic-search.component.html
Due: prettier --write

fix comment
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

add security header checks to cypress smokeTests
  cypress/integration/smokeTests/sharedTests/secheaders.ts
Due: prettier --write, eslint --fix

add secheader tests to smokeTest commands in package.json
  package.json
Due: none

eliminate shared code with function
  cypress/integration/smokeTests/sharedTests/secheaders.ts
Due: prettier --write, eslint --fix

update comment
  cypress/integration/smokeTests/sharedTests/secheaders.ts
Due: prettier --write, eslint --fix

Update artifacts and pray
  package.json
Due: none

Prevent tab change infinite loop (#1392)
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Fix OpenJDK installation instructions for Mac OS X homebrew (#1398)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Move error message to header (#1394)
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write

Fix/4541/add tagtest parameter file (#1393)
  cypress/integration/group2/mytools.ts
  cypress/support/commands.ts
  src/app/container/add-tag/add-tag.component.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

need to use git ref name (#1401)
  src/app/container/info-tab/info-tab.component.html
Due: prettier --write

Fix for field name change
  cypress/integration/group2/mytools.ts
Due: prettier --write, eslint --fix

Add another
  cypress/integration/group2/mytools.ts
Due: prettier --write, eslint --fix

Add security header checks to smoke tests (#1408)
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  cypress/integration/smokeTests/sharedTests/secheaders.ts
  package.json
Due: prettier --write, eslint --fix

Hotfix deploy/2.8.3 (#1410)
  cypress/integration/group2/mytools.ts
  cypress/support/commands.ts
  package.json
  src/app/container/add-tag/add-tag.component.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/search/search.component.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

Hotfix/2.8.3 (#1409)
  cypress/integration/group2/mytools.ts
  cypress/support/commands.ts
  package.json
  src/app/container/add-tag/add-tag.component.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/search/search.component.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

Run ES and smoke tests in CircleCI
  .circleci/config.yml
Due: none

Change pagination test to work with less data
  cypress/integration/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

A new and improved db_dump.sql
  travisci/db_dump.sql
Due: none

disable delete menu option for default tag, inform on tag deletion error
  src/app/container/view/view.component.html
  src/app/container/view/view.component.ts
Due: prettier --write, eslint --fix

CircleCI command to run
  package.json
Due: none

actually run the smoke test job
  .circleci/config.yml
Due: none

update artifacts
  package.json
Due: none

Display topic in search
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

Change limit
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Update info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Truncate to two lines
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

PR changes
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.service.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Change icon
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Add workflow topic test
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

Change width of workflow columns
  src/app/search/search-workflow-table/search-workflow-table.component.scss
Due: prettier --write

Query topic and private access
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

Allow topic update
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Fixes
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
