Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Notebooks Feature Flag & Banner - SEAB-5261/SEAB-5262 (#1742)
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  src/app/app.module.ts
  src/app/categories/button/category-button.component.ts
  src/app/container/container.component.html
  src/app/container/versions/versions.component.html
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/organizations/collection/collection.component.html
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/query-builder.service.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/search.module.ts
  src/app/search/state/search.service.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/shared/modules/preview-warning.module.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/app/test/service-stubs.ts
  src/app/workflows/workflows.component.html
  src/assets/svg/notebook-circle.svg
  src/assets/svg/sub-nav/service.svg
  src/styles.scss
Due: prettier --write, eslint --fix

tweak styles, do not encode html output
  src/app/notebook/formatted-notebook.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Download file for app tool fix (#1743)
  cypress/e2e/group2/usernameChangeRequired.ts
  cypress/e2e/group3/githubAppTools.ts
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

basic mathjax configurations
  angular.json
  package-lock.json
  package.json
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

escape trailing double backslashes in equations
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

add mathjax font files, remove light sanitize
  src/app/notebook/formatted-notebook.component.ts
  src/assets/fonts/mathjax/MathJax_AMS-Regular.woff
  src/assets/fonts/mathjax/MathJax_Calligraphic-Bold.woff
  src/assets/fonts/mathjax/MathJax_Calligraphic-Regular.woff
  src/assets/fonts/mathjax/MathJax_Fraktur-Bold.woff
  src/assets/fonts/mathjax/MathJax_Fraktur-Regular.woff
  src/assets/fonts/mathjax/MathJax_Main-Bold.woff
  src/assets/fonts/mathjax/MathJax_Main-Italic.woff
  src/assets/fonts/mathjax/MathJax_Main-Regular.woff
  src/assets/fonts/mathjax/MathJax_Math-BoldItalic.woff
  src/assets/fonts/mathjax/MathJax_Math-Italic.woff
  src/assets/fonts/mathjax/MathJax_Math-Regular.woff
  src/assets/fonts/mathjax/MathJax_SansSerif-Bold.woff
  src/assets/fonts/mathjax/MathJax_SansSerif-Italic.woff
  src/assets/fonts/mathjax/MathJax_SansSerif-Regular.woff
  src/assets/fonts/mathjax/MathJax_Script-Regular.woff
  src/assets/fonts/mathjax/MathJax_Size1-Regular.woff
  src/assets/fonts/mathjax/MathJax_Size2-Regular.woff
  src/assets/fonts/mathjax/MathJax_Size3-Regular.woff
  src/assets/fonts/mathjax/MathJax_Size4-Regular.woff
  src/assets/fonts/mathjax/MathJax_Typewriter-Regular.woff
  src/assets/fonts/mathjax/MathJax_Vector-Bold.woff
  src/assets/fonts/mathjax/MathJax_Vector-Regular.woff
  src/assets/fonts/mathjax/MathJax_Zero.woff
Due: prettier --write, eslint --fix

add mathjax config file, configure ui/safe module, remove katex load
  angular.json
  src/mathjax-config.js
Due: prettier --write

remove katex from package json
  package-lock.json
  package.json
Due: none

match changes to feat-content.html and count news entries
  src/app/home-page/widget/featured-content/news-and-updates.component.ts
  src/app/home-page/widget/news-box/news-box.component.html
  src/featured-content.scss
Due: prettier --write, eslint --fix

add spam removal
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

disable mathjax automatic formatting
  src/mathjax-config.js
Due: prettier --write

link to specific version for public page
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
Due: prettier --write

fix link
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

generalize tests?
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Revert "generalize tests?"
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

use WorkflowService, comment, remove cruft
  src/app/notebook/formatted-notebook.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

update license file
  THIRD-PARTY-LICENSES.csv
Due: none

add mathjax license, correctly this time
  THIRD-PARTY-LICENSES.csv
Due: none

remove role = presentation
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
Due: prettier --write

fix unit tests, address code robot suggestions
  src/app/notebook/formatted-notebook.component.spec.ts
  src/app/notebook/formatted-notebook.component.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

remove commented code
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

remove unused stuff
  src/app/notebook/formatted-notebook.component.scss
  src/app/notebook/formatted-notebook.component.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
Due: prettier --write, eslint --fix

improve backslashed dollar handling
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

improve regexps
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

improve regexps, add light sanitize of prism outputs
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

use gravatar service
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.ts
Due: prettier --write, eslint --fix

refactor unit test
  src/app/notebook/formatted-notebook.component.spec.ts
Due: prettier --write, eslint --fix

clean up unit test
  src/app/notebook/formatted-notebook.component.spec.ts
Due: prettier --write, eslint --fix

add comments, refactor lightly, fix regexp bug
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

fix link (#1746)
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Update Featured Content Styles - SEAB-4628 (#1744)
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/featured-content/news-and-updates.component.ts
  src/app/home-page/widget/news-box/news-box.component.html
  src/featured-content.scss
Due: prettier --write, eslint --fix

fix spelling error
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

change notebook Code tab to Preview tab
  cypress/e2e/group2/notebooks.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

fix test oopsie
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

remove old placeholder.com references
  cypress/e2e/group2/organizations.ts
  src/app/organizations/state/register-organization.service.spec.ts
Due: prettier --write, eslint --fix

dashboard fixes, remove mat-card-header margin
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/news-box/news-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/shared/entry/recent-events.pipe.ts
  src/app/starredentries/starredentries.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

padding updates
  src/app/container/info-tab/info-tab.component.html
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/user-page/user-page.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write
