Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

update test stub
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

org-box search updates
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

point at latest webservice develop build
  package.json
Due: none

accept either NFL or Nextflow
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

pr fixes
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

make API-related notebooks changes
  package.json
  src/app/workflow/permissions/permissions.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/search/search.component.html
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

last feedback
  src/app/my-sidebar/my-sidebar.component.html
  src/app/navbar/navbar.component.html
Due: prettier --write

Dashboard UI Fixes - SEAB 4712/SEAB 5198/SEAB 4713 (#1713)
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/my-sidebar/my-sidebar.component.html
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
  src/app/organizations/organization/organization.component.html
  src/assets/svg/organization-circle.svg
  src/styles.scss
Due: prettier --write, eslint --fix

accept either NFL or Nextflow (#1715)
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Collapse Search Panels - Dock 2317 (#1714)
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

add dash header, add breadcrumbs to public pages, update header styles
  cypress/e2e/immutableDatabaseTests/services.ts
  src/app/containers/containers.component.html
  src/app/containers/containers.component.ts
  src/app/header/header.component.html
  src/app/header/header.component.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/loginComponents/accounts/accounts.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/app/shared/helpers.ts
  src/app/shared/session/session.query.ts
  src/app/shared/url-resolver.service.ts
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
  src/assets/svg/search.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Corrected a lot of typos
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notificationBadge.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.ts
  src/app/my-sidebar/my-sidebar.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/shared/entry-wizard/entry-wizard.component.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/entry/register-checker-workflow/register-checker-workflow.component.ts
  src/app/shared/entry/verified-display/verified-display.component.ts
  src/app/shared/verified-by.service.ts
  src/app/test/service-stubs.ts
  src/app/workflow/dag/dag.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

[ImgBot] Optimize images
  src/assets/images/sponsors/CFI_CMYK.png
  src/assets/images/sponsors/NHGRI.png
  src/assets/images/sponsors/aws.png
  src/assets/images/thirdparty/cavatica-colour.png
  src/assets/images/thirdparty/cgc-colour.png
Due: none

Corrected a lot of typos (#1716)
  cypress/e2e/group1/checkerWorkflowFromTools.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notificationBadge.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.ts
  src/app/my-sidebar/my-sidebar.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/shared/entry-wizard/entry-wizard.component.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/entry/register-checker-workflow/register-checker-workflow.component.ts
  src/app/shared/entry/verified-display/verified-display.component.ts
  src/app/shared/verified-by.service.ts
  src/app/test/service-stubs.ts
  src/app/workflow/dag/dag.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

add alt to imgs
  src/app/containers/containers.component.html
  src/app/search/search.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write

update search
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/containers/containers.component.ts
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

update services preview bubble
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write

modify to support extended entry types
  package.json
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

fix oopsie
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.ts
Due: prettier --write, eslint --fix

update last instances of preview label
  src/app/sitemap/sitemap.component.html
  src/app/workflows/workflows.component.html
  src/styles.scss
Due: prettier --write

added search package
  package.json
  src/app/app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Add Dashboard Header & Update Header Styles - SEAB-5199/SEAB-5226 (#1718)
  cypress/e2e/immutableDatabaseTests/services.ts
  src/app/containers/containers.component.html
  src/app/containers/containers.component.ts
  src/app/header/header.component.html
  src/app/header/header.component.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/loginComponents/accounts/accounts.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/app/shared/helpers.ts
  src/app/shared/session/session.query.ts
  src/app/shared/url-resolver.service.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
  src/assets/svg/search.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Remove deprecated tildes in scss import
  src/styles.scss
Due: prettier --write

get http response and update assignment logic
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

added search library
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

package-lock
  package-lock.json
Due: none

removed debug code
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

made search bar fixed
  THIRD-PARTY-LICENSES.csv
  src/app/workflow/workflow.component.html
Due: prettier --write

DOCK-2271: fixed twitter widget width value (#1656)
  src/app/shared/twitter.service.ts
Due: prettier --write, eslint --fix

Added Accent 2 colour palette and updated blue banner style
  src/app/container/container.component.html
  src/app/container/files/files.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/recent-events/recent-events.component.html
  src/app/loginComponents/requests/requests.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/search/search.component.html
  src/app/shared/code-editor-list/code-editor-list.component.html
  src/app/stargazers/stargazers.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.html
  src/app/workflow/workflow.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

add comments
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

alphabetical sort
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Remove deprecated tildes in scss import (#1721)
  src/styles.scss
Due: prettier --write

added test
  cypress/e2e/group2/myworkflows.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Navigate to recently registered workflow
  src/app/shared/state/entry-wizard.service.ts
Due: prettier --write, eslint --fix

update build artifact
  package.json
Due: none

add dropdown to search
  src/app/home-page/home-page.module.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/shared/styles/dashboard-boxes.scss
Due: prettier --write, eslint --fix

update import
  src/app/home-page/widget/entry-box/entry-box.component.spec.ts
Due: prettier --write, eslint --fix
