Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor mime bundle processor
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

rename method
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

news box global styles (#1741)
  src/app/home-page/widget/news-box/news-box.component.html
  src/styles.scss
Due: prettier --write

was bugging me (#1737)
  src/app/sitemap/sitemap.component.html
Due: prettier --write

Add notebooks feature flag and warning banner, notebooks search tab
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  src/app/categories/button/category-button.component.ts
  src/app/container/container.component.html
  src/app/container/versions/versions.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/organizations/collection/collection.component.html
  src/app/search/query-builder.service.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/app/test/service-stubs.ts
  src/app/workflows/workflows.component.html
  src/assets/svg/notebook-circle.svg
  src/assets/svg/sub-nav/service.svg
  src/styles.scss
Due: prettier --write, eslint --fix

add math support
  angular.json
  package-lock.json
  package.json
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/formatted-notebook.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

add syntax highlighting
  angular.json
  package-lock.json
  package.json
  src/app/notebook/formatted-notebook.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

Verification UI and Platform Partner Badge - SEAB-5302/SEAB-2342 (#1738)
  cypress/e2e/immutableDatabaseTests/curator.ts
  cypress/e2e/immutableDatabaseTests/platform-partner.ts
  cypress/support/commands.ts
  src/app/container/container.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/search/state/search.service.spec.ts
  src/app/shared/entry/verified-by/verified-by.component.html
  src/app/workflow/workflow.component.html
  test/db_dump.sql
Due: prettier --write, eslint --fix

SEAB-5123: Verify notebooks can be added to collections/categories (#1740)
  cypress/e2e/group2/categories.ts
  cypress/e2e/group2/organizations.ts
  cypress/support/commands.ts
  src/app/categories/button/category-button.component.html
  src/app/entry/current-collections/current-collections.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
Due: prettier --write, eslint --fix

set language type of code cells, misc improvements
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

refactor escaping code
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

update filtering
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.ts
Due: prettier --write, eslint --fix

refactor
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

honor source/outputs_hidden, add syntax highlighting styles, refactor
  angular.json
  src/app/notebook/formatted-notebook.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

simplify, fix css problem
  src/app/notebook/formatted-notebook.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

add test skeleton
  src/app/notebook/formatted-notebook.component.spec.ts
  src/app/notebook/formatted-notebook.component.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

improve template html
  src/app/notebook/formatted-notebook.component.html
Due: prettier --write

create notebooks warning component
  src/app/app.module.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/notebooks-warning/notebooks-warning.component.html
  src/app/notebooks-warning/notebooks-warning.component.ts
  src/app/search/search.component.html
  src/app/search/search.module.ts
  src/app/shared/feature.service.ts
  src/app/shared/modules/notebooks-warning.module.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write, eslint --fix

restructure loop
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

complete basic unit tests, fix bugs
  src/app/notebook/formatted-notebook.component.spec.ts
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

fix intermittent syntax highlighting
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/formatted-notebook.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

Download file for app tool fix
  cypress/e2e/group2/usernameChangeRequired.ts
  cypress/e2e/group3/githubAppTools.ts
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

fix misc bugs
  src/app/notebook/formatted-notebook.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

improve escape
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

typo and add org-selection color
  src/app/shared/styles/dashboard-boxes.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

Refactor Recent Events & Add to Org Box- SEAB-5267 (#1735)
  src/app/app.module.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.scss
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/my-organizations-dialog.component/my-organizations-dialog.component.html
  src/app/home-page/widget/organization-box/my-organizations-dialog.component/my-organizations-dialog.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.ts
  src/app/shared/entry-to-display-name.pipe.ts
  src/app/shared/entry/recent-events.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/shared/styles/dashboard-boxes.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

refactor
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

add return type
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

refactor lightly
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

updated featured content styles
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/news-box/news-box.component.html
  src/featured-content.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

generate formatted notebook in detached element, add light sanitize
  src/app/notebook/formatted-notebook.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

fix license file, comment, tweak syntax highlighting
  THIRD-PARTY-LICENSES.csv
  src/app/notebook/formatted-notebook.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

tweak license file
  THIRD-PARTY-LICENSES.csv
  src/styles.scss
Due: prettier --write

fix license file
  THIRD-PARTY-LICENSES.csv
Due: none

fix bugs, make first grid column collapse to fit content
  src/app/notebook/formatted-notebook.component.ts
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

fix missing error
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

cancel old request subscription before launching new request
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

rejigger attached image support
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

remove text-decoration and color
  src/featured-content.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

rename and resolve conflicts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  src/app/app.module.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/notebooks-warning/notebooks-warning.component.ts
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/search.component.html
  src/app/search/search.module.ts
  src/app/shared/modules/preview-warning.module.ts
  src/app/shared/modules/workflowsPage.module.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
