Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

change following review
  src/app/file-tree/file-tree.component.ts
Due: prettier --write, eslint --fix

New Dashboard Resizing (#1701)
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
  src/app/shared/styles/dashboard-boxes.scss
Due: prettier --write, eslint --fix

updated tool workflow sidebar
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/search/search.component.scss
  src/app/shared/styles/workflow-container.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.scss
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/assets/images/registries/quay-io-white.png
  src/assets/images/thirdparty/DX_Logo_white_alpha.svg
  src/assets/images/thirdparty/anvil.svg
  src/assets/images/thirdparty/cavatica-colour.png
  src/assets/images/thirdparty/cgc-colour.png
  src/assets/images/thirdparty/elwazi.svg
  src/assets/images/thirdparty/terra.png
  src/assets/images/thirdparty/terra.svg
  src/styles.scss
Due: prettier --write, eslint --fix

tweak padding
  src/app/shared/styles/workflow-container.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

DOCK-2309: moved badge out of dropdown and fixed bug in file tree (#1702)
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.scss
Due: prettier --write, eslint --fix

Updated source repo ui
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
  src/assets/images/registries/Amazon ECR-white.svg
  src/assets/images/registries/Bitbucket-white.svg
  src/assets/images/registries/Docker Hub-white.svg
  src/assets/images/registries/Dockstore-white.svg
  src/assets/images/registries/GitHub Container Registry-white.svg
  src/assets/images/registries/GitHub-white.svg
  src/assets/images/registries/GitLab-white.svg
  src/assets/images/registries/Quay.io-white.svg
  src/assets/images/registries/quay-io-white.png
  src/styles.scss
Due: prettier --write

add button type
  src/app/organizations/organizations/organizations.component.html
Due: prettier --write

add button type (#1705)
  src/app/organizations/organizations/organizations.component.html
Due: prettier --write

minor changes, pr feedback
  src/app/entry/current-collections/current-collections.component.html
  src/app/shared/styles/workflow-container.component.scss
Due: prettier --write

Tool/Workflow Sidebar Updates - SEAB-5165 (#1704)
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/search/search.component.scss
  src/app/shared/styles/workflow-container.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.scss
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/assets/images/registries/Amazon ECR-white.svg
  src/assets/images/registries/Bitbucket-white.svg
  src/assets/images/registries/Docker Hub-white.svg
  src/assets/images/registries/Dockstore-white.svg
  src/assets/images/registries/GitHub Container Registry-white.svg
  src/assets/images/registries/GitHub-white.svg
  src/assets/images/registries/GitLab-white.svg
  src/assets/images/registries/Quay.io-white.svg
  src/assets/images/thirdparty/DX_Logo_white_alpha.svg
  src/assets/images/thirdparty/anvil.svg
  src/assets/images/thirdparty/cavatica-colour.png
  src/assets/images/thirdparty/cgc-colour.png
  src/assets/images/thirdparty/elwazi.svg
  src/assets/images/thirdparty/terra.png
  src/assets/images/thirdparty/terra.svg
  src/styles.scss
Due: prettier --write, eslint --fix

updated funding page
  src/app/funding/funding.component.html
  src/app/funding/funding.component.scss
  src/app/funding/funding.component.ts
  src/assets/images/sponsors/CFI_CMYK.png
  src/assets/images/sponsors/NHGRI.png
  src/assets/images/sponsors/aws.png
Due: prettier --write, eslint --fix

remove duplication
  src/app/funding/funding.component.html
  src/app/funding/funding.component.ts
Due: prettier --write, eslint --fix

reference updated artifacts
  package.json
Due: none

another try at new artifacts
  package.json
Due: none

adapt for api changes
  src/app/workflow/permissions/permissions.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

fix funding imgs on about page
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/funding/funding.component.html
Due: prettier --write

NIH logo sizes
  src/app/about/about.component.scss
  src/app/funding/funding.component.ts
Due: prettier --write, eslint --fix

use friendly name
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

update spec
  src/app/starredentries/starredentries.component.spec.ts
Due: prettier --write, eslint --fix

Added second row for funding
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/funding/funding.component.ts
Due: prettier --write, eslint --fix

Don't make org membership requests if logged out
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

workflow sidebar resize
  src/app/workflow/workflow.component.html
Due: prettier --write

Updated Funding Page (#1706)
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/funding/funding.component.html
  src/app/funding/funding.component.scss
  src/app/funding/funding.component.ts
  src/assets/images/sponsors/CFI_CMYK.png
  src/assets/images/sponsors/NHGRI.png
  src/assets/images/sponsors/aws.png
Due: prettier --write, eslint --fix

new descriptor-language pipe
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.spec.ts
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/shared/entry/descriptor-language.pipe.spec.ts
  src/app/shared/entry/descriptor-language.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.spec.ts
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

Don't make org membership requests if logged out (#1708)
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

workflow sidebar resize (#1709)
  src/app/workflow/workflow.component.html
Due: prettier --write

Update smoke tests and Ace editor
  angular.json
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

Update smoke tests and Ace editor
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

add notebooks to subclass mapper, newer artifacts
  package.json
  src/app/workflow/permissions/permissions.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

use friendly name for all
  src/app/shared/entry/descriptor-language.pipe.ts
Due: prettier --write, eslint --fix

update smoke test
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Update smoke tests and Ace editor (#1710)
  angular.json
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

hardwire subclass to BIOWORKFLOW
  src/app/workflow/permissions/permissions.component.ts
Due: prettier --write, eslint --fix

fix smoke tests
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Use Friendly Name for Galaxy Workflows - SEAB-5244 (#1707)
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.spec.ts
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/shared/entry/descriptor-language.pipe.spec.ts
  src/app/shared/entry/descriptor-language.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

dashboard ui fixes
  src/app/my-sidebar/my-sidebar.component.html
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
  src/styles.scss
Due: prettier --write

organization box fixes
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/organizations/organization/organization.component.html
  src/assets/svg/organization-circle.svg
Due: prettier --write, eslint --fix

Add ".." at beginning of workerPath
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

Add ".." at beginning of workerPath (#1712)
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

collapsed search panels update
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix
