Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Update migration commands
  cypress/support/commands.ts
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

docker exec -i postgres1 pg_dump -U dockstore --column-inserts webservice_test > db_dump.sql
  travisci/db_dump.sql
Due: none

Manually fix sourcefile sequence
  travisci/db_dump.sql
Due: none

Update package.json
  package.json
Due: none

Manual set another sequence
  travisci/db_dump.sql
Due: none

And another
  travisci/db_dump.sql
Due: none

Use the AWS context (#1346)
  .circleci/config.yml
Due: none

PR feedback, fix SonarCloud bugs
  src/app/organizations/collections/collections.component.scss
  src/app/organizations/organization-members/organization-members.component.scss
  src/app/search/search-results/search-results.component.scss
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.scss
Due: prettier --write

bump webservice to 1.11.8
  package.json
Due: none

bump webservice to 1.11.8 (#1353)
  package.json
Due: none

Update again
  cypress/fixtures/refreshedChecker.json
  travisci/db_dump.sql
Due: none

Display multiple authors for workflows (#1350)
  cypress/integration/group2/sharedWorkflows.ts
  cypress/integration/immutableDatabaseTests/services.ts
  src/app/containers/list/list.component.html
  src/app/myworkflows/myworkflows.service.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collections/collections.component.scss
  src/app/organizations/organization-members/organization-members.component.scss
  src/app/organizations/organization/organization.component.scss
  src/app/organizations/organizations/organizations.component.scss
  src/app/search/search-results/search-results.component.scss
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.component.scss
  src/app/shared/available-logs/available-logs.component.html
  src/app/shared/constants.ts
  src/app/shared/entry-actions/entry-actions.service.ts
  src/app/shared/entry/verified-display/verified-display.component.html
  src/app/shared/state/checker-workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.scss
  src/app/workflow/tool-tab/tool-tab.component.html
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
  src/app/workflow/workflow.component.ts
  src/app/workflows/list/list.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

cimg
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

cimg (#1354)
  .circleci/config.yml
Due: none

require email and two linked accounts to request an organization
  cypress/integration/group2/organizations.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/organizations/register-organization.module.ts
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/register-organization.component.ts
  src/app/organizations/state/register-organization.service.ts
Due: prettier --write, eslint --fix

separate to diff modal
  cypress/integration/group2/organizations.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.ts
  src/app/organizations/register-organization.module.ts
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/register-organization.component.ts
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.ts
Due: prettier --write, eslint --fix

fix test
  cypress/integration/group2/starEntry.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/organizations/register-organization.module.ts
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.ts
Due: prettier --write, eslint --fix

map
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.ts
Due: prettier --write, eslint --fix

remove unused imports
  src/app/organizations/registerOrganization/register-organization.component.ts
Due: prettier --write, eslint --fix

missing text
  src/app/organizations/registerOrganization/register-organization.component.html
Due: prettier --write

require email and two linked accounts to request an organization (#1355)
  cypress/integration/group2/organizations.ts
  cypress/integration/group2/starEntry.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.ts
  src/app/organizations/register-organization.module.ts
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.ts
  src/app/organizations/state/register-organization.service.ts
Due: prettier --write, eslint --fix

text [skip ci]
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

template-ish [skip CI]
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add PR template (#1358) [skip ci]
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Wrap in ng-container
  src/app/container/view/view.component.html
Due: prettier --write

Update
  package.json
Due: none

Not sure why I needed this
  package.json
Due: none

most significant commit ever
  src/app/loginComponents/accounts/external/accounts.component.html
Due: prettier --write

Disable public set default version (#1359)
  package.json
  src/app/container/view/view.component.html
Due: prettier --write

circle ci id change and most significant commit ever (#1360)
  src/app/loginComponents/accounts/external/accounts.component.html
Due: prettier --write

use a file download package instead of HREF
  package-lock.json
  package.json
  src/app/container/descriptors/descriptors.component.html
  src/app/container/descriptors/descriptors.component.ts
  src/app/container/dockerfile/dockerfile.component.html
  src/app/container/dockerfile/dockerfile.component.ts
  src/app/container/paramfiles/paramfiles.component.html
  src/app/container/paramfiles/paramfiles.component.ts
  src/app/container/tool-file-editor/tool-file-editor.component.spec.ts
  src/app/shared/code-editor-list/code-editor-list.component.html
  src/app/shared/code-editor-list/code-editor-list.component.spec.ts
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/entry/private-file-download.pipe.spec.ts
  src/app/shared/entry/private-file-download.pipe.ts
  src/app/shared/file.service.ts
  src/app/shared/selectors/entry-file-selector.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.spec.ts
Due: prettier --write, eslint --fix

add file saver package
  THIRD-PARTY-LICENSES.csv
Due: none

remove SafeUrl
  src/app/container/dockerfile/dockerfile.component.ts
  src/app/shared/file.service.ts
  src/app/shared/selectors/entry-file-selector.ts
Due: prettier --write, eslint --fix

fix content variable
  src/app/container/descriptors/descriptors.component.ts
  src/app/container/paramfiles/paramfiles.component.ts
Due: prettier --write, eslint --fix

create proper TRS URL for published workflow
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

use const
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/file.service.ts
Due: prettier --write, eslint --fix
