Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Corrected syntax
  .circleci/config.yml
Due: none

fix testing
  scripts/run-webservice-script.sh
Due: none

Corrected docker image
  .circleci/config.yml
Due: none

Added extra images
  .circleci/config.yml
Due: none

rerun
  .circleci/config.yml
Due: none

Install chrome
  .circleci/config.yml
Due: none

Try this again
  .circleci/config.yml
Due: none

try this update (#1582)
  package.json
  scripts/run-webservice-script.sh
Due: none

Added .pa11yci file
  .pa11yci
Due: none

Corrected .pa11yci file
  .pa11yci
Due: none

Corrected indentation
  .pa11yci
Due: none

Changed base branch
  package.json
Due: none

Changed base branch
  .circleci/config.yml
Due: none

Revert "Remove calls to unused endpoint."
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/state/token.query.ts
  src/app/shared/state/token.service.ts
  src/app/shared/state/token.store.ts
Due: prettier --write, eslint --fix

It was easier to repurpose previously existing code.
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/myentries.service.ts
  src/app/shared/state/token.query.ts
  src/app/shared/state/token.service.ts
  src/app/shared/state/token.store.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Made both tests run in same conditions
  .circleci/config.yml
Due: none

Modified config.yml so my changes run
  .circleci/config.yml
Due: none

Corrected data-cy
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Made it so only desired job runs
  .circleci/config.yml
Due: none

Updated package.json
  package.json
Due: none

Added npx browserslist@latest --update-db to command
  .circleci/config.yml
Due: none

what if no email
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/organizations/organization/organization-stargazers/organization-stargazers.component.ts
  src/app/shared/user/user.service.ts
  src/app/stargazers/stargazers.component.ts
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Changed timeout
  .circleci/config.yml
Due: none

Changed job running
  .circleci/config.yml
Due: none

Changed baseurl to localhost
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Undid most changes to config.yml
  .circleci/config.yml
Due: none

Changed $el.text().trim() to $el.text().trim().split(' ')[0]
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Removed slack notification
  .circleci/config.yml
Due: none

Added tests for galaxy launch buttons to basic-enduser.ts
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Seeing if this line is necessary,
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Added some data-cy fields
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
