Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

remove unused code
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Use 1.14.1 web service
  package.json
Due: none

Hopeful fix for browser tools failing to install
  .circleci/config.yml
Due: none

Try again
  .circleci/config.yml
Due: none

pr review feedback changes
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

circleci fail
  .circleci/config.yml
Due: none

Update github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

code smell
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Fix for browser tools failing to install (#1820)
  .circleci/config.yml
Due: none

Fix browser tools installation
  .circleci/config.yml
Due: none

Tests failed; try the hotfix way
  .circleci/config.yml
Due: none

Revert "Tests failed; try the hotfix way"
  .circleci/config.yml
Due: none

1. Update URL check 2. metrics.ts mutates the DB; move it out of immutableDatabaseTests because of its side effect.
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

handle empty dag
  src/app/workflow/dag/dag.component.html
  src/app/workflow/dag/dag.component.spec.ts
  src/app/workflow/dag/state/dag.query.ts
Due: prettier --write, eslint --fix

Browser tools installation and hotfix merge blues (#1822)
  .circleci/config.yml
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

removed comment
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

merge
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

SEAB-5676: allow admins and curators to see a users GitHub app logs (#1817)
  cypress/e2e/group3/githubAppTools.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

fix lint
  src/app/workflow/dag/dag.component.html
Due: prettier --write

Update to latest artifacts
  package.json
Due: none

check for missingTool instead of dagResult
  src/app/workflow/dag/dag.component.html
Due: prettier --write

Update to latest artifacts (#1824)
  package.json
Due: none

address feedback and update artifacts
  package.json
  src/app/container/state/refresh-wizard.service.ts
  src/app/organizations/state/collections.service.ts
Due: prettier --write, eslint --fix

PR review feedback changes
  cypress/e2e/immutableDatabaseTests/admin.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/shared/constants.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

PR review feedback changes
  cypress/e2e/immutableDatabaseTests/admin.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/requests/requests.component.html
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

fixed card layout
  src/app/user-page/user-page.component.html
Due: prettier --write

remove debug output
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

add apptool to test
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

check that buttons are not disabled
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

add some waits around the visit()
  cypress/e2e/group3/deletion.ts
Due: prettier --write, eslint --fix

add copyright notices
  cypress/e2e/group3/deletion.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

pr review
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Add signature check
  .github/workflows/npm_audit_test.yml
Due: none

fixed method
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

update webservice artifact
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
