Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add cost metric
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Add 1.15.0 migrations
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Fix TRS ID when getting metrics for notebooks, apptools, and services (#1803)
  cypress/e2e/immutableDatabaseTests/metrics.ts
  package.json
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

SEAB-663: Add tests for featured content (#1804)
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
  test/web.yml
Due: prettier --write, eslint --fix

improve error message on failed lambda event org access
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write

improve message further
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write

use better preposition
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write

Don't include dev dependency licenses
  package.json
Due: none

link to profile
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.module.ts
Due: prettier --write, eslint --fix

fix tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

do not make workflow request for tool
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

change 'Typically' to 'Often'
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write

Change circle CI license check and add updated CSV
  THIRD-PARTY-LICENSES.csv
  package.json
Due: none

improve error message when github app log retrieval fails
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.module.ts
Due: prettier --write, eslint --fix

add unknown user text
  src/app/gravatar/gravatar.service.ts
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write, eslint --fix

update circleci artifacts in package.json
  package.json
Due: none

update webservice script
  scripts/run-webservice-script.sh
Due: none

try changing cypress cache location
  .circleci/config.yml
Due: none

begin
  package.json
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.ts
Due: prettier --write, eslint --fix

sketch the delete dialog
  src/app/app.module.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.scss
  src/app/entry/delete/dialog/delete-entry-dialog.component.spec.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
  src/app/shared/entry-actions/workflow-actions.component.ts
Due: prettier --write, eslint --fix

develop a little further
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.ts
Due: prettier --write, eslint --fix

improve code
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

refactor moar
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

add text to dialog, refactor
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
Due: prettier --write, eslint --fix

refactor misc
  src/app/entry/delete/dialog/delete-entry-dialog.component.html
  src/app/entry/delete/dialog/delete-entry-dialog.component.ts
  src/app/shared/entry-actions/workflow-actions.component.html
Due: prettier --write, eslint --fix

replace notebooks documentation link
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

make unit test work, rename EntryStubService
  src/app/container/descriptors/descriptors.component.spec.ts
  src/app/entry/delete/dialog/delete-entry-dialog.component.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

use slightly older artifact
  package.json
Due: none

add 1.15.0 migration
  cypress/support/commands.ts
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Add space to tooltip
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

add whitespace to make package-lock.json different
  package-lock.json
Due: none

use newer artifact
  package.json
Due: none

add "add_notebook_1.14.0" migration
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

change jupyter documentation url
  src/app/descriptor-languages/Jupyter.ts
Due: prettier --write, eslint --fix

update migrations
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

add whitespace to package-lock
  package-lock.json
Due: none

add 1.15.0 migrations and add column to apptool and notebook dumps
  cypress/support/commands.ts
  package-lock.json
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

tweak migrations
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add delete button to tool page
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/tool-actions.component.ts
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.ts
Due: prettier --write, eslint --fix

DOCK-2425: Fix notebooks documentation link (#1810)
  src/app/descriptor-languages/Jupyter.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
