Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

webservice version
  package.json
Due: none

Fix dashboard boxes
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/shared/styles/dashboard-boxes.scss
  src/styles.scss
Due: prettier --write

Fix button
  src/app/container/container.component.html
Due: prettier --write

PR feedback
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
Due: prettier --write, eslint --fix

SEAB-6917: add toil to enum (#2060)
  package.json
  src/app/shared/entry/platform-partner.pipe.ts
Due: prettier --write, eslint --fix

Add auto DOI opt-out toggle for legacy and hosted workflows (#2059)
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Put back staging/prod search test elements
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Fix typo
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Fix typo
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
Due: prettier --write

Bold .dockstore.yml instructions
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
Due: prettier --write

Fix search smoke tests in staging and prod (#2062)
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Add that you need an author
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
Due: prettier --write

Fix auto DOI opt out instruction typo and make it bold (#2064)
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
Due: prettier --write

Fix imports
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

text position fix
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write

bump versions for github actions
  .github/workflows/accessibility_test.yml
  .github/workflows/npm_audit_test.yml
  .github/workflows/update_license.yml
Due: none

update skipped reference
  .github/workflows/accessibility_test.yml
Due: none

text position fix (#2065)
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write

test
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

test
  .circleci/config.yml
Due: none

bump versions for github actions (#2066)
  .github/workflows/accessibility_test.yml
  .github/workflows/npm_audit_test.yml
  .github/workflows/update_license.yml
Due: none

try out this fix
  .circleci/config.yml
Due: none

Fix organization card
  src/app/organizations/organizations/organizations.component.html
Due: prettier --write

Use newest 17 image
  .circleci/config.yml
Due: none

Show output
  .circleci/config.yml
Due: none

Update browser tools
  .circleci/config.yml
Due: none
