Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

minimally viable PKCE working for github login and account linking (#2199)
  package-lock.json
  package.json
  src/app/login/login.service.spec.ts
  src/app/login/login.service.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/accounts.service.ts
  src/app/loginComponents/auth/auth.component.ts
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/ng2-ui-auth/lib/auth.service.ts
  src/app/ng2-ui-auth/lib/config-providers.ts
  src/app/ng2-ui-auth/lib/oauth.service.ts
  src/app/register/register.service.spec.ts
  src/app/register/register.service.ts
  src/app/shared/my-entry.ts
  src/app/shared/state/token.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

bust cache
  package-lock.json
Due: none

cpu units tooltip and null check (#2217)
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

PKCE support for google login and linking (#2216)
  src/app/ng2-ui-auth/lib/config-providers.ts
  src/app/ng2-ui-auth/lib/oauth.service.ts
Due: prettier --write, eslint --fix

begin to adapt category button
  src/app/categories/button/category-button.component.ts
Due: prettier --write, eslint --fix

display all categories in card
  src/app/search/search-entry-table.component.html
Due: prettier --write

add the rest of the ai categories
  src/app/categories/button/category-button.component.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

search the AI category topics, too
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

use category summaries on entry page
  package.json
  src/app/categories/state/entry-categories.query.ts
  src/app/categories/state/entry-categories.service.ts
  src/app/categories/state/entry-categories.store.ts
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

add comment
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

add search facets for AI-curated categories
  package.json
  src/app/categories/button/category-button.component.ts
  src/app/categories/state/entry-categories.query.ts
  src/app/categories/state/entry-categories.service.ts
  src/app/categories/state/entry-categories.store.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
  src/app/shared/entry.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

make list of categories a bit nicer
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
  src/app/search/search-entry-table.component.html
Due: prettier --write

increase weight of name of entry
  src/app/search/search-entry-table.component.html
  src/styles.scss
Due: prettier --write

shrink chips
  src/_material-overrides.scss
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
  src/app/search/search-entry-table.component.html
Due: prettier --write

sort categories by display name
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

combine data and formats for inputs and outputs
  src/app/search/search-entry-table.component.html
Due: prettier --write

sort within group
  src/app/search/search-entry-table.component.html
Due: prettier --write

present categories in tabular fashion
  src/app/search/search-entry-table.component.html
Due: prettier --write

use lighter color scheme for ai recommendations
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

add notifications
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
Due: prettier --write, eslint --fix

add notifications (#2222)
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
Due: prettier --write, eslint --fix

remove button border, make ai-curated category entry buttons more gray
  src/styles.scss
Due: prettier --write

improve category button mouseover
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

make tooltip wider
  src/styles.scss
Due: prettier --write

make category button onpush
  src/app/categories/button/category-button.component.ts
Due: prettier --write, eslint --fix

collapse "Category" facet by default, and remove old "Input File Formats" facet
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

create new component for list of entry categories
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

change app-entry-categories to accept a list of categories
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

move entryCategories into pipe
  src/app/search/categories/entry-categories.pipe.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

make app-entry-categories display input-formats before input-data, and similarly for outputs
  src/app/categories/entry/entry-categories.component.spec.ts
  src/app/categories/entry/entry-categories.component.ts
  src/app/search/categories/entry-categories.pipe.ts
Due: prettier --write, eslint --fix

introduce app-entry-categories into workflow page
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

make app-entry-categories component stylable, part 1
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

create app-category-buttons component
  src/app/categories/buttons/category-buttons.component.html
  src/app/categories/buttons/category-buttons.component.scss
  src/app/categories/buttons/category-buttons.component.spec.ts
  src/app/categories/buttons/category-buttons.component.ts
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.ts
Due: prettier --write, eslint --fix

add extractCategories pipe
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.spec.ts
  src/app/categories/entry/entry-categories.component.ts
  src/app/categories/extract-categories.pipe.spec.ts
  src/app/categories/extract-categories.pipe.ts
Due: prettier --write, eslint --fix

move categories into Information tab
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

align category group label to top
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

move update dates into Information panels
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

add AI bubble
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

tweak more elements on entry page
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

mirror changes on container page
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
