Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

clean up redundant data
  src/app/workflows/notebooks/notebooks.routing.ts
Due: prettier --write, eslint --fix

Add CircleToken header (#1734)
  scripts/get-circleci-artifact-url.sh
Due: none

Add condition for no entries
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
Due: prettier --write

adjust info tab for notebooks
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

adjust versions tab "Info" dialog for notebooks
  src/app/shared/session/session.query.ts
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
Due: prettier --write, eslint --fix

remove "Launch" tab for notebooks
  src/app/workflow/workflow.component.html
Due: prettier --write

refactor recent events component and add recent events to org box
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.scss
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.ts
  src/app/shared/entry-to-display-name.pipe.ts
  src/app/shared/entry/recent-events.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/shared/styles/dashboard-boxes.scss
  src/styles.scss
Due: prettier --write, eslint --fix

add 'Format' column in versions tab
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

missing equal sign
  src/app/home-page/widget/organization-box/organization-box.component.html
Due: prettier --write

temporary change to cypress build id
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  package.json
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

temporary change to cypress build id
  package.json
Due: none

Fix unrelated gitHubAppTool test
  test/github_app_tool_db_dump.sql
Due: none

simplify entry image
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

add basic cypress test
  cypress/e2e/group2/notebooks.ts
  cypress/support/commands.ts
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

update artiface reference
  package.json
Due: none

update artifacts again
  package.json
Due: none

fix unit test
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

fix command psql config oopsie
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write, eslint --fix

package.json
  package.json
Due: none

remove cariage returns in test sql
  test/github_notebook_db_dump.sql
Due: none

Fix missing unpublished workflows on refresh (#1733)
  package.json
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/search/state/search.service.spec.ts
  src/app/shared/entry/select-tab.pipe.ts
  src/app/shared/state/workflow.query.ts
  test/github_app_tool_db_dump.sql
Due: prettier --write, eslint --fix

added conditional statement
  src/app/starredentries/starredentries.component.html
Due: prettier --write

edited json
  cypress/fixtures/sampleNotebook.json
Due: none

add more notebooks tests
  cypress/e2e/group2/notebooks.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add copyright header
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

revert to proper psqlInvocation setting
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

misc cleanup
  src/app/descriptor-languages/Jupyter.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

address some robosuggestions
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

remove obsolete TODO
  src/app/descriptor-languages/Jupyter.ts
Due: prettier --write, eslint --fix

was bugging me
  src/app/sitemap/sitemap.component.html
Due: prettier --write

platform partner badge and ui update to verification and logs
  cypress/e2e/immutableDatabaseTests/platform-partner.ts
  cypress/support/commands.ts
  package.json
  src/app/container/container.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/shared/entry/verified-by/verified-by.component.html
  src/app/workflow/workflow.component.html
  test/db_dump.sql
Due: prettier --write, eslint --fix

fix search unit test
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

renamed variable in html
  src/app/starredentries/starredentries.component.html
Due: prettier --write

apply PR feedback
  src/app/descriptor-languages/Jupyter.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/shared/entry.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

add public notebooks entry page
  cypress/e2e/group2/notebooks.ts
  cypress/support/commands.ts
  package.json
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Jupyter.ts
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/entry/router-link.pipe.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/shared/code-editor-list/code-editor-list.service.spec.ts
  src/app/shared/code-editor-list/code-editor-list.service.ts
  src/app/shared/constants.ts
  src/app/shared/descriptor-type-compat.service.spec.ts
  src/app/shared/descriptor-type-compat.service.ts
  src/app/shared/entry-actions/entry-actions.component.ts
  src/app/shared/entry-actions/workflow-actions.component.ts
  src/app/shared/entry.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/launch.service.ts
  src/app/shared/session/session.query.ts
  src/app/shared/state/extended-workflow.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.service.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/tool-tab/tool-tab.component.ts
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/version-modal/version-modal.service.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/view/view.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/assets/svg/notebook-circle.svg
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

alt tab
  src/app/starredentries/starredentries.component.html
Due: prettier --write

Elaborate on CLI in onboarding tutorial (#1729)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write, eslint --fix

A comment
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
