Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updated config.yml
  .circleci/config.yml
Due: none

Realised that auth-tests.ts was modified, this wasn't intended was this pull request. I have undone this
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Found unintended change in config.yml, corrected this error
  .circleci/config.yml
Due: none

Fix "Restub" button overlapping with mode in Workflow Information (#1534)
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

re-enabled test in auth-tests.ts
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

manually add classes
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

add back mx-1
  src/app/home-page/recent-events/recent-events.component.html
Due: prettier --write

import maticonmodule
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.module.ts
Due: prettier --write, eslint --fix

remove extra 'the'
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

Use integers for page offsets (SEAB-3979)
  src/app/containers/list/published-tools.datasource.ts
  src/app/shared/list.service.ts
  src/app/workflows/list/published-workflows.datasource.ts
Due: prettier --write, eslint --fix

Update develop CircleCI JAR
  package.json
Due: none

Change base_branch to hotfix/2.9.1
  package.json
Due: none

Use mapFriendlyValue pipe
  src/app/organizations/collection/collection.component.html
Due: prettier --write

Feature/seab 4301/reporting nightly tests (#1535)
  .circleci/config.yml
Due: none

re-enabled test in auth-tests.ts (#1536)
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Display gxformat2 as Galaxy on collections page (#1540)
  package.json
  src/app/organizations/collection/collection.component.html
Due: prettier --write

Fix 'info' icon not appearing under Activity of user page (#1537)
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.module.ts
Due: prettier --write, eslint --fix

Use integers for page offsets (SEAB-3979, PR #1539)
  package.json
  src/app/containers/list/published-tools.datasource.ts
  src/app/shared/list.service.ts
  src/app/workflows/list/published-workflows.datasource.ts
Due: prettier --write, eslint --fix

create new styles class and add text-wrap requirements
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
  src/styles.scss
Due: prettier --write

Remove typo from 'Default version required' dialog
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

change global style for text-align specificall
  src/app/user-page/user-page.component.html
  src/styles.scss
Due: prettier --write

Add blog link below Username on User-pages (#1533)
  src/app/user-page/user-page.component.html
  src/styles.scss
Due: prettier --write

rename smoke tests
  .circleci/config.yml
Due: none

rename smoke tests (#1544)
  .circleci/config.yml
Due: none

add loading check
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

My Tools temporarily show "No tools registered" when loading is not complete
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  package.json
Due: none

fix: upgrade multiple dependencies with Snyk
  package-lock.json
  package.json
Due: none

fix: upgrade material-design-icons-iconfont from 6.1.1 to 6.7.0
  package-lock.json
  package.json
Due: none

fix: upgrade @fortawesome/angular-fontawesome from 0.10.1 to 0.10.2
  package-lock.json
  package.json
Due: none

Update update_license.yml
  .github/workflows/update_license.yml
Due: none

add undefined check
  src/app/shared/entry-wizard/entry-wizard.component.ts
Due: prettier --write, eslint --fix

return null instead
  src/app/shared/entry-wizard/entry-wizard.component.ts
Due: prettier --write, eslint --fix

Update update_license.yml (#1551)
  .github/workflows/update_license.yml
Due: none

add null case check
  src/app/shared/entry-wizard/entry-wizard.component.ts
Due: prettier --write, eslint --fix

Remove case-sensitive sort for repositories (#1552)
  src/app/shared/entry-wizard/entry-wizard.component.ts
Due: prettier --write, eslint --fix

user-specific events
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
