Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Commenting out launch with button
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

Test fix
  src/app/workflow/launch-third-party/launch-third-party.component.spec.ts
Due: prettier --write, eslint --fix

Don't use flex (#1436)
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

Align 3 Search Buttons in a Row (#1435)
  cypress/integration/smokeTests/sharedTests/search.ts
  src/app/search/search.component.html
Due: prettier --write, eslint --fix

more DOCUMENTATION_URL
  src/app/about/about.component.html
  src/app/docs/docs.component.ts
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.ts
  src/app/home-page/widget/organizations/organizations.component.html
  src/app/home-page/widget/organizations/organizations.component.ts
  src/app/loginComponents/auth/auth.component.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

inital support for Snakemake
  src/app/descriptor-languages/Snakemake.ts
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/shared/entry/descriptor-language.service.ts
  src/app/shared/file-editing.ts
  src/app/shared/ga4gh-files/ga4gh-files.service.ts
  src/app/shared/validationMessages.model.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

use usual generate script
  scripts/generate-openapi-script.sh
Due: none

tslint max length ignore
  src/app/workflow/launch-third-party/launch-third-party.component.spec.ts
Due: prettier --write, eslint --fix

Comment consistency with branch version
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

Removed all instances of font Gotham
  src/app/app.component.css
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.scss
  src/index.html
  src/styles.scss
Due: prettier --write

more DOCUMENTATION_URL (#1440)
  src/app/about/about.component.html
  src/app/docs/docs.component.ts
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.ts
  src/app/home-page/widget/organizations/organizations.component.html
  src/app/home-page/widget/organizations/organizations.component.ts
  src/app/loginComponents/auth/auth.component.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

Consistent Font Changes (Remove Gotham) (#1439)
  src/app/app.component.css
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.scss
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, eslint --fix

Feature/3800/remove dna stack launch with hotfix (#1438)
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.spec.ts
Due: prettier --write, eslint --fix

add support for test (param) file
  src/app/container/paramfiles/paramfiles.service.ts
  src/app/shared/file-editing.ts
Due: prettier --write, eslint --fix

Rough changes to search sidebar: margins, borde
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.scss
Due: prettier --write, eslint --fix

hosted snakemake support
  src/app/descriptor-languages/Snakemake.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/shared/code-editor-list/code-editor-list.service.spec.ts
  src/app/shared/code-editor-list/code-editor-list.service.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

fix smk hosted test file editing
  src/app/descriptor-languages/Snakemake.ts
  src/app/shared/code-editor-list/code-editor-list.service.spec.ts
Due: prettier --write, eslint --fix

implement fallback org logo
  src/app/organizations/collection/collection.component.html
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/starredentries/starredentries.component.html
Due: prettier --write

create setDefault org logo method in service, add default logo
  src/app/app.module.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.ts
  src/app/shared/org-logo.service.ts
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/assets/images/dockstore/default-org-logo.svg
  src/styles.scss
Due: prettier --write, eslint --fix

remove carriage returns from logo svg
  src/assets/images/dockstore/default-org-logo.svg
Due: none

add unit test
  src/app/shared/org-logo.service.spec.ts
Due: prettier --write, eslint --fix

fix starred entries tests
  src/app/starredentries/starredentries.component.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Versions Tab UI Fixes (#1429)
  cypress/integration/group1/hostedWorkflows.ts
  cypress/integration/group2/sharedWorkflows.ts
  cypress/integration/immutableDatabaseTests/services.ts
  cypress/support/commands.ts
  src/app/container/versions/versions.component.ts
  src/app/workflow/versions/versions.component.scss
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/view/view.component.css
  src/app/workflow/view/view.component.html
  src/assets/svg/drop-down-arrow.svg
  src/assets/svg/gear-icon.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Global mat-raised-button style update, small mat raised button skin and structure created, some padding fixes
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/navbar/navbar.component.scss
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.scss
  src/app/organizations/organizations/organizations.component.html
  src/app/search/search.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.scss
  src/styles.scss
Due: prettier --write

fix cli install link, list item body indent
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

get rid of comment
  src/app/myworkflows/myworkflows.service.ts
Due: prettier --write, eslint --fix

https://ucsc-cgl.atlassian.net/browse/SEAB-3826 Don't need to refresh page after publishing/unpublishing tool to see list updated
  cypress/integration/group2/githubAppTools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
Due: prettier --write, eslint --fix

fix tests
  cypress/integration/group2/githubAppTools.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

:
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

PR feedback
  src/app/workflow/version-modal/version-modal.component.ts
Due: prettier --write, eslint --fix

first crack at img fallback directive
  src/app/app.module.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
  src/app/shared/img-fallback.directive.ts
  src/app/shared/modules/img-fallback.module.ts
Due: prettier --write, eslint --fix

put Snakemake capitalized string in enum
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

change link to point to /quick-start, fix list item body indent
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

Additional button changes, mat-card padding adjustments, and bubble height adjustment
  cypress/integration/immutableDatabaseTests/versionModal.ts
  src/app/container/deregister-modal/deregister-modal.component.html
  src/app/container/view/view.component.css
  src/app/container/view/view.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.scss
  src/app/organizations/organizations/organizations.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/workflow/view/view.component.html
  src/assets/svg/gear-icon.svg
  src/styles.scss
Due: prettier --write, eslint --fix

PR feedback
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

allow Snakefile as a descriptor name
  src/app/shared/validationMessages.model.ts
Due: prettier --write, eslint --fix

use img fallback properly
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organizations.module.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/shared/org-logo.service.ts
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

remove duplicate code, move comments
  src/app/shared/img-fallback.directive.ts
  src/app/shared/org-logo.service.ts
Due: prettier --write, eslint --fix

I literally don't understand why the switch doesn't work
  src/app/workflow/version-modal/version-modal.component.ts
Due: prettier --write, eslint --fix

Thank you :')
  src/app/workflow/version-modal/version-modal.component.ts
Due: prettier --write, eslint --fix
