Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Get CircleCI artifact url using script
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
  scripts/run-webservice-script.sh
Due: none

Add eLwazi to the Launch-with options (dockstore/dockstore#4879)
  package.json
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/assets/images/thirdparty/elwazi.png
  src/assets/images/thirdparty/elwazi.svg
Due: prettier --write, eslint --fix

add UI changes
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
Due: prettier --write

use forkjoin
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

remove unused imports
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

generate markdown even if error
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

do not show buttons unless enabled
  src/app/organizations/organization-members/organization-members.component.html
Due: prettier --write

fixup! Add eLwazi to the Launch-with options (dockstore/dockstore#4879)
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/assets/images/thirdparty/elwazi.svg
Due: prettier --write, eslint --fix

Add eLwazi to the Launch-with options (dockstore/dockstore#4879, PR #1561)
  package.json
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
  scripts/run-webservice-script.sh
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/assets/images/thirdparty/elwazi.png
  src/assets/images/thirdparty/elwazi.svg
Due: prettier --write, eslint --fix

fix variables and use pip finalize
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

do not show buttons unless enabled (#1563)
  src/app/organizations/organization-members/organization-members.component.html
Due: prettier --write

update event-type
  package.json
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

use circleci source from develop build
  package.json
Due: none

git rid of SonarCloud code smells
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Build licenses file.
  THIRD-PARTY-LICENSES.csv
Due: none

Build licenses file again
  THIRD-PARTY-LICENSES.csv
Due: none

Build licenses file on Ubuntu this time.
  THIRD-PARTY-LICENSES.csv
Due: none

Latest artifacts
  package.json
Due: none

Feature/postmergeblues (#1564)
  package.json
Due: none

[ImgBot] Optimize images
  src/assets/images/dockstore/default-org-logo.svg
  src/assets/images/dockstore/youtube.svg
  src/assets/images/registries/ADDITIONAL.svg
  src/assets/images/registries/BITBUCKET.svg
  src/assets/images/registries/DOCKSTORE.svg
  src/assets/images/registries/GITHUB.svg
  src/assets/images/registries/GITLAB.svg
  src/assets/images/registries/QUAY.IO.svg
  src/assets/images/thirdparty/elwazi.png
  src/assets/images/thirdparty/elwazi.svg
  src/assets/svg/Refresh.svg
  src/assets/svg/drop-down-arrow.svg
  src/assets/svg/gear-icon.svg
  src/assets/svg/git-hub.svg
  src/assets/svg/help.svg
  src/assets/svg/icons-actions-edit.svg
  src/assets/svg/icons-checkmark.svg
  src/assets/svg/icons-plus.svg
  src/assets/svg/icons-reject-small.svg
  src/assets/svg/icons-reject.svg
  src/assets/svg/icons-save.svg
  src/assets/svg/my-nav/account.svg
  src/assets/svg/my-nav/dashboard.svg
  src/assets/svg/my-nav/organization.svg
  src/assets/svg/my-nav/services.svg
  src/assets/svg/my-nav/starred.svg
  src/assets/svg/my-nav/tools.svg
  src/assets/svg/my-nav/workflows.svg
  src/assets/svg/reset.svg
  src/assets/svg/service-circle.svg
  src/assets/svg/sync.svg
Due: none

new file"
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
Due: prettier --write, eslint --fix

add sm to window display condition
  src/app/navbar/navbar.component.html
Due: prettier --write

fix navigation bar items overlap
  src/app/navbar/navbar.component.html
Due: prettier --write

add success msg
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

fix circle ci source and build id
  package.json
Due: none

Get dockstore script from cli repo (#1556)
  package.json
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.spec.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

new boxes
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-page.module.ts
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.scss
  src/app/home-page/widget/entry-boxes/entry-boxes.component.spec.ts
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
Due: prettier --write, eslint --fix

test this
  package.json
Due: none

test this (#1567)
  package.json
Due: none

combine duplicated code
  package.json
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

fix failed tests
  package.json
Due: none

load entries
  src/app/home-page/home-page.module.ts
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
Due: prettier --write, eslint --fix

change to router
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

package.json fix tests
  package.json
Due: none

Change Workflow 'Labels' to Angular routing (#1568)
  package.json
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

fix comment
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

remove unused imports
  src/app/home-page/recent-events/recent-events.component.ts
Due: prettier --write, eslint --fix

Change recent events to show user-specific events only (#1554)
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/state/recent-events.service.ts
Due: prettier --write, eslint --fix

Fix: Selectively include CWL instructions (dockstore/dockstore#4862, PR #1529)
  src/app/workflow/launch/launch.component.html
Due: prettier --write
