Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

package-lock
  package-lock.json
Due: none

small fixes
  cypress/e2e/immutableDatabaseTests/notificationUpdates.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/news-box/news-box.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

twitter fix
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/shared/twitter.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

removed unnecessary method
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

minor updates
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Position mattooltip to the left in Actions menu (#1730)
  src/app/workflow/view/view.component.html
Due: prettier --write

Update Entry Box Search - SEAB-5268 (#1719)
  src/app/home-page/home-page.module.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.spec.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/shared/styles/dashboard-boxes.scss
Due: prettier --write, eslint --fix

DOCK-1525: reordering version dropdown in my workflow (#1720)
  THIRD-PARTY-LICENSES.csv
  cypress/e2e/group2/myworkflows.ts
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

rename notification files, new banner per new notification
  cypress/e2e/immutableDatabaseTests/newsNotifications.ts
  cypress/fixtures/newsNotifications.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/news-updates/news-notifications.component.html
  src/app/home-page/widget/news-updates/news-notifications.component.scss
  src/app/home-page/widget/news-updates/news-notifications.component.spec.ts
  src/app/home-page/widget/news-updates/news-notifications.component.ts
  src/app/home-page/widget/news-updates/notification-updates.component.html
  src/app/notifications/sitewide-notifications.component.html
  src/app/notifications/sitewide-notifications.component.scss
  src/app/notifications/sitewide-notifications.component.spec.ts
  src/app/notifications/sitewide-notifications.component.ts
Due: prettier --write, eslint --fix

add discover existing tools button
  cypress/e2e/group3/mytools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

first revision
  src/app/app.module.ts
  src/app/entry/type-metadata/entry-type-metadata.service.spec.ts
  src/app/entry/type-metadata/entry-type-metadata.service.ts
Due: prettier --write, eslint --fix

change unit test
  src/app/entry/type-metadata/entry-type-metadata.service.spec.ts
Due: prettier --write, eslint --fix

streamline test
  src/app/entry/type-metadata/entry-type-metadata.service.spec.ts
Due: prettier --write, eslint --fix

add getAll()
  src/app/entry/type-metadata/entry-type-metadata.service.spec.ts
  src/app/entry/type-metadata/entry-type-metadata.service.ts
Due: prettier --write, eslint --fix

misc tweaks
  src/app/entry/type-metadata/entry-type-metadata.service.spec.ts
  src/app/entry/type-metadata/entry-type-metadata.service.ts
Due: prettier --write, eslint --fix

edit comment
  src/app/entry/type-metadata/entry-type-metadata.service.ts
Due: prettier --write, eslint --fix

News & Updates + Twitter + Notification Updates - SEAB-5200 (#1728)
  cypress/e2e/immutableDatabaseTests/newsNotifications.ts
  cypress/e2e/immutableDatabaseTests/newsUpdates.ts
  cypress/fixtures/newsNotifications.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/featured-content/news-and-updates.component.ts
  src/app/home-page/widget/news-box/news-box.component.html
  src/app/home-page/widget/news-box/news-box.component.spec.ts
  src/app/home-page/widget/news-box/news-box.component.ts
  src/app/home-page/widget/news-updates/news-notifications.component.html
  src/app/home-page/widget/news-updates/news-notifications.component.scss
  src/app/home-page/widget/news-updates/news-notifications.component.spec.ts
  src/app/home-page/widget/news-updates/news-notifications.component.ts
  src/app/home-page/widget/news-updates/news-updates.component.html
  src/app/home-page/widget/news-updates/news-updates.component.scss
  src/app/home-page/widget/news-updates/news-updates.component.ts
  src/app/notifications/notifications.component.html
  src/app/notifications/notifications.component.spec.ts
  src/app/notifications/notifications.component.ts
  src/app/notifications/sitewide-notifications.component.html
  src/app/notifications/sitewide-notifications.component.scss
  src/app/notifications/sitewide-notifications.component.spec.ts
  src/app/notifications/sitewide-notifications.component.ts
  src/app/notifications/state/notifications.service.spec.ts
  src/app/notifications/state/notifications.service.ts
  src/app/shared/twitter.service.ts
Due: prettier --write, eslint --fix

cypress test
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/fixtures/sampleNotebook.json
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

removed code smell
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

remove mat-panel min-height and update success message
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/user/user.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

checkpoint
  package.json
  src/app/descriptor-languages/Galaxy.ts
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/shared/code-editor-list/code-editor-list.service.spec.ts
  src/app/shared/code-editor-list/code-editor-list.service.ts
  src/app/shared/constants.ts
  src/app/shared/descriptor-type-compat.service.spec.ts
  src/app/shared/descriptor-type-compat.service.ts
  src/app/shared/entry-actions/entry-actions.component.ts
  src/app/shared/entry-actions/workflow-actions.component.ts
  src/app/shared/entry.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/launch.service.ts
  src/app/shared/state/extended-workflow.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.service.ts
  src/app/workflow/tool-tab/tool-tab.component.ts
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/version-modal/version-modal.service.ts
  src/app/workflow/view/view.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/app/workflows/notebooks/notebooks.routing.ts
Due: prettier --write, eslint --fix

link from /notebooks listings to entry page
  src/app/entry/router-link.pipe.ts
Due: prettier --write, eslint --fix

add placeholder notebook image
  src/app/workflow/workflow.component.html
Due: prettier --write

Wait for workflowId and toolId before creating tabs
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
Due: prettier --write, eslint --fix

Simplify select tab pipe
  src/app/shared/entry/select-tab.pipe.ts
Due: prettier --write, eslint --fix

Fix workflow undefined error
  src/app/shared/state/workflow.query.ts
Due: prettier --write, eslint --fix

Revert "Initialize in ngOnInit instead of constructor"
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

Fix another console error
  src/app/shared/state/workflow.query.ts
Due: prettier --write, eslint --fix

Add comments
  src/app/shared/entry/select-tab.pipe.ts
Due: prettier --write, eslint --fix

Try updating artifacts
  package.json
Due: none

Fix tests
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

Add Discover Existing Tools Button - DOCK-2269 (#1731)
  cypress/e2e/group3/mytools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/shared/user/user.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

retrieve entry type metadata at startup
  src/app/app.module.ts
  src/app/entry/type-metadata/entry-type-metadata.service.spec.ts
  src/app/entry/type-metadata/entry-type-metadata.service.ts
Due: prettier --write, eslint --fix

add notebook image and simple colab launch
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

make placeholder text better
  src/app/workflow/workflow.component.html
Due: prettier --write

add new files
  src/app/descriptor-languages/Jupyter.ts
  src/assets/svg/notebook-circle.svg
Due: prettier --write, eslint --fix

Add CircleToken header
  scripts/get-circleci-artifact-url.sh
Due: none

changes following pr review
  cypress/fixtures/sampleNotebook.json
  package.json
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/workflows/workflows.component.html
  src/assets/svg/sub-nav/notebook.svg
Due: prettier --write
