Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Display multiple authors in search (#1755)
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/searchTableResponse.json
  package.json
  src/app/search/facet-search/facet-search.pipe.spec.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-authors-html.pipe.spec.ts
  src/app/search/search-authors-html.pipe.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/search.module.ts
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/shared/bioschema.service.spec.ts
  src/app/shared/bioschema.service.ts
  src/app/shared/pipe/pipe.module.ts
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

improve markdown wrapper service FORBID list
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

remove console.log
  src/app/notebook/notebook-markdown.component.ts
Due: prettier --write, eslint --fix

change '== undefined' and '!= undefine' to longer forms
  src/app/notebook/notebook-markdown.component.ts
  src/app/notebook/notebook-mime-bundle-output.component.ts
  src/app/notebook/notebook-source.component.ts
Due: prettier --write, eslint --fix

update baseUrl invocation
  src/app/workflow/workflow.component.html
Due: prettier --write

fix categories bug
  src/app/workflow/workflow.component.html
Due: prettier --write

update routerlink pipe, register modals, etc
  cypress/e2e/group1/hostedWorkflows.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/smokeTests/sharedTests/zenodo.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/container/register-tool/register-tool.component.html
  src/app/entry/router-link.pipe.spec.ts
  src/app/entry/router-link.pipe.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/myworkflows.service.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/organizations/collection/collection.component.html
  src/app/shared/user/user.query.ts
  src/app/test/openapi-mocked-objects.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

update data-cy attributes
  cypress/e2e/group1/hostedWorkflows.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  cypress/support/commands.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write, eslint --fix

replaced Github with GitHub (#1643)
  src/app/sitemap/sitemap.component.html
  src/app/user-page/user-page.component.html
  src/app/workflow/dag/dag.component.html
Due: prettier --write

remove unused import
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

improve mathjax and prism import
  angular.json
  src/app/notebook/mathjax-config.js
  src/app/notebook/mathjax.ts
  src/app/notebook/notebook-markdown.component.ts
  src/app/notebook/notebook-source.component.ts
  src/app/notebook/prism.ts
Due: prettier --write, eslint --fix

integration test and feature flag
  cypress/e2e/immutableDatabaseTests/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  cypress/fixtures/sampleMetrics.json
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

unused import
  cypress/e2e/immutableDatabaseTests/metrics.ts
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

codacy check fix
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

added dockstore model
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

confirm that the mathjax ui/safe module is installed
  src/app/notebook/mathjax.ts
  src/app/notebook/notebook-markdown.component.ts
Due: prettier --write, eslint --fix

use entryTypeMetadata for routerlink pipe
  src/app/entry/router-link.pipe.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/organizations/collection/collection.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/list/list.component.html
Due: prettier --write, eslint --fix

add entryTypeMetadata to mock objects, add EntryTypeMetadataStubService
  src/app/entry/router-link.pipe.spec.ts
  src/app/test/openapi-mocked-objects.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

unused import
  src/app/test/openapi-mocked-objects.ts
Due: prettier --write, eslint --fix

refactor org members layout
  src/app/organizations/organization-members/organization-members.component.html
Due: prettier --write

hide edit button for self user
  src/app/organizations/organization-members/organization-members.component.html
Due: prettier --write

minor entry type changes
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

fixed spacing
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.ts
Due: prettier --write, eslint --fix

search results appear
  src/app/search/search-entry-table.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.ts
  src/app/search/search.component.ts
  src/app/search/search.module.ts
  src/app/search/state/search.query.ts
  src/app/search/state/search.service.ts
  src/app/search/state/search.store.ts
Due: prettier --write, eslint --fix

add new notebook files
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.scss
  src/app/search/search-notebook-table/search-notebook-table.component.spec.ts
  src/app/search/search-notebook-table/search-notebook-table.component.ts
Due: prettier --write, eslint --fix

remove orcid id column for legacy tools
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

parameterize banner, change colour, fix padding for starred tab
  src/app/home-page/dashboard/dashboard.component.html
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/search.component.html
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write, eslint --fix

update entry type usage
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

fixed spacing (#1760)
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.ts
Due: prettier --write, eslint --fix

implement conditional facets
  src/app/search/query-builder.service.ts
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

rename
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

user dropdown cursor
  src/app/navbar/navbar.component.html
Due: prettier --write

pr review feedback changes
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.spec.ts
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

added width styling for banner;
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

change to make cranch fesh [skip ci]
  README.md
Due: none

minor fixes
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

fixed unit test
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.spec.ts
Due: prettier --write, eslint --fix

fixed test
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix
