Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

switch back from orb to tutorial
  .circleci/config.yml
Due: none

switch docker image
  .circleci/config.yml
Due: none

Revert "Test artifactory JAR with Java 17"
  package.json
Due: none

remove duplicate selectors
  src/styles.scss
Due: prettier --write

add check on mat-card
  src/app/user-page/user-page.component.html
Due: prettier --write

Fix codacy issues: add double quotes
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
  scripts/run-webservice-script.sh
Due: none

Add update license manual workflow
  .github/workflows/update_license.yml
Due: none

Define input type
  .github/workflows/update_license.yml
Due: none

Run a hello world job on push so the workflow shows up in GH actions
  .github/workflows/update_license.yml
Due: none

Revert "Run a hello world job on push so the workflow shows up in GH actions"
  .github/workflows/update_license.yml
Due: none

Revert "Revert "Run a hello world job on push so the workflow shows up in GH actions""
  .github/workflows/update_license.yml
Due: none

Make the name the same and add workflow_dispatch
  .github/workflows/update_license.yml
Due: none

Edit username functionality for sidebar & global warning/alert style update (#1511)
  cypress/integration/group2/usernameChangeRequired.ts
  cypress/integration/immutableDatabaseTests/disabledAccountControls.ts
  cypress/integration/immutableDatabaseTests/dropdown.ts
  src/app/aliases/aliases.component.html
  src/app/app.module.ts
  src/app/container/container.component.html
  src/app/container/descriptors/descriptors.component.html
  src/app/container/dockerfile/dockerfile.component.html
  src/app/container/launch/launch.component.html
  src/app/container/paramfiles/paramfiles.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/loginComponents/accounts/controls/controls.component.html
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.scss
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.module.ts
  src/app/loginComponents/onboarding/onboarding.component.html
  src/app/maintenance/maintenance.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/search/search.component.html
  src/app/shared/alert/alert.component.html
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/workflow/dag/cwl-viewer/cwl-viewer.html
  src/app/workflow/dag/dag.component.html
  src/app/workflow/dag/wdl-viewer/wdl-viewer.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/tool-tab/tool-tab.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/workflow.component.html
  src/ds-style-fix.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

Use the actual update license workflow again
  .github/workflows/update_license.yml
Due: none

Change trigger to on push for dependabot branches
  .github/workflows/update_license.yml
Due: none

User Pages (#1509)
  src/app/app.routing.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/organizations/organization-members.module.ts
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization/organization-stargazers/organization-stargazers.module.ts
  src/app/stargazers/stargazers.component.html
  src/app/stargazers/stargazers.module.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
  src/app/user-page/user-page.component.ts
  src/app/user-page/user-page.module.ts
  src/app/user-page/user-page.routing.ts
Due: prettier --write, eslint --fix

Install dependencies and git-secrets, add braces to if statement, config git user
  .github/workflows/update_license.yml
Due: none

Add GitHub action, mimic dependabot update
  .github/workflows/update_license.yml
  package-lock.json
Due: none

Fix CircleCI artifacts URL (#1515)
  .circleci/config.yml
  cypress/support/commands.ts
  package.json
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Revert "switch docker image"
  .circleci/config.yml
Due: none

Revert "switch back from orb to tutorial"
  .circleci/config.yml
Due: none

Add GitHub Action for updating license file for dependabot branches (#1517)
  .github/workflows/update_license.yml
Due: none

disabled on being a hosted workflow
  src/app/workflow/view/view.component.html
Due: prettier --write

update tooltip
  src/app/workflow/view/view.component.html
Due: prettier --write

actually add a tooltip
  src/app/workflow/view/view.component.html
Due: prettier --write

typo
  src/app/workflow/view/view.component.html
Due: prettier --write

Add contents write permissions
  .github/workflows/update_license.yml
Due: none

format newlines in github apps log message as newlines
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.scss
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: none

limit dependabot to security updates for now
  .github/dependabot.yml
Due: none

Add comment about why we need to set write permissions
  .github/workflows/update_license.yml
Due: none

typo [skip ci]
  .github/dependabot.yml
Due: none

Add contents write permissions for update license GitHub Action (#1522)
  .github/workflows/update_license.yml
Due: none

limit dependabot to security updates for now (#1523)
  .github/dependabot.yml
Due: none

tweak log message style
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.scss
Due: prettier --write

Typo fix for hosted
  src/app/workflow/view/view.component.html
Due: prettier --write

first
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

render newlines in github app log messages as newlines
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.scss
Due: prettier --write

switch to openid connect from access keys in context (#1514)
  .circleci/config.yml
  README.md
Due: none
