Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

change org-logo.service
  src/app/shared/org-logo.service.spec.ts
Due: prettier --write, eslint --fix

add integration test
  cypress/integration/group2/organizations.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

remove unused import
  src/app/organizations/organization/organization.component.ts
Due: prettier --write, eslint --fix

rename fallback attribute to 'appFallback'
  src/app/organizations/collection/collection.component.html
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/shared/img-fallback.directive.spec.ts
  src/app/shared/img-fallback.directive.ts
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

remove unused import
  src/app/shared/img-fallback.directive.spec.ts
Due: prettier --write, eslint --fix

Padding update and few more mat-raised-buttons
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/starredentries/starredentries.component.html
  src/styles.scss
Due: prettier --write

fix install cli link
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

bump webservice to beta
  scripts/run-webservice-script.sh
Due: none

point circleci to proper webservice src
  package.json
Due: none

fix tests
  src/app/shared/code-editor-list/code-editor-list.service.spec.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

fix snakemake descriptor path
  src/app/descriptor-languages/Snakemake.ts
Due: prettier --write, eslint --fix

Feature/UI snakemake support (#1441)
  package.json
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
  src/app/container/paramfiles/paramfiles.service.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/shared/code-editor-list/code-editor-list.service.spec.ts
  src/app/shared/code-editor-list/code-editor-list.service.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/entry/descriptor-language.service.ts
  src/app/shared/file-editing.ts
  src/app/shared/ga4gh-files/ga4gh-files.service.ts
  src/app/shared/validationMessages.model.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

non-functional first draft
  src/app/entry/current-collections/current-collections.component.html
Due: prettier --write

change private service to public
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

This works, so committing it, but it isnt ideal
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Updated more mat-raised-buttons
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/organization/update-organization-description/update-organization-description.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write

Fix publishing and edit bugs (#1442)
  cypress/integration/group2/githubAppTools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

remove spurious whitespace
  src/app/shared/img-fallback.directive.spec.ts
Due: prettier --write, eslint --fix

Ensuring visible buttons are passed in DOM to click. Removing waits.
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Testing dev auth tests. Should be removed before merging.
  .circleci/config.yml
Due: none

Revert "Testing dev auth tests. Should be removed before merging."
  .circleci/config.yml
Due: none

fix broken org logo(avatar) images
  cypress/integration/group2/organizations.ts
  cypress/support/commands.ts
  src/app/app.module.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
  src/app/organizations/organizations.module.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.ts
  src/app/shared/img-fallback.directive.spec.ts
  src/app/shared/img-fallback.directive.ts
  src/app/shared/modules/img-fallback.module.ts
  src/app/shared/org-logo.service.spec.ts
  src/app/shared/org-logo.service.ts
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.spec.ts
  src/app/starredentries/starredentries.component.ts
  src/app/test/service-stubs.ts
  src/assets/images/dockstore/default-org-logo.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Global mat-raised-button changes (#1447)
  cypress/integration/immutableDatabaseTests/versionModal.ts
  src/app/container/deregister-modal/deregister-modal.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/container/view/view.component.css
  src/app/container/view/view.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/navbar/navbar.component.scss
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/organization/update-organization-description/update-organization-description.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/registerOrganization/requireAccountsModal/require-accounts-modal.component.html
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.html
  src/app/search/search.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.scss
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/view/view.component.html
  src/assets/svg/gear-icon.svg
  src/styles.scss
Due: prettier --write, eslint --fix

No longer checking for extremely visible button
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Feature/3886/flakey auth tests round two (#1448)
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

working very rough approximation
  package.json
  src/app/entry/current-collections/current-collections.component.html
Due: prettier --write

improve implementation, add tiny-org-logo class
  src/app/entry/current-collections/current-collections.component.html
  src/styles.scss
Due: prettier --write

restructure html, made tiny-org-logo style better
  src/app/entry/current-collections/current-collections.component.html
  src/styles.scss
Due: prettier --write

minor tweaks
  src/app/entry/current-collections/current-collections.component.html
Due: prettier --write

add fallback logo
  src/app/entry/current-collections.module.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/entry/current-collections/current-collections.component.ts
Due: prettier --write, eslint --fix

fix webservice version
  scripts/run-webservice-script.sh
Due: none

Update launch.component.html
  src/app/workflow/launch/launch.component.html
Due: prettier --write

Change make-template command
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

Update workflow-launch.service.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

Use combineLatest
  src/app/container/launch/launch.component.ts
Due: prettier --write, eslint --fix

Update browser-tools
  .circleci/config.yml
Due: none

Add pattern to gitallowed
  .gitallowed
Due: none

Try only installing Chrome
  .circleci/config.yml
Due: none

single-space text
  src/app/entry/current-collections/current-collections.component.html
  src/styles.scss
Due: prettier --write

Fix
  src/app/container/launch/launch.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
