Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test this
  package.json
Due: none

kinda silly
  src/app/containers/list/list.component.html
  src/app/workflows/list/list.component.html
Due: prettier --write

akita update
  package-lock.json
  package.json
Due: none

license
  THIRD-PARTY-LICENSES.csv
Due: none

fix manual topic editing issues
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write, eslint --fix

SEAB-3091: update akita to 8.0.1 and akita-ngdevtools to 7.0.0 (#1893)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

change registration/login to better handle non-http error
  src/app/login/login.service.ts
  src/app/register/register.service.ts
Due: prettier --write, eslint --fix

use beta release
  package.json
Due: none

fix unit tests
  src/app/container/email.service.spec.ts
  src/app/test/mocked-objects.ts
Due: prettier --write, eslint --fix

clear sort column on third click
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

finish deprecation of author in favour of authors array (#1891)
  package.json
  src/app/container/email.service.spec.ts
  src/app/container/email.service.ts
  src/app/containers/list/list.component.html
  src/app/shared/extended-dockstoreTool/extended-dockstoreTool.service.ts
  src/app/test/mocked-objects.ts
  src/app/workflows/list/list.component.html
Due: prettier --write, eslint --fix

preserve sort direction
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

Fix width of register tool dialog
  src/app/mytools/my-tool/my-tool.component.ts
Due: prettier --write, eslint --fix

Comment out failing test due to rule change
  cypress/e2e/smokeTests/sharedTests/waf.ts
Due: prettier --write, eslint --fix

pr suggestion
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

clear sort column on third click and preserve sort order when paging (#1895)
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

Remove test entirely
  cypress/e2e/smokeTests/sharedTests/waf.ts
Due: prettier --write, eslint --fix

Comment out failing WAF test due to rule change (#1898)
  cypress/e2e/smokeTests/sharedTests/waf.ts
Due: prettier --write, eslint --fix

Revert "Bump actions/upload-artifact from 3 to 4 (#1900)"
  .github/workflows/accessibility_test.yml
Due: none

Revert "Bump actions/upload-artifact from 3 to 4 (#1900)" (#1901)
  .github/workflows/accessibility_test.yml
Due: none

Fix width of register tool dialog (#1897)
  src/app/mytools/my-tool/my-tool.component.ts
Due: prettier --write, eslint --fix

codacy
  src/app/github-landing-page/github-landing-page.component.scss
Due: prettier --write

add provider to stub
  src/app/shared/register-github-app/register-github-app.component.spec.ts
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

fix test
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

landing page test
  cypress/e2e/group1/dashboard.ts
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write, eslint --fix

after standup changes
  cypress/e2e/group1/dashboard.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

fix landing page html
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write

fix test
  cypress/e2e/group1/dashboard.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

open github apps auth in new tab
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

pr review
  src/app/app.routing.ts
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write, eslint --fix

landing page progress
  src/app/app.routing.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/home-page/home-page.module.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

back to new tab
  src/app/github-landing-page/github-landing-page.component.html
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

sonarcloud
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

changes
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

back to new tab
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/shared/register-github-app/register-github-app.component.spec.ts
Due: prettier --write, eslint --fix

redirect
  src/app/container/register-tool/register-tool.component.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/shared/register-github-app/register-github-app.component.ts
  src/app/shared/session/session.query.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
