Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

removed unused imports
  cypress/integration/group1/revokeDockstoreToken.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
Due: prettier --write, eslint --fix

After running ng update @angular/core@14 @angular/cli@14
  angular.json
  package-lock.json
  package.json
  src/app/loginComponents/accounts/accounts.component.ts
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/organizations/collections/create-collection/create-collection.component.ts
  src/app/organizations/collections/state/create-collection.service.spec.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/organization/state/update-organization-description.service.spec.ts
  src/app/organizations/organization/state/update-organization-description.service.ts
  src/app/organizations/organization/update-organization-description/update-organization-description.component.ts
  src/app/organizations/organizations/organizations.component.ts
  src/app/organizations/registerOrganization/register-organization.component.ts
  src/app/organizations/state/register-organization.service.spec.ts
  src/app/organizations/state/register-organization.service.ts
  src/app/organizations/state/upsert-organization-member.service.spec.ts
  src/app/organizations/state/upsert-organization-member.service.ts
  src/app/organizations/upsert-organization-member/upsert-organization-member.component.ts
  src/app/search/basic-search/basic-search.component.ts
  src/app/shared/entry.ts
  src/app/shared/error-state-matcher.ts
  src/app/starredentries/starredentries.component.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Ignore git-secrets directory
  .gitignore
Due: none

Manually update flex-layout; Angular Material migration failing
  package.json
Due: none

Revert "Manually update flex-layout; Angular Material migration failing"
  package.json
Due: none

Upgraded Angular Material
  package-lock.json
  package.json
Due: none

Update licenses
  THIRD-PARTY-LICENSES.csv
Due: none

changed alerts from Snackbar to AlertService
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
Due: prettier --write, eslint --fix

changed pageEntryType from string to EntryType object
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

changed pageEntryType from string to EntryType object
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
Due: prettier --write

changed cancel button to ok
  cypress/integration/group3/mytools.ts
  src/app/container/version-modal/version-modal.component.html
Due: prettier --write, eslint --fix

fixed cypress test
  cypress/integration/group3/mytools.ts
Due: prettier --write, eslint --fix

added function to ok button
  src/app/container/version-modal/version-modal.component.html
Due: prettier --write

Seems to run, still unclear on peer dependencies
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

Run licenses from Ubuntu Docker
  THIRD-PARTY-LICENSES.csv
Due: none

npm update on linux container
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

added Nextflow Tower and Galaxy as integration partners (#1615)
  src/app/about/about.component.ts
  src/assets/images/sponsors/coloured/galaxy.png
  src/assets/images/sponsors/coloured/nf-tower-purple.svg
Due: prettier --write, eslint --fix

DOCK-2255 fixed bug in My Tools and My Services (#1630)
  cypress/integration/group3/sidebarAccordion.ts
  cypress/support/commands.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared-workflow-services/shared-workflow-services.module.ts
Due: prettier --write, eslint --fix

added alert service start message
  src/app/loginComponents/accounts/external/accounts.component.ts
Due: prettier --write, eslint --fix

edited config file
  .circleci/config.yml
Due: none

PR Feedback
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

added Nextflow Tower and Galaxy as integration partners (#1615) (#1633)
  src/app/about/about.component.ts
  src/assets/images/sponsors/coloured/galaxy.png
  src/assets/images/sponsors/coloured/nf-tower-purple.svg
Due: prettier --write, eslint --fix

removed duplicate data-cy tag
  src/app/container/version-modal/version-modal.component.html
Due: prettier --write

DOCK-2241 Change Cancel button to OK in public tool version modal (#1632)
  cypress/integration/group3/mytools.ts
  src/app/container/version-modal/version-modal.component.html
Due: prettier --write, eslint --fix

Rebuild from scratch in Linux container
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

modified condition in everything workflow
  .circleci/config.yml
Due: none

fixed OR logical statement typo
  .circleci/config.yml
Due: none

DOCK-1566 create revoke Dockstore token button on My Account (#1628)
  cypress/integration/group1/revokeDockstoreToken.ts
  src/app/app.module.ts
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.scss
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.spec.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
  src/app/navbar/navbar.component.html
Due: prettier --write, eslint --fix

test this
  package.json
Due: none

Got auth smoke tests for qa, re-enabling.
  .circleci/config.yml
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Build on Ubuntu 20 instead of 22
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

Debug what is happening
  scripts/detect-package-json-changes.sh
Due: none

second attempt at upgrade
  THIRD-PARTY-LICENSES.csv
Due: none

once more
  THIRD-PARTY-LICENSES.csv
Due: none

Retarget dev smoke tests to qa, partial (#1626)
  .circleci/config.yml
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
  package.json
Due: prettier --write, eslint --fix

Migrating from CircleCI's scheduled workflow to schedules pipelines (#1634)
  .circleci/config.yml
Due: none

started script
  scripts/reset-dockstoretestuser4-resources.sh
Due: none

changed colors of each entry widget bubbles
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/materialColorScheme.scss
Due: prettier --write

Fix Cypress tests
  src/app/search/advancedsearch/advancedsearch.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix
