Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Some more parameter reordering
  src/app/container/register-tool/register-tool.service.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.service.ts
Due: prettier --write, eslint --fix

SEAB-5470: Use Java image to fix failing installation step (#1787)
  .circleci/config.yml
Due: none

add condition to install scanner
  .circleci/config.yml
Due: none

removed tests
  cypress/e2e/group1/dashboard.ts
Due: prettier --write, eslint --fix

update properties file
  .circleci/config.yml
  sonar-project.properties
Due: none

test
  cypress/e2e/immutableDatabaseTests/notebooks.ts
Due: prettier --write, eslint --fix

removed preview bubble
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
Due: prettier --write

removed preview banner missed in preview commit
  src/app/organizations/collection/collection.component.html
  src/app/organizations/organization/organization.component.html
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write

Run npm install again
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

SEAB-5568: removed feature flag and preview banner for notebooks (#1795)
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/home-page/dashboard/dashboard.component.html
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization/organization.component.html
  src/app/search/search.component.html
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write, eslint --fix

SEAB-3959: Merge from forked repo (#1797)
  .circleci/config.yml
  sonar-project.properties
Due: none

change what step is called
  .circleci/config.yml
Due: none

add sonarcloud context
  .circleci/config.yml
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

SEAB-3959: Set up coverage in SonarCloud for dockstore-ui2 project (#1798)
  .circleci/config.yml
  sonar-project.properties
Due: none

exclude common terms from tagcloud query
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

move common terms constant
  src/app/search/query-builder.service.ts
  src/app/shared/constants.ts
Due: prettier --write, eslint --fix

Clean up smoke test code after 1.14 release
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

create pipe for partner display names
  cypress/e2e/immutableDatabaseTests/metrics.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.spec.ts
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflows/workflows.module.ts
Due: prettier --write, eslint --fix

oops added the pipe
  src/app/shared/entry/platform-partner.pipe.spec.ts
  src/app/shared/entry/platform-partner.pipe.ts
Due: prettier --write, eslint --fix

add to spec file
  src/app/search/query-builder.service.spec.ts
Due: prettier --write, eslint --fix

integration test fix
  cypress/e2e/immutableDatabaseTests/metrics.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

try to exclude spec files from coverage
  sonar-project.properties
Due: none

pr review change
  src/app/shared/entry/platform-partner.pipe.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

fixed test
  cypress/e2e/immutableDatabaseTests/metrics.ts
Due: prettier --write, eslint --fix

SEAB-5413: create pipe for partner display names (#1800)
  cypress/e2e/immutableDatabaseTests/metrics.ts
  src/app/shared/entry/platform-partner.pipe.spec.ts
  src/app/shared/entry/platform-partner.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.spec.ts
  src/app/workflows/workflows.module.ts
Due: prettier --write, eslint --fix

Clean up smoke test code after 1.14 release (#1801)
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

check for extra content
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

DOCK-645: Exclude common terms from tag cloud (#1799)
  sonar-project.properties
  src/app/search/query-builder.service.spec.ts
  src/app/search/query-builder.service.ts
  src/app/shared/constants.ts
Due: prettier --write, eslint --fix

retry apt-get if it fails
  .circleci/config.yml
Due: none

load extra content for cypress
  cypress/support/commands.ts
  test/web.yml
Due: prettier --write, eslint --fix

retry apt-get if it fails (#1802)
  .circleci/config.yml
Due: none

Fix TRS ID
  cypress/e2e/immutableDatabaseTests/metrics.ts
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Update webservice JAR
  package.json
Due: none

Fix test
  cypress/e2e/immutableDatabaseTests/metrics.ts
Due: prettier --write, eslint --fix

Only call endpoint if version exists
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Change base branch for accessibility test
  package.json
Due: none

PR feedback
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
