Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

add sorting so UI requests 200 max in sorted order
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

try to use updated artifact
  package.json
Due: none

oops
  package.json
Due: none

wrong job
  package.json
Due: none

new tool/workflow widgets
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.ts
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.scss
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
  src/app/myworkflows/myworkflows.service.ts
Due: prettier --write, eslint --fix

An experiment
  src/app/app.module.ts
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

increase margins
  src/app/home-page/home-logged-in/home-logged-in.component.html
Due: prettier --write

An experiment
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
Due: prettier --write, eslint --fix

point build at merged commit
  package.json
Due: none

add sorting so UI requests 200 max in sorted order (#1571)
  package.json
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

Fix broken unit test
  src/app/configuration.service.spec.ts
Due: prettier --write, eslint --fix

Check if user exists during canActivate
  src/app/app.routing.ts
  src/app/shared/auth.guard.ts
  test/web.yml
Due: prettier --write, eslint --fix

new component
  src/app/app.routing.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.scss
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
  src/app/mytools/mytools.module.ts
Due: prettier --write, eslint --fix

enable new feature flag
  src/app/app.routing.ts
  src/app/home-page/home-logged-in/home-logged-in.component.ts
  src/app/home-page/home-page.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
Due: prettier --write, eslint --fix

remove unused imports
  src/app/home-page/home-page.module.ts
  src/app/mytools/mytools.module.ts
Due: prettier --write, eslint --fix

PR feedback & fix code smell
  src/app/app.routing.ts
  src/app/shared/auth.guard.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/integration/immutableDatabaseTests/titleTag.ts
Due: prettier --write, eslint --fix

fix feature flag use
  src/app/app.routing.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.ts
  src/app/home-page/home-page.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
Due: prettier --write, eslint --fix

Get logged in user during canActivate to check authentication (#1573)
  cypress/integration/immutableDatabaseTests/titleTag.ts
  src/app/app.routing.ts
  src/app/shared/auth.guard.ts
  test/web.yml
Due: prettier --write, eslint --fix

add version date and use date for old dates
  src/app/shared/date.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

sonarcloud, remove redundant text
  src/app/shared/date.service.spec.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

clean up warnin
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

possible typo
  src/app/shared/date.service.spec.ts
Due: prettier --write, eslint --fix

more typo
  src/app/shared/date.service.spec.ts
Due: prettier --write, eslint --fix

that was silly
  src/app/shared/date.service.spec.ts
Due: prettier --write, eslint --fix

bugfix
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

more lint
  src/app/workflow/workflow.component.html
Due: prettier --write

noticed tests install chrome but run with electron
  package.json
Due: none

try more chrome
  .circleci/config.yml
Due: none

clean up warnin (#1575)
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

Revert "try more chrome"
  .circleci/config.yml
Due: none

Revert "noticed tests install chrome but run with electron"
  package.json
Due: none

ram issue?
  .circleci/config.yml
Due: none

Update PR template for target branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Revert "ram issue?"
  .circleci/config.yml
Due: none

minor changes according to suggestions
  src/app/app.routing.ts
  src/app/home-page/widget/entry-boxes/entry-boxes.component.html
  src/app/home-page/widget/entry-boxes/entry-boxes.component.ts
Due: prettier --write, eslint --fix

even more power scotty
  .circleci/config.yml
Due: none

Revert "even more power scotty"
  .circleci/config.yml
Due: none
