Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

uncomment code
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

changed build id
  package.json
Due: none

fixed title
  src/app/workflows/notebooks/notebooks.routing.ts
Due: prettier --write, eslint --fix

Add message for GH apps entry with no versions
  src/app/workflow/workflow.component.html
Due: prettier --write

updated starred box and starred entries routing
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/assets/svg/star-circle.svg
Due: prettier --write, eslint --fix

update unit test
  src/app/starredentries/starredentries.component.spec.ts
Due: prettier --write, eslint --fix

modified preview check
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

Try this
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Revert "Try this"
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Skip flakey test
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

added placeholder notebook icon
  src/app/workflows/workflows.component.html
  src/assets/svg/sub-nav/notebooks.svg
Due: prettier --write

added alt text
  src/app/workflows/workflows.component.html
  src/assets/svg/sub-nav/notebooks.svg
Due: prettier --write

Fix flaky tests.
  cypress/e2e/group3/githubAppTools.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Whoops, wrong branch pulled in
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Add the Open Data facet
  package.json
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

pr review changes
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

hide starred services with ngif
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

PR feedback, same casing as other facets
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

Better fix.
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Fix ngSwitch
  src/app/workflow/workflow.component.html
Due: prettier --write

Revert "Skip flakey test"
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Fix flaky test. (#1697)
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Add the Open Data facet (#1698)
  package.json
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/assets/svg/star-off.svg
  src/assets/svg/star-on.svg
Due: prettier --write

Updated Dashboard Starred Box - SEAB-5197 (#1696)
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.spec.ts
  src/app/starredentries/starredentries.component.ts
  src/assets/svg/star-circle.svg
  src/assets/svg/star-off.svg
  src/assets/svg/star-on.svg
Due: prettier --write, eslint --fix

truncated text
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

new dashboard resizing and updated dashboard boxes
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
Due: prettier --write

Small tweaks to README.md.
  README.md
Due: none

added if case to check first character
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Add message for GH App entry with no versions (#1695)
  src/app/workflow/workflow.component.html
Due: prettier --write

SEAB-5183: created notebooks page and added to sitemap (#1692)
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/titleTag.ts
  src/app/app.routing.ts
  src/app/shared/enum/entry-type.ts
  src/app/sitemap/sitemap.component.html
  src/app/workflows/list/published-workflows.datasource.ts
  src/app/workflows/notebooks/notebooks.module.ts
  src/app/workflows/notebooks/notebooks.routing.ts
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
  src/assets/svg/sub-nav/notebooks.svg
Due: prettier --write, eslint --fix

Small tweaks to README.md. (#1699)
  README.md
Due: none

fix px to rem
  src/app/home-page/widget/entry-box/entry-box.component.html
Due: prettier --write

DOCK-2213: edit source code to link to primary descriptor (#1694)
  cypress/e2e/group2/myworkflows.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

moved badge out of dropdown and fixed bug in filetree
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write, eslint --fix

Change tooltip position
  src/app/shared/entry/register-checker-workflow/register-checker-workflow.component.html
Due: prettier --write

shared stylesheet for dashboard boxes, cleanup styles
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
  src/app/shared/styles/dashboard-boxes.scss
Due: prettier --write, eslint --fix

Change tooltip position (#1703)
  src/app/shared/entry/register-checker-workflow/register-checker-workflow.component.html
Due: prettier --write

resized the dropdown when open
  src/app/source-file-tabs/source-file-tabs.component.scss
Due: prettier --write

remove entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
