Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

remove question mark
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

add metrics to valid tabs
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Add successful passing rate
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Another selector change to address the moving of the tabs
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add apptools
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Pr feedback, bad use of only
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

Add successful passing rate (#1929)
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Add dropdown for statuses
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

SEAB-6292: Fix refresh issue when reloading the Metrics tab (#1928)
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Swap position of Metrics and Tool tabs (#1926)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

SEAB-6200: hide blank metrics rows (#1927)
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Update schema in sampleMetrics.json
  cypress/fixtures/sampleMetrics.json
  package.json
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Remove ALL if only one platform/status
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Update test
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

Revert "Swap position of Metrics and Tool tabs (#1926)"
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Style workflow versions so no scrolling necessary
  src/app/shared/styles/workflow-container.component.scss
Due: prettier --write

Click drop down
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

Fix tests, now that scroll arrow is gone.
  cypress/e2e/group3/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

Fix typo
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

Make titlecase
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

Use enum for status
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Select Successful status by default if it exists
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Create execution status pipe
  src/app/shared/entry/execution-status.pipe.spec.ts
  src/app/shared/entry/execution-status.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write, eslint --fix

Show Not Available if status has no metrics
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

Don't make metrics column inactive
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

Fix test
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

Make all tabs visible for a workflow (#1931)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/shared/styles/workflow-container.component.scss
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Use latest webservice from my branch
  package.json
Due: none

Use webservice 1.15.0-rc.2 tag
  package.json
Due: none

Add drop down to display execution metrics by status (#1930)
  cypress/e2e/group3/metrics.ts
  cypress/fixtures/sampleMetrics.json
  package.json
  src/app/shared/entry/execution-status.pipe.spec.ts
  src/app/shared/entry/execution-status.pipe.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

keep original url during 404 error (organizations, collections, user pages)
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.ts
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Delete SECURITY.md (#1925)
  SECURITY.md
Due: none

Restore commented out test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Fix sorting in GitHub App Logs Dialog (#1923)
  cypress/e2e/group2/myworkflows.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/lambda-events-datasource.ts
Due: prettier --write, eslint --fix

Update license file
  THIRD-PARTY-LICENSES.csv
Due: none

More dependency stuff
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

fix double domain url bug in decodeURL
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

update entry path getter
  src/app/shared/url-resolver.service.ts
Due: prettier --write, eslint --fix
