Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

fix workflow-to-tool "infinite status" bug
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

Use ng2-ui-auth from dockstore org
  package-lock.json
  package.json
  src/app/configuration.service.ts
  src/app/shared/auth.model.ts
Due: prettier --write, eslint --fix

Build license, port over cypress fixes.
  THIRD-PARTY-LICENSES.csv
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Add configure your authorized organizations message to tools page
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

fix workflow-to-tool infinite status bug
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

tweak package-lock.json to bust cache
  package-lock.json
Due: none

Rename picid to media
  src/app/shared/mastodon/mastodon.component.html
Due: prettier --write

Fix media content for mastodon post (#1985)
  package-lock.json
  src/app/shared/mastodon/mastodon.component.html
Due: prettier --write

Use GitHub client ID to create config link
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write, eslint --fix

Parametize this one too
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

Not sure why CircleCI is failing, hoping it's a weird pull.
  package.json
Due: none

Test Hosted enum
  src/app/shared/entry-actions/entry-actions.service.spec.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.spec.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Use get to get anchor element
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

cypress supposedly should automatically scroll these into view
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Fix news content tests (#1990)
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Remove click before type
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Moving topic editing into a dialog to improve topics display (#1986)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/group3/mytools.ts
  cypress/fixtures/workflowWithTopicAI.json
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/home-page/home-logged-out/home.component.scss
  src/app/shared/entry-actions/entry-actions.service.spec.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.spec.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.spec.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/shared/styles/info-tab.component.scss
  src/app/test/mocked-objects.ts
  src/app/test/service-stubs.ts
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/main.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Check visible before typing
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Run chrome browser
  .circleci/config.yml
Due: none

Clear before typing
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Match my workflows
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

first revision
  src/app/notebook/notebook.component.html
  src/app/notebook/notebook.component.ts
  src/app/shared/code-editor-list/code-editor-list.service.ts
Due: prettier --write, eslint --fix

fix "infinite status" workflow-to-tool bug
  cypress/support/commands.ts
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

More matching
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Last matching attempt. myworkflows.ts has not flaked once!
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Add "Configure your authorized organizations" message to My Tools page (#1988)
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

Remove extra wait
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Use Chrome browser for Cypress tests to reduce flakiness and remove scrollIntoView (#1991)
  .circleci/config.yml
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

[skip ci]
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, eslint --fix

D'oh!, part 2
  src/main.ts
Due: prettier --write, eslint --fix

Commit ng2-ui-auth to our repo and tweak it so it will build on Angular 15.
  src/main.ts
Due: prettier --write, eslint --fix

D'oh!
  src/main.ts
Due: prettier --write, eslint --fix

Removed unused library.
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

Forgot license check and whatnot
  THIRD-PARTY-LICENSES.csv
Due: none

Some random fixes in attempt to fix CircleCI failure
  .circleci/config.yml
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write

Last change seemed to work, reenable all tests.
  .circleci/config.yml
Due: none

Ye olde wait
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write
