Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add clarifying comment
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

fix equals oopsie
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

User pages, recent event module
  package.json
  src/app/app.routing.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/organizations/organization-members.module.ts
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization/organization-stargazers/organization-stargazers.module.ts
  src/app/stargazers/stargazers.component.html
  src/app/stargazers/stargazers.module.ts
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.scss
  src/app/user-page/user-page.component.ts
  src/app/user-page/user-page.module.ts
  src/app/user-page/user-page.routing.ts
Due: prettier --write, eslint --fix

Navigate to homepage if username does not exist
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Account Sidebar (#1503)
  cypress/integration/immutableDatabaseTests/admin.ts
  cypress/integration/immutableDatabaseTests/curator.ts
  cypress/integration/immutableDatabaseTests/dropdown.ts
  src/app/app.module.ts
  src/app/login/login.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.module.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/loginComponents/accounts/accounts.component.scss
  src/app/loginComponents/accounts/accounts.component.ts
  src/app/loginComponents/accounts/external/accounts.component.scss
  src/app/loginComponents/accounts/internal/accounts.component.html
  src/app/loginComponents/accounts/internal/accounts.component.scss
  src/assets/svg/sync.svg
  src/styles.scss
Due: prettier --write, eslint --fix

add function pipes
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.ts
  src/app/shared/pipe/function-pipes.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

link tool labels to tool search results
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

rename (skip ci)
  src/app/organizations/organizations/organizations.component.html
  src/app/shared/pipe/function-pipes.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

remove unused fn (skip ci)
  src/app/organizations/organizations/organizations.component.ts
Due: prettier --write, eslint --fix

improve success message on publish/unpublish
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

Added change username modal to sidebar, removed from tabs, global update of warning/alert messages
  cypress/integration/group2/usernameChangeRequired.ts
  cypress/integration/immutableDatabaseTests/disabledAccountControls.ts
  src/app/aliases/aliases.component.html
  src/app/app.module.ts
  src/app/container/container.component.html
  src/app/container/descriptors/descriptors.component.html
  src/app/container/dockerfile/dockerfile.component.html
  src/app/container/launch/launch.component.html
  src/app/container/paramfiles/paramfiles.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/loginComponents/accounts/controls/controls.component.html
  src/app/loginComponents/accounts/controls/delete-account-dialog/delete-account-dialog.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.scss
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.module.ts
  src/app/loginComponents/onboarding/onboarding.component.html
  src/app/maintenance/maintenance.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/search/search.component.html
  src/app/shared/alert/alert.component.html
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/workflow/dag/cwl-viewer/cwl-viewer.html
  src/app/workflow/dag/dag.component.html
  src/app/workflow/dag/wdl-viewer/wdl-viewer.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  src/app/workflow/tool-tab/tool-tab.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/workflow.component.html
  src/ds-style-fix.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

Fix lint test fail and fix save button disable
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.module.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
  src/app/loginComponents/accounts/internal/change-username/change-username.module.ts
Due: prettier --write, eslint --fix

Update dropdown test
  cypress/integration/immutableDatabaseTests/dropdown.ts
Due: prettier --write, eslint --fix

Add tool tip for change username icon
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
Due: prettier --write

Update entry-actions.service.ts
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

Add security policy
  SECURITY.md
Due: none

use alert service and syntax updates
  src/app/user-page/user-page.component.html
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

remove ngunsubscribe and update modal size
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
Due: prettier --write, eslint --fix

note on recent events component
  src/app/user-page/user-page.component.html
Due: prettier --write

global mat-form-field purple text and outline
  src/app/loginComponents/accounts/internal/change-username/change-username.component.scss
  src/styles.scss
Due: prettier --write

Get CircleCI artifact url using script
  package.json
  scripts/generate-openapi-script.sh
  scripts/get-circleci-artifact-url.sh
  scripts/run-webservice-script.sh
Due: none

Add 1.13.0 migrations
  scripts/run-webservice-script.sh
Due: none

remove unused import
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
Due: prettier --write, eslint --fix

Add 1.13.0 migration to another place
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Use java 17
  .circleci/config.yml
Due: none

Add security policy (#1513)
  SECURITY.md
Due: none

wip [skip ci]
  .circleci/config.yml
Due: none

Revert "Use java 17"
  .circleci/config.yml
Due: none

Try installing -jdk
  .circleci/config.yml
Due: none

fix typos to trigger build
  README.md
Due: none

Change to java 17 again
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

Try jre-headless
  .circleci/config.yml
Due: none

Didn't work, use jdk again
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

try different syntax
  .circleci/config.yml
Due: none

Test artifactory JAR with Java 17
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
