Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Remove remaining legacy components, unknown why migration tool missed them.
  src/app/home-page/recent-events/recent-events.module.ts
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/state/search.service.spec.ts
  src/app/workflow/dag/dag.module.ts
Due: prettier --write, eslint --fix

Fix letter spacing and notification button in navbar.
  src/app/home-page/home-logged-out/home.component.html
  src/app/navbar/navbar.component.html
  src/materialColorScheme.scss
Due: prettier --write

test this
  package.json
Due: none

change workflow version column sort orderings
  src/app/workflow/versions/versions.component.html
Due: prettier --write

review feedback
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/versions/versions-datasource.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

review feedback
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

review feedback
  package.json
Due: none

add another press of the "date modified" version table sort control
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
Due: prettier --write, eslint --fix

remove sorting
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add wait
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

copy dois property to version metadata in fixture
  cypress/fixtures/versionWithDoi.json
Due: none

remove experimental wait
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

massage fixtures more
  cypress/fixtures/getWorkflowWithDoi.json
  cypress/fixtures/versionWithDoi.json
Due: none

change intercepts to match new request url
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

make sure mock response is read
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

move some intercepts earlier
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add wait
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

add some waits
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

move wait, click on correct version
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

change linkcheck to pass cloudflare-challenged urls
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

invert if to improve clarity
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Fix login panel too wide
  src/app/login/login.component.html
Due: prettier --write

Fix Copy Search Link button
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/styles.scss
Due: prettier --write

Fix icon sizing issues
  src/app/about/about.component.scss
  src/app/home-page/home-logged-out/home.component.scss
Due: prettier --write

Fixes the height of the sort buttons in the facets page
  src/styles.scss
Due: prettier --write

Change bold facet text in search page to normal.
  src/app/search/search.component.scss
  src/ds-style-fix.scss
Due: prettier --write

More mat-cards missing mat-card-content
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/events/events.component.html
  src/app/organizations/organization/organization.component.html
Due: prettier --write

Get width of search tabs correct
  src/app/search/basic-search/basic-search.component.html
  src/app/search/search.component.html
Due: prettier --write

Fix padding on organizations page
  src/app/organizations/organizations/organizations.component.html
Due: prettier --write

[skip ci]
  src/app/search/search.component.scss
Due: prettier --write

Fix vertical alignment on updates page, although now they're a little high
  src/app/organizations/events/events.component.html
Due: prettier --write

Get rid of some more legacy.
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Fix terms of service test and icon
  cypress/e2e/immutableDatabaseTests/tosAndPrivacyPolicy.ts
  src/app/tosBanner/tos-banner.component.css
Due: prettier --write, eslint --fix

Fix more mat-cards
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.html
  src/app/entry/current-collections/current-collections.component.html
  src/app/shared/entry/verified-by/verified-by.component.html
Due: prettier --write

Misc fixes
  cypress/e2e/immutableDatabaseTests/verification.ts
  cypress/e2e/immutableDatabaseTests/versionModal.ts
  cypress/support/commands.ts
  src/app/container/container.component.html
  src/app/shared/available-logs/available-logs.component.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
