Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Fix test
  cypress/integration/group2/mytools.ts
Due: prettier --write, eslint --fix

Remove non-existent variable, make hints/errors one line
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/shared/validationMessages.model.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Not sure why those group1 tests are failing. Try adding postgres command line
  .circleci/config.yml
Due: none

Feature/seab 2905/starred redesign (#1320)
  cypress/integration/group2/starEntry.ts
  src/app/about/about.component.scss
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/organizations/organizations.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/organization/organization.component.scss
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/organizations/organizations.component.scss
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/starredentries/starredentries.component.ts
  src/materialColorScheme.scss
  src/styles.scss
  tsconfig.dev.json
Due: prettier --write, eslint --fix

Change pattern error message for private Amazon image path
  src/app/shared/validationMessages.model.ts
Due: prettier --write, eslint --fix

Allow public and private Amazon ECR tools to be registered (#1339)
  .circleci/config.yml
  cypress/integration/group2/mytools.ts
  package.json
  src/app/container/info-tab/info-tab.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/container/register-tool/register-tool.service.ts
  src/app/search/state/search.service.spec.ts
  src/app/shared/image-provider.service.spec.ts
  src/app/shared/image-provider.service.ts
  src/app/shared/validationMessages.model.ts
  src/app/test/service-stubs.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Overhauled MacOS Java installation instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

npm uninstall core-js
  package-lock.json
  package.json
Due: none

npm audit fix
  package-lock.json
Due: none

npm uninstall @datorama/akita && npm install @datorama/akita
  package-lock.json
  package.json
Due: none

npm run license
  THIRD-PARTY-LICENSES.csv
Due: none

Change polyfill path
  src/polyfills.ts
Due: prettier --write, eslint --fix

Feature/4402/check url (#1335)
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Create "Accounts" Orcid ID link from orcidAuthUrl so sandbox works
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
Due: prettier --write, eslint --fix

Overhauled quick start MacOS Java installation instructions (#1342)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

added return type to helper function
  src/app/loginComponents/accounts/external/accounts.component.ts
Due: prettier --write, eslint --fix

Overhauled quick start MacOS Java installation instructions (#1342) (#1344)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

moved getRoot to service and added tests
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/accounts.service.spec.ts
  src/app/loginComponents/accounts/external/accounts.service.ts
Due: prettier --write, eslint --fix

precompute orcidRootUrl
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
Due: prettier --write, eslint --fix

Changed ORCID accounts box to use root of Dockstore.ORCID_AUTH_URL to create user's ORCID link.
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/accounts.service.spec.ts
  src/app/loginComponents/accounts/external/accounts.service.ts
Due: prettier --write, eslint --fix

Use the AWS context
  .circleci/config.yml
Due: none

Fix class being overwritten by Material
  src/styles.scss
Due: prettier --write

bump webservice version
  package.json
Due: none

Feature/remove core js (#1343)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/polyfills.ts
Due: prettier --write, eslint --fix

Update config.yml
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
Due: none

looks like it passed (unfortunately)
  .circleci/config.yml
Due: none

make this a variable
  .circleci/config.yml
Due: none

put things back to merge-able state
  .circleci/config.yml
Due: none

whitespace
  .circleci/config.yml
Due: none

Fix class being overwritten by Material (#1347)
  src/styles.scss
Due: prettier --write

specific channels for smoke tests (#1349)
  .circleci/config.yml
Due: none

Add Authors table for workflows
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/constants.ts
  src/app/shared/entry-actions/entry-actions.service.ts
  src/app/shared/state/checker-workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Style authors table (also applied to other tables)
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collections/collections.component.scss
  src/app/organizations/organization-members/organization-members.component.scss
  src/app/organizations/organization/organization.component.scss
  src/app/organizations/organizations/organizations.component.scss
  src/app/search/search-results/search-results.component.scss
  src/app/search/search.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write

Remove mat-elevation for other tables
  src/app/containers/list/list.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/available-logs/available-logs.component.html
  src/app/shared/entry/verified-display/verified-display.component.html
  src/app/workflow/tool-tab/tool-tab.component.html
  src/app/workflows/list/list.component.html
Due: prettier --write

Fix tests
  cypress/integration/immutableDatabaseTests/services.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.ts
Due: prettier --write, eslint --fix

Fix tests again
  cypress/integration/group2/sharedWorkflows.ts
Due: prettier --write, eslint --fix
