Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

relevant changes from reviews
  cypress/integration/group1/dashboard.ts
  test/web.yml
Due: prettier --write, eslint --fix

change web.yml back to original
  test/web.yml
Due: none

changed id references to data-cy
  cypress/integration/group1/dashboard.ts
  cypress/support/commands.ts
  src/app/container/register-tool/register-tool.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
Due: prettier --write, eslint --fix

added github link to web.yml
  test/web.yml
Due: none

fixed github app link on new dashboard (#1621)
  cypress/integration/group1/dashboard.ts
  cypress/support/commands.ts
  src/app/container/register-tool/register-tool.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  test/web.yml
Due: prettier --write, eslint --fix

I have created a design demo file.
  design.md
Due: none

replaced id references to data-cy
  src/app/loginComponents/requests/organization-invite-confirm-dialog.html
  src/app/loginComponents/requests/organization-request-confirm-dialog.html
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.ts
  src/app/organizations/registerOrganization/register-organization.component.html
Due: prettier --write, eslint --fix

changed test references from id to data-cy
  cypress/integration/group2/notificationBadge.ts
Due: prettier --write, eslint --fix

update olde english
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

fix duplicate links to entry discuss topic
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

created function to remove duplicated lines
  cypress/integration/group2/notificationBadge.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

added ternary operator to reduce if statements
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

fix bug kathy found
  src/app/container/container.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

changed copyright message
  cypress/integration/group2/notificationBadge.ts
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

removed > character
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

fix weird label editing behavior
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Remove overrides to avoid self-DOSsing
  cypress/integration/smokeTests/prodOnly/search.ts
  cypress/integration/smokeTests/stagingOnly/search.ts
Due: prettier --write, eslint --fix

DOCK-2254 removed > character (#1625)
  src/app/mytools/my-tool/my-tool.component.html
Due: prettier --write

created revoke token dialog
  src/app/app.module.ts
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.scss
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.spec.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
Due: prettier --write, eslint --fix

added nullish coalescing operator
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

revoke token button successfully created
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
Due: prettier --write, eslint --fix

started editing my tools component
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
Due: prettier --write, eslint --fix

PR feedback, did not read own instructions.
  package.json
Due: none

added notification badge (#1619)
  cypress/integration/group2/notificationBadge.ts
  cypress/support/commands.ts
  src/app/loginComponents/requests/organization-invite-confirm-dialog.html
  src/app/loginComponents/requests/organization-request-confirm-dialog.html
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
  src/app/navbar/navbar.component.spec.ts
  src/app/navbar/navbar.component.ts
  src/app/organizations/registerOrganization/register-organization.component.html
Due: prettier --write, eslint --fix

revoke token cypress test
  cypress/integration/group1/revokeDockstoreToken.ts
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.spec.ts
  src/app/navbar/navbar.component.html
Due: prettier --write, eslint --fix

fixed the bug where workflow is mentioned in tools and services page
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared-workflow-services/shared-workflow-services.module.ts
Due: prettier --write, eslint --fix

Remove overrides to avoid self-DOSsing (#1627)
  cypress/integration/smokeTests/prodOnly/search.ts
  cypress/integration/smokeTests/stagingOnly/search.ts
  package.json
Due: prettier --write, eslint --fix

Retarget dev smoke tests to qa, partial
  .circleci/config.yml
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Redo after rebase
  package.json
Due: none

Add review instructions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

changes regarding review
  cypress/integration/group1/revokeDockstoreToken.ts
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
Due: prettier --write, eslint --fix

fixed app tool sidebar message in my tools page
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared-workflow-services/shared-workflow-services.module.ts
Due: prettier --write, eslint --fix

added cypress test cases
  cypress/integration/group3/sidebarAccordion.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

updated copyright text
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/shared-workflow-services/shared-workflow-services.module.ts
Due: prettier --write, eslint --fix

added copyright text
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

removed unused imports
  cypress/integration/group3/sidebarAccordion.ts
Due: prettier --write, eslint --fix

Add review instructions (#1631)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

more edits following review
  cypress/integration/group1/revokeDockstoreToken.ts
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.html
  src/app/loginComponents/accounts/external/revoke-token-dialog/revoke-token-dialog.component.ts
Due: prettier --write, eslint --fix
