Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Added github app tools sidebar component and updated method for mapping registries/sourceControl
  cypress/fixtures/myWorkflows.json
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/mytools.module.ts
  src/app/mytools/sidebar-accordion/github-app-tools-accordion/github-app-tools-accordion.component.html
  src/app/mytools/sidebar-accordion/github-app-tools-accordion/github-app-tools-accordion.component.spec.ts
  src/app/mytools/sidebar-accordion/github-app-tools-accordion/github-app-tools-accordion.component.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.scss
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared/styles/my-entry-sidebar.scss
  src/assets/images/registries/BITBUCKET.svg
  src/assets/images/registries/DOCKER HUB.svg
  src/assets/images/registries/DOCKSTORE.svg
  src/assets/images/registries/GITHUB CONTAINER REGISTRY.svg
  src/assets/images/registries/GITHUB.svg
  src/assets/images/registries/GITLAB.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Up the timeout to 45 seconds (#1501)
  cypress.json
Due: none

Feature/4059/smoke tests for prod (#1500)
  .circleci/config.yml
  cypress/integration/smokeTests/prodOnly/basic-enduser-prod-only.ts
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Updated workflow sidebar to accommodate for github app tools styles
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/mytools.module.ts
  src/app/mytools/sidebar-accordion/github-app-tools-accordion/github-app-tools-accordion.component.html
  src/app/mytools/sidebar-accordion/github-app-tools-accordion/github-app-tools-accordion.component.spec.ts
  src/app/mytools/sidebar-accordion/github-app-tools-accordion/github-app-tools-accordion.component.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared/styles/my-entry-sidebar.scss
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

Unit test and sonarcloud fixes
  cypress/integration/group1/hostedTools.ts
  cypress/integration/group1/hostedWorkflows.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

sonarcloud bug fix
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

nicely format starred app tool and workflow descriptions
  cypress/integration/group2/githubAppTools.ts
  src/app/app.module.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

disable editing username if not allowed
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
Due: prettier --write, eslint --fix

Upload to s3 if audit and unit tests pass
  .circleci/config.yml
Due: none

Theory -- instance is bogging down due to lack of resources
  .circleci/config.yml
Due: none

Audit might have clobbered things?
  .circleci/config.yml
Due: none

Go back to medium but split up tests. Fingers crossed.
  .circleci/config.yml
  cypress/integration/group3/githubAppTools.ts
  cypress/integration/group3/mytools.ts
  cypress/integration/group3/starDisabled.ts
  cypress/integration/group3/starEntry.ts
  cypress/integration/group3/starErrorMessage.ts
Due: prettier --write, eslint --fix

D'oh
  .circleci/config.yml
Due: none

Weird things going on with merge I think
  .circleci/config.yml
Due: none

Creation of account sidebar and removal of Profiles tab
  src/app/app.module.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.module.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/loginComponents/accounts/accounts.component.scss
  src/app/loginComponents/accounts/accounts.component.ts
  src/app/loginComponents/accounts/external/accounts.component.scss
  src/app/loginComponents/accounts/internal/accounts.component.html
  src/app/loginComponents/accounts/internal/accounts.component.scss
  src/assets/svg/sync.svg
Due: prettier --write, eslint --fix

Added fallback avatar and updated tests
  cypress/integration/immutableDatabaseTests/admin.ts
  cypress/integration/immutableDatabaseTests/curator.ts
  cypress/integration/immutableDatabaseTests/dropdown.ts
  src/app/login/login.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
Due: prettier --write, eslint --fix

box-shadow px to rem
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
Due: prettier --write

Upload to s3 if audit and unit tests pass (#1502)
  .circleci/config.yml
  cypress/integration/group3/githubAppTools.ts
  cypress/integration/group3/mytools.ts
  cypress/integration/group3/starDisabled.ts
  cypress/integration/group3/starEntry.ts
  cypress/integration/group3/starErrorMessage.ts
Due: prettier --write, eslint --fix

simplify by removing switch
  src/app/shared/code-editor-list/code-editor-list.service.ts
Due: prettier --write, eslint --fix

Upping this timeout as well
  cypress.json
Due: none

isAppTool check and minor updates
  cypress/integration/group3/mytools.ts
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.scss
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared/session/session.query.ts
  src/app/shared/styles/my-entry-sidebar.scss
Due: prettier --write, eslint --fix

Async pipe results should not be negated - fix
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.scss
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

Upping this timeout as well (#1506)
  cypress.json
Due: none

unsubscribe from observable
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
Due: prettier --write, eslint --fix

use null coalescing and safe navigation operators
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

takeUntil to unsubscribe
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
Due: prettier --write, eslint --fix

Reformatted tables
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
Due: prettier --write, eslint --fix

isAppTool$ to isTool$
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared/session/session.query.ts
Due: prettier --write, eslint --fix

use artifactory instead of circleci
  package.json
Due: none

Disable username input field if not allowed (#1504)
  src/app/loginComponents/accounts/internal/change-username/change-username.component.ts
Due: prettier --write, eslint --fix

improve success message on publish/unpublish
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

make tool/workflow labels link to search results of same type
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

add a comment
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

add table to global table styles
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/styles.scss
Due: prettier --write

Share tool style for github tools
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.html
  src/app/mytools/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.scss
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
Due: prettier --write, eslint --fix

fix oopsie
  src/app/container/container.component.html
Due: prettier --write
