Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

fix
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

DOCK-2557: Adds topic sentences in collection page (#2008)
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

Improve manual topic description for GitHub App entries
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

Add info button
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

Add python version info
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Add python version info (#2011)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Only specify the label inside radio button
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

Reduce border width
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
Due: prettier --write

Create shared styles sheet for radio button cards
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.scss
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/shared/styles/radio-button-cards.scss
Due: prettier --write, eslint --fix

Autosize manual topic field
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: none

fix regex'
  src/app/shared/validationMessages.model.ts
Due: prettier --write, eslint --fix

Check that there is an AI topic
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write

Clean up
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/styles/radio-button-cards.scss
Due: prettier --write

try chrome with failing auth smoke tests
  package.json
Due: none

Revert "try chrome with failing auth smoke tests"
  package.json
Due: none

PR feedback
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
Due: prettier --write, eslint --fix

try newer cypress
  package-lock.json
  package.json
Due: none

Fix ChromeDriver syntax error on install (#2013)
  .circleci/config.yml
Due: none

Edit topic dialog improvements to manual and AI topics (#2012)
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.scss
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/shared/styles/radio-button-cards.scss
Due: prettier --write, eslint --fix

display "Warnings" status in lambda logs
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write

change "Success" header to "Status"
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write

update tests for header name change
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

add wait on restub
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

test
  src/app/shared/validationMessages.model.ts
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

test
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

display "Warnings" status in lambda logs
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
Due: prettier --write, eslint --fix

test
  src/app/shared/validationMessages.model.ts
Due: prettier --write, eslint --fix

fix
  src/app/shared/validationMessages.model.ts
Due: prettier --write, eslint --fix

change smoke test to delay refresh until after restub
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

DOCK-2533: fix regex errors in Edit Info dialog (#2014)
  src/app/shared/validationMessages.model.ts
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

Reduce another flakiness, hopefully
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix
