Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

disable sort, use normalized/etc fields
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

tweak
  src/app/search/search-entry-table.component.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

simplify
  src/app/search/search-entry-table.component.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add comments
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

tweak comments, remove debugging
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search-results/search-results.component.ts
Due: prettier --write, eslint --fix

remove fields retrieved for debugging
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

improve comments, "deprecate" main client-side sorting method
  src/app/search/query-builder.service.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

update comments
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Update SonarScanner version to 6.2.1
  .circleci/config.yml
Due: none

Update Java version requirement to 21
  README.md
Due: none

Revert "Update SonarScanner version to 6.2.1"
  .circleci/config.yml
Due: none

future proof sonarcube cli download
  .circleci/config.yml
Due: none

more fix
  .circleci/config.yml
Due: none

even more orb match
  .circleci/config.yml
Due: none

even more fix
  .circleci/config.yml
Due: none

don't sort on the client side
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

smol change
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Update SonarScanner version to 6.2.1 (#2158)
  .circleci/config.yml
  README.md
Due: none

add constants for grays
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

change Search to sort on server-side using Elasticsearch
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

test full checkout
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

test full checkout, fix sonar
  .circleci/config.yml
Due: none

display log ticks on run time histogram
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

support version in footer
  src/app/configuration.service.ts
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

refer to branch build
  package.json
Due: none

tweak ticks in run time histogram
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

fix test
  src/app/footer/footer.service.spec.ts
Due: prettier --write, eslint --fix

fix infinity comparison
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

fix empty run time histogram when component histogram data is not defined
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

add execution count
  src/app/search/search-entry-table.component.html
Due: prettier --write

add commas to numbers
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

add commas to facet numbers
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

use correct singular/plural of "execution"
  src/app/search/search-entry-table.component.html
Due: prettier --write

change run time histogram ticks to be consistent with new bin edges
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

render run time histogram when some constituent histogram data is not defined
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Revert "refer to branch build"
  package.json
Due: none

support version in footer (#2160)
  src/app/configuration.service.ts
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.spec.ts
  src/app/footer/footer.service.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

point at webservice build
  package.json
Due: none

fix
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
