Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

include notebooks in discover existing alert
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write

include notebooks in alert button tooltip
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write

remove test comment
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Update sitemap.component.html
  src/app/sitemap/sitemap.component.html
Due: prettier --write

Update downloadcliclient.component.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Update downloadcliclient.component.ts (#1957)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Let's see if untested test catches the issue.
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
Due: prettier --write

Add test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

make mac compatible and force note
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
Due: prettier --write, eslint --fix

simplify and hardcode test param file
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

change extension and clean-up
  src/app/shared/launch.service.ts
Due: prettier --write, eslint --fix

Don't prompt for ORCID link if not required (#1959)
  cypress/e2e/group2/myworkflows.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
Due: prettier --write, eslint --fix

add comment about ignoring workflows response
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

try cypress 13 upgrade
  package-lock.json
  package.json
Due: none

update license
  THIRD-PARTY-LICENSES.csv
Due: none

fix mytools test's input failure
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Update develop artifacts
  package.json
Due: none

Fix build errors
  src/app/container/paramfiles/paramfiles.service.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

Update develop artifacts (#1960)
  package.json
  src/app/container/paramfiles/paramfiles.service.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

see if experimentalMemoryManagement resolves crashes
  cypress.config.ts
Due: eslint --fix

make zsh compatible and hardcode parameter file name (#1958)
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

DOCK-2507: Add "Discover Existing Tools/Notebooks" (#1955)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group3/mytools.ts
  cypress/fixtures/myNotebooks.json
  cypress/fixtures/myTools.json
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.spec.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

will the newest version help performance?
  package-lock.json
  package.json
Due: none

Change Nextflow Tower to Seqera
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/assets/images/thirdparty/nextflow-icon.png
  src/assets/images/thirdparty/seqera_logo_color.svg
Due: prettier --write, eslint --fix

Change Nextflow Tower to Seqera (#1962)
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/assets/images/thirdparty/nextflow-icon.png
  src/assets/images/thirdparty/seqera_logo_color.svg
Due: prettier --write, eslint --fix

try fixing organizations test (remove entry from collection)
  cypress/e2e/group2/organizations.ts
Due: prettier --write, eslint --fix

try fixing mytools (get buttons by data-cy)
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

rough draft
  package.json
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

add app config button to message
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Bump postgres version
  .circleci/config.yml
Due: none

Update postgres version for accessibility test
  .github/workflows/accessibility_test.yml
Due: none

Update Mac OS instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Reorganize install instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Bare minimum update (brew version tested by me)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

rm "dependencies", fix "setup", clarify CLI is optional
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write, eslint --fix

add test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add subtest
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

oops uncomment potato organization approval
  cypress/e2e/group2/organizations.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
