Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Add buttons to Manage DOIs dialog to create/delete edit link for Dockstore DOIs (#2090)
  .circleci/config.yml
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
  src/app/shared/entry/zenodo-access-link.pipe.spec.ts
  src/app/shared/entry/zenodo-access-link.pipe.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

fix snakemake invocation
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

revert back to default circleci browser
  .circleci/config.yml
Due: none

increase resource class for integration_test_exec executor
  .circleci/config.yml
Due: none

fix snakemake invocation in "launch" tab
  .circleci/config.yml
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

fix versions-to-stargazers-to-versions bug
  src/app/workflow/versions/versions-datasource.ts
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

fix oopsie, add comment
  src/app/workflow/versions/versions-datasource.ts
Due: prettier --write, eslint --fix

add stubs
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Align home icon in Files tab
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

make versions show up after visiting stargazers
  src/app/test/service-stubs.ts
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

make versions appear after returning from stargazers
  src/app/test/service-stubs.ts
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Oops remove this
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

fix empty version list after viewing stargazers
  src/app/test/service-stubs.ts
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Align home icon in Files tab (#2098)
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

Run ng update @angular/core@17 @angular/cli@17 --force
  angular.json
  package-lock.json
  package.json
  src/app/footer/footer.component.html
  src/app/loginComponents/accounts/internal/change-username/change-username.component.html
  src/app/shared/mastodon/mastodon.component.html
Due: prettier --write

Update angular-eslint
  package-lock.json
  package.json
Due: none

Update angular-fontawesome
  package-lock.json
  package.json
Due: none

Update ngx-markdown
  package-lock.json
  package.json
Due: none

Update node
  .nvmrc
Due: none

Remove ngcc
  package.json
Due: none

Install marked, a peer dependency of ngx-markdown
  package-lock.json
  package.json
Due: none

Update prod smoke tests for search cards
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Remove TODO
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Update prod smoke tests for search cards (#2102)
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

try 17.0.14 with develop instance type (unit test crash)
  .circleci/config.yml
Due: none

start with just the java 17 update
  .circleci/config.yml
Due: none

try java 19
  .circleci/config.yml
Due: none

debug pattern
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

ignore RegExp v mode
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

signing key
  .circleci/config.yml
Due: none

debugging from other PR
  .circleci/config.yml
  package.json
  test/web.yml
Due: none

wait longer
  scripts/wait-for.sh
Due: none

try wait loop
  scripts/wait-for.sh
Due: none

pin nginx
  .circleci/config.yml
Due: none

was this dumb permissions thing locally
  .circleci/config.yml
Due: none

Revert "try wait loop"
  scripts/wait-for.sh
Due: none

fix "flash of 'workflow not updating'"
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

clean-up
  .circleci/config.yml
  scripts/wait-for.sh
  src/app/workflow/version-modal/version-modal.service.spec.ts
Due: prettier --write, eslint --fix

try java 20
  .circleci/config.yml
Due: none

final destination, java 21
  .circleci/config.yml
Due: none
