Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Use two columns if user can't edit membership
  src/app/organizations/organization-members/organization-members.component.html
Due: prettier --write

DOCK-2199: Added domain onto the copy block on Copy build info button (#1645)
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.spec.ts
  src/app/footer/footer.service.ts
Due: prettier --write, eslint --fix

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

PR feedback
  src/app/home-page/widget/requests/requests.component.ts
  src/app/loginComponents/requests/requests.component.html
  src/app/loginComponents/requests/requests.component.ts
  src/app/loginComponents/state/requests.service.ts
  src/app/organizations/collection/state/add-entry.service.ts
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.ts
  src/app/organizations/state/organization-members.service.ts
  src/app/organizations/state/upsert-organization-member.service.ts
Due: prettier --write, eslint --fix

Create codeql.yml (#1649)
  .github/workflows/codeql.yml
Due: none

Update CircleCI JAR
  package.json
Due: none

update and add warning
  src/app/home-page/home-logged-out/home.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

added preview button
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/styles.scss
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update CircleCI JAR to latest
  package.json
Due: none

Make the image url more fake
  cypress/integration/group2/organizations.ts
Due: prettier --write, eslint --fix

fixed twitter widget width value
  src/app/shared/twitter.service.ts
Due: prettier --write, eslint --fix

Use develop CircleCI webservice jar
  package.json
Due: none

Swap argument order for TRS 2.0.1
  src/app/shared/ga4gh-files/ga4gh-files.service.ts
  src/app/shared/selectors/entry-file-selector.ts
Due: prettier --write, eslint --fix

cast since the autogen files do not have a type
  src/app/shared/descriptor-type-compat.service.ts
  src/app/shared/ga4gh-files/ga4gh-files.service.ts
  src/app/shared/selectors/entry-file-selector.ts
Due: prettier --write, eslint --fix

Convert GXFORMAT2 to GALAXY to fix tests
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Service.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/shared/descriptor-type-compat.service.ts
  src/app/shared/ga4gh-files/ga4gh-files.service.ts
Due: prettier --write, eslint --fix

Remove unused imports
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/shared/selectors/entry-file-selector.ts
Due: prettier --write, eslint --fix

DOCK-2240: added preview button (#1655)
  cypress/integration/group2/organizations.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

Update plain-<type> to PLAIN_<TYPE> and add a test
  cypress/integration/smokeTests/sharedTests/waf.ts
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/launch/tool-launch.service.spec.ts
  src/app/container/launch/tool-launch.service.ts
  src/app/shared/descriptor-type-compat.service.spec.ts
  src/app/shared/descriptor-type-compat.service.ts
  src/app/shared/file.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/app/workflow/launch/workflow-launch.service.spec.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

PR feedback on licensing.
  src/app/shared/json-ld/json-ld.component.spec.ts
  src/app/shared/json-ld/json-ld.component.ts
Due: prettier --write, eslint --fix

Pacify SonarCloud
  src/app/shared/json-ld/json-ld.component.spec.ts
  src/app/shared/json-ld/json-ld.component.ts
Due: prettier --write, eslint --fix

Rerun npm/license on Ubuntu
  THIRD-PARTY-LICENSES.csv
Due: none

Remove ngx-lite/json-ld
  cypress/integration/immutableDatabaseTests/jsonld.ts
  package-lock.json
  package.json
  src/app/container/container.component.html
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
  src/app/home-page/home-page.component.html
  src/app/home-page/home-page.component.scss
  src/app/home-page/home-page.component.spec.ts
  src/app/home-page/home-page.component.ts
  src/app/home-page/home-page.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/update-organization-description.module.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/json-ld/json-ld.component.spec.ts
  src/app/shared/json-ld/json-ld.component.ts
  src/app/shared/modules/json-ld.module.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Re-run license checker, reintroduce changeDetection that was incorrectly removed.
  THIRD-PARTY-LICENSES.csv
  src/app/shared/json-ld/json-ld.component.ts
Due: prettier --write, eslint --fix

Don't requests hits for sidebar ES query
  src/app/search/query-builder.service.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Remove ngx-lite/json-ld dependency (#1657)
  THIRD-PARTY-LICENSES.csv
  cypress/integration/immutableDatabaseTests/jsonld.ts
  package-lock.json
  package.json
  src/app/container/container.component.html
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.ts
  src/app/home-page/home-page.component.html
  src/app/home-page/home-page.component.scss
  src/app/home-page/home-page.component.spec.ts
  src/app/home-page/home-page.component.ts
  src/app/home-page/home-page.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/update-organization-description.module.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/json-ld/json-ld.component.spec.ts
  src/app/shared/json-ld/json-ld.component.ts
  src/app/shared/modules/json-ld.module.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

[skip ci]
  package-lock.json
  package.json
Due: none

Do the node18 build on Ubuntu
  .nvmrc
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

Rollback to ngx-markdown 13x, for now.
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

Fix licenses, hopefully
  THIRD-PARTY-LICENSES.csv
Due: none

Fix usage of new angular-tag-cloud, upgrade ngx-markdown
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/app/search/search.module.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
Due: prettier --write, eslint --fix

Sigh
  src/app/search/search-results/search-results.component.spec.ts
Due: prettier --write, eslint --fix
