Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

fix integration test
  package.json
  src/app/organizations/collections/collections.component.html
Due: prettier --write

added new func
  cypress/e2e/group2/organizations.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

oops
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

fix non-sticky search facets
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add sonar project properties file
  sonar-project.properties
Due: none

check failing tests
  .circleci/config.yml
Due: none

fix upload
  .circleci/config.yml
Due: none

check expected output
  .circleci/config.yml
Due: none

review feedback
  package.json
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

SEAB-5387: added services integration and notebooks count bubble in collections (#1776)
  cypress/e2e/group2/organizations.ts
  cypress/support/commands.ts
  package.json
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
  src/app/organizations/state/collections.query.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/collections.store.ts
Due: prettier --write, eslint --fix

run sonarscanner
  .circleci/config.yml
  sonar-project.properties
Due: none

test dependencies
  .circleci/config.yml
Due: none

fix typo
  .circleci/config.yml
Due: none

try building ui first
  .circleci/config.yml
Due: none

try remote docker environment
  .circleci/config.yml
Due: none

try running ui
  .circleci/config.yml
Due: none

try to run nginx as service
  .circleci/config.yml
Due: none

try specific version of nginx
  .circleci/config.yml
Due: none

change nginx version
  .circleci/config.yml
Due: none

change nginx version again
  .circleci/config.yml
Due: none

fix "non-sticky" search facet bug
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Whoops
  THIRD-PARTY-LICENSES.csv
Due: none

Rerun license check on Linux
  THIRD-PARTY-LICENSES.csv
Due: none

Running into weird compilation error.
  cypress.config.ts
  cypress/plugins/index.js
  cypress/plugins/index.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  scripts/generate-openapi-script.sh
Due: prettier --write, eslint --fix

Mac/linux
  THIRD-PARTY-LICENSES.csv
Due: none

Rebased
  src/app/organizations/collection/collection.component.ts
  src/app/stargazers/stargazers.component.ts
Due: prettier --write, eslint --fix

Ay caramba
  src/app/stargazers/stargazers.component.ts
Due: prettier --write, eslint --fix

run sonarscanner from zip
  .circleci/config.yml
Due: none

Fix one of the failing tests, unrelated to my changes, I believe.
  cypress/e2e/group1/hostedWorkflows.ts
Due: prettier --write, eslint --fix

Parameter order changed!
  src/app/container/add-tag/add-tag.component.ts
  src/app/container/version-modal/version-modal.component.ts
Due: prettier --write, eslint --fix

use java node image
  .circleci/config.yml
Due: none

remove nginx version
  .circleci/config.yml
Due: none

try different postgres image
  .circleci/config.yml
Due: none

remove install npm step
  .circleci/config.yml
Due: none

try older java image
  .circleci/config.yml
Due: none

specify java 17.0.4
  .circleci/config.yml
Due: none

Restore some Swagger until dockstore/dockstore#4422 addressed
  cypress/e2e/group2/organizations.ts
  scripts/generate-openapi-script.sh
  src/app/app.module.ts
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/state/collections.service.ts
Due: prettier --write, eslint --fix

removed flag and preview banner
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/home-page/dashboard/dashboard.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization/organization.component.html
  src/app/search/search.component.html
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
Due: prettier --write, eslint --fix

add java tag parameter
  .circleci/config.yml
Due: none
