Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

SEAB-5479: add period
  src/app/about/about.component.html
Due: prettier --write

reorder expression for consistency
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Add when condition for accessibility test based on PR url
  .circleci/config.yml
Due: none

Reference as pipeline parameter
  .circleci/config.yml
Due: none

Add some echos
  .circleci/config.yml
Due: none

Try quoting and bracing the env var
  .circleci/config.yml
Due: none

Try making it a local parameter
  .circleci/config.yml
Due: none

End job inside step instead
  .circleci/config.yml
Due: none

Remove redundant steps
  .circleci/config.yml
Due: none

update artifacts
  package.json
Due: none

Oops, need to checkout branch
  .circleci/config.yml
Due: none

Fix persist_to_workspace
  .circleci/config.yml
Due: none

add rudimentary smoke tests for notebooks
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  package.json
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Fix store_artifacts
  .circleci/config.yml
Due: none

Get base branch dynamically
  .circleci/config.yml
  scripts/get-base-branch.sh
Due: none

more stub fix
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

duplicates
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

SEAB-5479: add period (#1779)
  src/app/about/about.component.html
Due: prettier --write

Modify npm audit to use the get-base-branch script
  .circleci/config.yml
  package.json
  scripts/npm-audit-comparison.sh
Due: none

Remove unused command from accessibility script
  scripts/run-pa11y-ci.sh
Due: none

Clean up base branch script
  scripts/get-base-branch.sh
Due: none

Check GitHub rate limit
  .circleci/config.yml
Due: none

Clean up script
  scripts/run-pa11y-ci.sh
Due: none

Remove duplication from accessibility job & take advantage of cache
  .circleci/config.yml
Due: none

Move install_container_dependencies
  .circleci/config.yml
Due: none

Make build command re-usable
  .circleci/config.yml
  scripts/run-pa11y-ci.sh
Due: none

add colab and mybinder notebooks "launch with" icons
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/assets/images/thirdparty/binder.svg
  src/assets/images/thirdparty/colab.svg
Due: prettier --write

Create re-usable command to run services
  .circleci/config.yml
Due: none

Use a boolean parameter instead
  .circleci/config.yml
Due: none

Revert "Use a boolean parameter instead"
  .circleci/config.yml
Due: none

Add colon
  .circleci/config.yml
Due: none

more stub fix (#1790)
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Try installing browser tools first
  .circleci/config.yml
Due: none

Reduce duplication for installing browser tools
  .circleci/config.yml
Due: none

Reduce duplication for restoring caches
  .circleci/config.yml
Due: none

circle ci build change
  package.json
Due: none

unused import
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

Use reusable job for integration tests
  .circleci/config.yml
Due: none

Fix typos
  .circleci/config.yml
  scripts/get-base-branch.sh
Due: none

Use reusable job for accessibility tests
  .circleci/config.yml
Due: none
