Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

sort "not available" values last in search results
  src/app/search/search-authors-html.pipe.spec.ts
  src/app/search/search-authors-html.pipe.ts
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

add SMK to example .dockstore.yml
  src/assets/text/sample-workflow-dockstore.yml
Due: none

Fix search card tests for staging
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

First fix, probably more to come
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Forgot to commit this
  src/app/container/refresh-wizard/refresh-wizard.component.html
Due: prettier --write

Don't notify during testing
  .circleci/config.yml
Due: none

add feature flag and preview buttons
  src/app/file-tree/file-tree.component.html
  src/app/file-tree/file-tree.component.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

more preview buttons
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

remove some preview buttons
  src/app/file-tree/file-tree.component.html
  src/app/file-tree/file-tree.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

rough implementation
  src/app/shared/state/workflow.query.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

implement
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

refactor
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

finish
  src/app/workflow/launch/launch.component.html
Due: prettier --write

Fix search card tests for staging (#2089)
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add launch information for snakemake
  src/app/shared/launch.service.ts
  src/app/shared/state/workflow.query.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

compare versions by id
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

compare versions in dropdown by id
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Fix tests
  cypress/e2e/group2/organizations.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Add data-cys
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/container/view/view.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/workflow/view/view.component.html
Due: prettier --write

Use more data-cy
  cypress/e2e/group1/hostedTools.ts
  cypress/support/commands.ts
  src/app/container/view/view.component.html
  src/app/workflow/view/view.component.html
Due: prettier --write, eslint --fix

Fixes
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  cypress/support/commands.ts
  src/app/container/version-modal/version-modal.component.html
  src/app/container/versions/versions.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

More fixes
  cypress/e2e/group1/hostedTools.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/mytools.ts
  src/app/container/view/view.component.html
Due: prettier --write, eslint --fix

More data-cy
  cypress/e2e/group3/mytools.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  src/app/container/deregister-modal/deregister-modal.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/organizations/collection/collection.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/version-modal/version-modal.component.html
Due: prettier --write, eslint --fix

Undo silencing
  .circleci/config.yml
Due: none

Fix staging/QA auth tests (#2094)
  cypress/e2e/group1/hostedTools.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/mytools.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  cypress/support/commands.ts
  src/app/container/deregister-modal/deregister-modal.component.html
  src/app/container/refresh-wizard/refresh-wizard.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/version-modal/version-modal.component.html
  src/app/container/versions/versions.component.html
  src/app/container/view/view.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/organizations/collection/collection.component.html
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/view/view.component.html
Due: prettier --write, eslint --fix

make sequera launch-with button appear again, on firefox
  src/app/workflow/launch-third-party/launch-third-party.component.scss
Due: prettier --write

Hide snakemake registration option
  src/app/preview-warning/preview-warning.component.html
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/shared/entry/descriptor-language.service.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Clean up
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Make preview bubble reusable
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Use preview message variable
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
Due: prettier --write, eslint --fix

Remove URL control and turn on snakemake by default
  src/app/shared/dockstore.model.ts
  src/app/shared/entry/descriptor-language.service.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

Fix tests
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/entry/descriptor-language.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Add buttons to create/delete edit link
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
  src/app/shared/entry/zenodo-access-link.pipe.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

SEAB-7015: add feature flag and preview buttons for snakemake (#2091)
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/entry/descriptor-language.service.ts
  src/app/shared/feature.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
  src/app/shared/entry/zenodo-access-link.pipe.spec.ts
Due: prettier --write, eslint --fix

PR feedback
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
Due: prettier --write

Try running tests with chrome
  .circleci/config.yml
Due: none
