Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

link back to organzation from collection
  src/app/organizations/collection/collection.component.html
Due: prettier --write

Skip buffer URLs
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Try this fix
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Fix typo
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

Fix again
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Try form field
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

CodeQL fix
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

link back to organzation from collection (#2111)
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
  src/app/organizations/collection/collection.component.html
Due: prettier --write, eslint --fix

add style to avoid cutoff
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.scss
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Send slack alert for nightly develop tests
  .circleci/config.yml
Due: none

Alert slack if nightly develop tests fail
  .circleci/config.yml
Due: none

Use job matrix to reduce duplication
  .circleci/config.yml
Due: none

More dedupe
  .circleci/config.yml
Due: none

Fix equal?
  .circleci/config.yml
Due: none

Fix parameters
  .circleci/config.yml
Due: none

Try this
  .circleci/config.yml
Due: none

add style to avoid cutoff (#2113)
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.scss
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Add slack alerts for nightly develop snapshot test failures (#2115)
  .circleci/config.yml
Due: none

add ng2-charts
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, eslint --fix

change metrics column to show small multiples
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

tweak bars
  src/app/workflow/versions/versions.component.html
Due: prettier --write

tweak
  src/app/workflow/versions/versions.component.html
Due: prettier --write

add basic synthetic data
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

add more synthetic data
  package-lock.json
  package.json
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

adjust synthetic data, add basic grid
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

add daily run graph to Metrics tab
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

scale values
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

minor tweaks
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

minor text change
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

minor text change (#2119)
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

Recommended actions and notifications
  src/app/app.routing.ts
  src/app/github-landing-page/dockstore-yml-generator.component.html
  src/app/github-landing-page/dockstore-yml-generator.component.ts
  src/app/github-landing-page/generate-dockstore-yml-button.component.html
  src/app/github-landing-page/generate-dockstore-yml-button.component.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/home-page/widget/news-updates/news-notifications.component.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/loginComponents/accounts/accounts.component.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-app-notifications.datasource.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.ts
  src/app/notifications/sitewide-notifications.component.ts
  src/app/notifications/state/notifications.query.ts
  src/app/notifications/state/notifications.service.ts
  src/app/notifications/state/notifications.store.ts
  src/app/shared/alert/alert.component.html
  src/app/shared/state/paginator.service.ts
  src/app/shared/state/paginator.store.ts
Due: prettier --write, eslint --fix

Use artifacts from my branch
  package.json
Due: none

Fix unit test
  src/app/test/mocked-objects.ts
Due: prettier --write, eslint --fix

Add 1.18 migrations
  cypress/support/commands.ts
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Add pie chart for statuses
  package-lock.json
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

Update license
  THIRD-PARTY-LICENSES.csv
Due: none

Create piechart variables
  package-lock.json
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Add pie chart for execution status metric (#2127)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

Update docs on how to build against specific webservice branch
  README.md
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
