Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add test
  cypress/integration/group2/mytools.ts
  cypress/support/commands.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

Better fix
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Weird
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Add to build info
  src/app/configuration.service.ts
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

Fix tests
  src/app/footer/footer.service.spec.ts
Due: prettier --write, eslint --fix

Don't show nulls
  src/app/footer/footer.service.spec.ts
  src/app/footer/footer.service.ts
Due: prettier --write, eslint --fix

Update JAR/swagger
  package.json
Due: none

Add lambda/plugin version to build info (#1385)
  package.json
  src/app/configuration.service.ts
  src/app/footer/footer.component.ts
  src/app/footer/footer.service.spec.ts
  src/app/footer/footer.service.ts
  src/app/shared/dockstore.model.ts
Due: prettier --write, eslint --fix

Move error message to header
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write

Calculate has imports and show warning
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Check null
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

audit
  .circleci/config.yml
  scripts/npm-audit.sh
Due: none

integrate PR feedback
  cypress/integration/group2/categories.ts
  src/app/categories/button/category-button.component.scss
  src/app/categories/button/category-button.component.ts
  src/app/categories/state/all-categories.query.ts
  src/app/categories/state/all-categories.service.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/styles.scss
Due: prettier --write, eslint --fix

testing
  .circleci/config.yml
  package-lock.json
  package.json
  scripts/compare-num-vulns.sh
  scripts/npm-audit.sh
Due: none

separate
  .circleci/config.yml
Due: none

enable job control?
  scripts/npm-audit.sh
Due: none

maybe
  .circleci/config.yml
Due: none

oops
  .circleci/config.yml
Due: none

Hm
  .circleci/config.yml
Due: none

Prevent tab change infinite loop (#1392)
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Fix/4541/add tagtest parameter file (#1393)
  cypress/integration/group2/mytools.ts
  cypress/support/commands.ts
  src/app/container/add-tag/add-tag.component.ts
  travisci/db_dump.sql
Due: prettier --write, eslint --fix

Add container classes
  src/bootstrap4.scss
  src/styles.scss
Due: prettier --write

Fix test
  cypress/integration/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

Move error message to header (#1394)
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write

don't -print number
  scripts/npm-audit.sh
Due: none

try to debug
  .circleci/config.yml
Due: none

add categories buttons on logged-out home page and entry summaries
  cypress/integration/group2/categories.ts
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
  src/app/categories/button/category-button.component.ts
  src/app/categories/button/category-button.module.ts
  src/app/categories/state/all-categories.query.ts
  src/app/categories/state/all-categories.service.ts
  src/app/categories/state/all-categories.store.ts
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/home-page/home-logged-out/home.component.ts
  src/app/home-page/home-page.module.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Specify why warning is a warning
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Move higher
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

oops
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

initial revision of entry categories query/service/store
  src/app/categories/state/entry-categories.query.ts
  src/app/categories/state/entry-categories.service.ts
  src/app/categories/state/entry-categories.store.ts
Due: prettier --write, eslint --fix

skeleton workflow category entry listing
  src/app/categories/state/entry-categories.service.ts
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

introduce new high vuln, see if tests are fixed
  .circleci/config.yml
  package-lock.json
  package.json
  scripts/npm-audit.sh
Due: none

echo how many high vulns have been introduced
  scripts/compare-num-vulns.sh
Due: none

get rid of multiple steps and use updated script
  .circleci/config.yml
Due: none

get rid of vuln
  package-lock.json
  package.json
Due: none

oops, shouldn't be commented
  scripts/compare-num-vulns.sh
Due: none

slightly more fleshed-out
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

make tests fail so I can link to example
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
