Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

save
  src/app/container/container.component.html
  src/app/shared/entry.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

finish
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

SEAB-6748: Fix "Flash Of Previous Entry" for some entry types (#2042)
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

make versions columns narrower, remove sorting from some
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.scss
Due: prettier --write

implement sorting
  package.json
Due: none

package.json
  package.json
Due: none

add comment
  src/app/workflow/versions/versions.component.scss
Due: prettier --write

improve formatting of workflow "Versions" table
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.scss
Due: prettier --write

test fix
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

test fix
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

add link to bluesky
  src/app/footer/footer.component.html
  src/assets/images/dockstore/Bluesky_Logo.svg
Due: prettier --write

Try different browser
  .circleci/config.yml
Due: none

add link to bluesky (#2045)
  src/app/footer/footer.component.html
  src/assets/images/dockstore/Bluesky_Logo.svg
Due: prettier --write

test fix
  cypress/e2e/group2/myworkflows.ts
  cypress/fixtures/sampleWorkflowVersion.json
  cypress/fixtures/versionAfterOrcidExport.json
  cypress/fixtures/versionWithDoi.json
Due: prettier --write, eslint --fix

review feedback
  src/app/workflow/versions/versions-datasource.ts
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

review feedback
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  src/app/workflow/versions/versions-datasource.ts
Due: prettier --write, eslint --fix

Use feature snapshot
  package.json
Due: none

what if version in .nnvmrc
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Delete scripts/load-nvm.sh
  scripts/load-nvm.sh
Due: none

Update web.yml
  test/web.yml
Due: none

SEAB-5762: Pagination for entry versions (#2023)
  .circleci/config.yml
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/fixtures/sampleWorkflowVersion.json
  cypress/fixtures/versionAfterOrcidExport.json
  cypress/fixtures/versionWithDoi.json
  package.json
  src/app/shared/state/paginator.query.ts
  src/app/shared/state/paginator.service.ts
  src/app/shared/state/paginator.store.ts
  src/app/workflow/versions/versions-datasource.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

initial push
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

test
  cypress/e2e/group3/metrics.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

test
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
