Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

change to read devcontainers on change
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

add dialog
  src/app/app.module.ts
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.scss
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

tiny edit
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

parameterize launch url, edit dialog, cleanup, fix bugz
  package.json
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

remove spurious TODO
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

Tell user to reset if there are no search results via facets (#1864)
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/noHitsSearchTableResponse.json
  src/app/search/query-builder.service.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

remove another forgotten TODO
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

correct grammar error
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
Due: prettier --write

address pr feedback
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

edit dialog text
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
Due: prettier --write

change button style, edit
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
Due: prettier --write

add notebook "Launch with" to a GitHub Codespace
  package.json
  src/app/app.module.ts
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.html
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.scss
  src/app/workflow/launch-third-party/dialog/launch-to-codespace-dialog.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

Combine [disabled] conditions
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Combine [disabled] conditions (#1866)
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

do not label main notebook file as "Primary"
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

remove PREVIEW notice for notebooks
  src/app/workflows/workflows.component.html
Due: prettier --write

remove straggler "PREVIEW"
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

remove notebook "Primary" check
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

add github image
  src/assets/images/thirdparty/github.svg
Due: none

remove PREVIEW label from search
  src/app/search/search.component.html
Due: prettier --write

add entryTypeMetadata to sessionstore, use in workflowsComponent
  src/app/shared/session/session.query.ts
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

ui pagination
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/shared/state/paginator.query.ts
  src/app/shared/state/paginator.service.ts
  src/app/shared/state/paginator.store.ts
Due: prettier --write, eslint --fix

update artifacts
  package.json
Due: none

remove comment
  src/app/workflows/workflows.component.html
Due: prettier --write

fix tests
  src/app/container/version-modal/version-modal.component.spec.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/shared/entry/info-tab-checker-workflow-path/info-tab-checker-workflow-path.component.spec.ts
Due: prettier --write, eslint --fix

add 'raw=true' to img hrefs that reference github
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

completed
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
Due: prettier --write, eslint --fix

remove "Primary" label from notebook file
  cypress/e2e/group2/notebooks.ts
  src/app/file-tree/file-tree.component.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

remove residual notebook preview verbiage/code
  package.json
  src/app/container/version-modal/version-modal.component.spec.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/search/search.component.html
  src/app/shared/entry/info-tab-checker-workflow-path/info-tab-checker-workflow-path.component.spec.ts
  src/app/shared/session/session.query.ts
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

add unit tests, renam
  src/app/shared/markdown-wrapper/markdown-wrapper.service.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

add one more test
  src/app/shared/markdown-wrapper/markdown-wrapper.service.spec.ts
Due: prettier --write, eslint --fix

improve regexp
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

fix inline markdown images
  src/app/shared/markdown-wrapper/markdown-wrapper.service.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
Due: prettier --write, eslint --fix

Refactor and change text for GitHub apps
  src/app/container/register-tool/register-tool.component.html
  src/app/home-page/home-page.module.ts
  src/app/shared-workflow-services-notebooks/shared-workflow-services-notebooks.module.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.spec.ts
  src/app/shared/register-github-app/register-github-app.component.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.service.ts
Due: prettier --write, eslint --fix

Fuzz the time
  src/app/shared/register-github-app/register-github-app.component.html
Due: prettier --write

Fix test
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Fix test, maybe (they run on my machine without this change), and SonarCloud
  src/app/shared/register-github-app/register-github-app.component.spec.ts
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

package json update
  package.json
Due: none

fix test
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix
