Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

DOCK-1689: added primary indicator and icon (#1664)
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/file-tree/file-tree.component.html
  src/app/file-tree/file-tree.component.spec.ts
  src/app/file-tree/file-tree.component.ts
  src/app/shared/modules/workflow.module.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.scss
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.spec.ts
Due: prettier --write, eslint --fix

updated ngx-markdown and added table styles
  package-lock.json
  package.json
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
Due: prettier --write, eslint --fix

improved table style
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
Due: prettier --write

added packages to license csv
  THIRD-PARTY-LICENSES.csv
Due: none

removed unneeded section in package.json
  package.json
Due: none

Revert "removed unneeded section in package.json"
  package.json
Due: none

try out diffferent os image
  .circleci/config.yml
Due: none

Revert "try out diffferent os image"
  .circleci/config.yml
Due: none

take a look
  .circleci/config.yml
Due: none

re-arrange
  .circleci/config.yml
Due: none

fix build issue with chromedriver (#1676)
  .circleci/config.yml
Due: none

changes after PR review
  package.json
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
Due: prettier --write

DOCK-2209: fix styling for tables in markdown (#1675)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
  src/app/shared/markdown-wrapper/markdown-wrapper.component.ts
Due: prettier --write, eslint --fix

added type parameter and removed filtering in ui
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

changes following PR review
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Remove duplicate browser-tools install
  .circleci/config.yml
Due: none

DOCK-2229: added type parameter and removed filtering in ui (#1678)
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Remove duplicate browser-tools install (#1679)
  .circleci/config.yml
Due: none

updated 404 routing for orgs, collections, workflows, & tools
  src/app/container/container.component.ts
  src/app/organizations/organizations.routing.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

change editor mode for groovy files
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

remove type casting
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.ts
Due: prettier --write, eslint --fix

use TRS 2.0.0 instead of TRS 2.0.0-beta.2
  src/app/banner/banner.component.spec.ts
  src/app/banner/banner.component.ts
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.component.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.spec.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/metadata/metadata.service.spec.ts
  src/app/metadata/metadata.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

updated circleci build id
  package.json
Due: none

use === instead of ==
  src/app/container/container.component.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.ts
Due: prettier --write, eslint --fix

change editor mode for groovy files (#1681)
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

404 Redirects for Remaining Pages - Dock 1170 (#1680)
  package.json
  src/app/container/container.component.ts
  src/app/organizations/organizations.routing.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

new ucsc logos
  src/app/footer/footer.component.scss
  src/app/footer/footer.component.ts
  src/assets/images/sponsors/coloured/ucsc.png
  src/assets/images/sponsors/non-coloured/ucsc.png
  src/assets/images/sponsors/non-coloured/ucsc.svg
Due: prettier --write, eslint --fix

Handle backend change to for source file metadata
  package.json
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

rename metadata.service to service-info.service
  src/app/app.module.ts
  src/app/banner/banner.component.spec.ts
  src/app/banner/banner.component.ts
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.component.ts
  src/app/metadata/metadata.service.spec.ts
  src/app/service-info/service-info.service.spec.ts
  src/app/service-info/service-info.service.ts
Due: prettier --write, eslint --fix

rename metadata
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

instead of calling api directly, use service-info.service
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.spec.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

updated navbar dropdown
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
Due: prettier --write, eslint --fix

removed outdated tests
  cypress/e2e/immutableDatabaseTests/admin.ts
  cypress/e2e/immutableDatabaseTests/curator.ts
Due: prettier --write, eslint --fix

fixed more tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  cypress/e2e/immutableDatabaseTests/app-spec.ts
Due: prettier --write, eslint --fix

update version check
  src/app/banner/banner.component.ts
  src/app/footer/footer.component.ts
Due: prettier --write, eslint --fix

fixed test
  cypress/e2e/group3/starEntry.ts
Due: prettier --write, eslint --fix

Update to develop artifacts
  package.json
Due: none

Handle backend change to for source file metadata (#1683)
  package.json
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

fix height of tos banner mobile
  src/app/changeUsernameBanner/changeUsernameBanner.component.html
  src/app/tosBanner/tos-banner.component.html
  src/styles.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
