Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Fix typos
  README.md
Due: none

insert stub time series graph
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

further
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

implement stacked bar
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

fix pie graph bug
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

wire real execution counts into output
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

update test setup for 1.18
  cypress/support/commands.ts
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

use adjusted time series
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

minor refactor
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

remove logging, add comments
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

change label dates, refactor
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

add comments
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

change hash for problematic migration
  test/smoke_test_db.sql
Due: none

adjust problematic smoke test migration hash
  test/smoke_test_db.sql
Due: none

add "weekly execution counts" time series graph to Metrics tab
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  test/smoke_test_db.sql
Due: prettier --write, eslint --fix

try this
  cypress/e2e/group2/notificationBadge.ts
  src/app/navbar/navbar.component.html
Due: prettier --write, eslint --fix

reset the badge
  cypress/e2e/group2/notificationBadge.ts
Due: prettier --write, eslint --fix

just try reloading
  cypress/e2e/group2/notificationBadge.ts
Due: prettier --write, eslint --fix

wrong place?
  cypress/e2e/group2/notificationBadge.ts
Due: prettier --write, eslint --fix

sketch
  src/app/shared/graphs/thumbnail-time-series-graph.component.html
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

disable tooltips in thumbnail graphs
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
Due: prettier --write, eslint --fix

improve readability
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
Due: prettier --write, eslint --fix

refactor helpers into time series service
  src/app/shared/timeseries.service.ts
  src/app/workflow/executions/executions-tab.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

wire in actual data
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

Update docs on how to build against a specific branch (#2129)
  README.md
Due: none

Add page to generate .dockstore.yml and add user notifications (#2128)
  cypress/e2e/group2/notificationBadge.ts
  package.json
  src/app/app.routing.ts
  src/app/github-landing-page/dockstore-yml-generator.component.html
  src/app/github-landing-page/dockstore-yml-generator.component.ts
  src/app/github-landing-page/generate-dockstore-yml-button.component.html
  src/app/github-landing-page/generate-dockstore-yml-button.component.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/home-page/widget/news-updates/news-notifications.component.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/loginComponents/accounts/accounts.component.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-app-notifications.datasource.ts
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.ts
  src/app/notifications/sitewide-notifications.component.ts
  src/app/notifications/state/notifications.query.ts
  src/app/notifications/state/notifications.service.ts
  src/app/notifications/state/notifications.store.ts
  src/app/shared/alert/alert.component.html
  src/app/shared/state/paginator.service.ts
  src/app/shared/state/paginator.store.ts
  src/app/test/mocked-objects.ts
Due: prettier --write, eslint --fix

point at snapshot webservice, disable mouseovers on thumbnail graphs
  package.json
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
Due: prettier --write, eslint --fix

retrieve max execution count from webservice
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

build on the corrected openapi.yaml branch
  package.json
Due: none

refactor
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

add copyright headers
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

fix unit tests
  src/app/test/service-stubs.ts
  src/app/workflow/executions/executions-tab.component.spec.ts
Due: prettier --write, eslint --fix

reference alpha release in package.json
  package.json
Due: none

reference alpha release in package.json, the correct way
  package.json
Due: none

improve tooltip
  src/app/workflow/versions/versions.component.html
Due: prettier --write

remove obselete checks
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

add tooltip where time series is missing, make axes slightly darker
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

SEAB-7194: Add "small multiples" weekly execution count graphs to versions table (#2132)
  cypress/e2e/group3/metrics.ts
  package.json
  src/app/shared/graphs/thumbnail-time-series-graph.component.html
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/shared/timeseries.service.ts
  src/app/test/service-stubs.ts
  src/app/workflow/executions/executions-tab.component.spec.ts
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/main.ts
Due: prettier --write, eslint --fix

build with release rc
  package.json
Due: none

fix thumbnail metrics graph when maxValue is zero
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
Due: prettier --write, eslint --fix
