Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

More test fixes
  cypress/e2e/immutableDatabaseTests/admin.ts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/tosAndPrivacyPolicy.ts
  cypress/e2e/immutableDatabaseTests/versionModal.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
  src/app/login/login.component.html
Due: prettier --write, eslint --fix

Fix copy trs id button
  src/_material-overrides.scss
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

add 1.17.0 to list of migrations
  cypress/support/commands.ts
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Clean up
  src/materialColorScheme.scss
Due: prettier --write

Fix copy icon button
  src/_functions.scss
  src/app/container/info-tab/info-tab.component.html
  src/app/footer/footer.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch/launch.component.html
  src/styles.scss
Due: prettier --write

Move more things to material overrides
  src/_material-overrides.scss
  src/styles.scss
Due: prettier --write

Move table styles to overrides
  src/_material-overrides.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/search/search-entry-table.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.scss
  src/styles.scss
Due: prettier --write

Some margin fixes
  src/app/container/container.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

Fix sonarcloud issues
  src/_material-overrides.scss
  src/app/home-page/home-logged-out/home.component.scss
  src/app/my-sidebar/my-sidebar.component.scss
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
Due: prettier --write, eslint --fix

move toil "launch" information higher
  src/app/workflow/launch/launch.component.html
Due: prettier --write

Fix icon sizes for big buttons
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/loginComponents/requests/requests.component.html
  src/app/organizations/collection/add-entry/add-entry.component.html
  src/app/workflow/dag/dag.component.html
Due: prettier --write

Fix matNoDataRow classes
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Fix matChipAvatar overrides plus sonarcloud fix
  src/_material-overrides.scss
  src/app/container/container.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/organizations/collection/collection.component.html
  src/app/shared/ai-bubble/ai-bubble.component.html
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/styles/my-entry.component.scss
  src/app/starredentries/starredentries.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

No topic fix
  src/app/search/search-entry-table.component.html
Due: prettier --write

include Toil launch instructions
  src/app/about/about.component.html
  src/app/home-page/home-logged-out/home.component.html
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Clean up
  src/app/footer/footer.component.html
  src/app/shared/alert/alert.component.css
  src/app/shared/styles/workflow-container.component.scss
  src/styles.scss
Due: prettier --write

Fix app header
  src/app/header/header.component.html
  src/app/header/header.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Fix app header (#2079)
  src/app/header/header.component.html
  src/app/header/header.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Address usability feedback: round chips, card outline, featured content title
  src/_material-overrides.scss
  src/app/home-page/dashboard/dashboard.component.html
Due: prettier --write

remove restub (#2075)
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

More usability feedback: checkbox size & children tab groups
  src/_functions.scss
  src/_material-overrides.scss
Due: prettier --write

Fix padding
  src/_functions.scss
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

add some colons
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

fix sequera launch-with button image
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.scss
Due: prettier --write

fix header vertical spacing
  src/styles.scss
Due: prettier --write

Address Angular Material component migration usability feedback (#2080)
  src/_functions.scss
  src/_material-overrides.scss
  src/app/home-page/dashboard/dashboard.component.html
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

add some colons (#2084)
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

change separator spacing mechanism
  src/styles.scss
Due: prettier --write

fix dashboard card header spacing
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
Due: prettier --write

tweak dashboard button position and prevent text wrap
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
Due: prettier --write

center card headers vertically
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/styles.scss
Due: prettier --write

test webservice update
  package.json
Due: none

add syntax highlighting for R notebooks
  src/app/notebook/prism.ts
Due: prettier --write, eslint --fix

sort n/a values last
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

fix test
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

use new 'n/a' constant better
  src/app/search/search-authors-html.pipe.spec.ts
  src/app/search/search-authors-html.pipe.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
