Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

modify notebook file tabs, always display all file tabs
  src/app/descriptor-languages/Jupyter.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

add javascript-less mastodon verification link
  src/index.html
Due: prettier --write

remove gitter
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/footer/footer.component.html
  src/assets/images/dockstore/gitter.svg
Due: prettier --write, eslint --fix

GitHub Apps Logs Pagination - UI (#1869)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  package.json
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.html
  src/app/myworkflows/sidebar-accordion/github-apps-logs/github-apps-logs.component.ts
  src/app/shared/state/paginator.query.ts
  src/app/shared/state/paginator.service.ts
  src/app/shared/state/paginator.store.ts
Due: prettier --write, eslint --fix

add comment
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

fix galaxy issue
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

add getTRSPlainType test, tweak jupyter extended type to work better with trs
  src/app/descriptor-languages/Jupyter.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
Due: prettier --write, eslint --fix

fix stuck profile page
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

generalize recentEvents pipe to support all entry types
  src/app/shared/entry/recent-events.pipe.spec.ts
  src/app/shared/entry/recent-events.pipe.ts
Due: prettier --write, eslint --fix

tweak notebook "Files" tabs and always display File tabs
  src/app/descriptor-languages/Jupyter.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

fix bug
  src/app/aliases/state/aliases.service.ts
Due: prettier --write, eslint --fix

point at new artifacts
  package.json
Due: none

remove space before '...'
  src/app/aliases/aliases.component.html
Due: prettier --write

remove redundant assignment
  src/app/aliases/aliases.component.ts
Due: prettier --write, eslint --fix

add comment
  src/app/aliases/aliases.component.ts
Due: prettier --write, eslint --fix

future-proof alias types
  src/app/aliases/aliases.component.ts
Due: prettier --write, eslint --fix

edit comment
  src/app/aliases/aliases.component.ts
Due: prettier --write, eslint --fix

tweak alias test intercepts/mocks
  cypress/e2e/group2/aliases.ts
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

fix the mocks
  cypress/e2e/group2/aliases.ts
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

remove unused imports
  src/app/aliases/state/aliases.service.ts
Due: prettier --write, eslint --fix

point at develop artifacts
  package.json
Due: none

fix alias resolution for AppTools, Notebooks, and Services
  cypress/e2e/group2/aliases.ts
  cypress/e2e/immutableDatabaseTests/toolDetails.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  package.json
  src/app/aliases/aliases.component.html
  src/app/aliases/aliases.component.ts
  src/app/aliases/aliases.module.ts
  src/app/aliases/state/aliases.query.ts
  src/app/aliases/state/aliases.service.ts
  src/app/aliases/state/aliases.store.ts
Due: prettier --write, eslint --fix

change to make branch fresh [skip ci]
  README.md
Due: none

move search result tooltips to left of result
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

change registration/login service to handle non-http error
  src/app/login/login.service.ts
  src/app/register/register.service.ts
Due: prettier --write, eslint --fix

move more tooltips
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

adjust edit manual topic behavior
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

fix data-cy attribute
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

bump circleci/browser-tools version
  .circleci/config.yml
Due: none

move search result tooltips to the left of results
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

Deprecate and test
  package.json
  src/app/container/email.service.ts
Due: prettier --write, eslint --fix

null check
  src/app/container/email.service.ts
Due: prettier --write, eslint --fix

redo type reckoning
  src/app/login/login.service.ts
  src/app/register/register.service.ts
Due: prettier --write, eslint --fix

add fallback to trs plain type generation code
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

make button-finding code more specific
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

fix TRS link for Galaxy workflows
  src/app/descriptor-languages/Jupyter.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

add comments
  src/app/login/login.service.ts
  src/app/register/register.service.ts
Due: prettier --write, eslint --fix

test this
  src/app/container/email.service.ts
  src/app/shared/extended-dockstoreTool/extended-dockstoreTool.service.ts
Due: prettier --write, eslint --fix
