Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Try installing jre
  .circleci/config.yml
Due: none

Minor wording changes for GH App registration (#1777)
  .circleci/config.yml
  cypress/e2e/group3/githubAppTools.ts
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

fix test
  .circleci/config.yml
Due: none

permissions fix
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

created integration test for snapshotting notebooks
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/support/commands.ts
  package.json
Due: prettier --write, eslint --fix

urlencode values
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

permissions fix (#1780)
  src/app/navbar/navbar.component.ts
Due: prettier --write, eslint --fix

add workflow_path to WorkflowVersion mock
  src/app/test/mocked-objects.ts
Due: prettier --write, eslint --fix

stub fix (#1778)
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

oops
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

java build fix
  .circleci/config.yml
Due: none

reference mybinder.org
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

reorder code for maximum logical consistency
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

show notebooks in dashboard
  cypress/e2e/group1/dashboard.ts
  package.json
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

improve Colab and add MyBinder notebook launch
  .circleci/config.yml
  package.json
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
  src/app/test/mocked-objects.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

tint stderr stream output red
  src/app/notebook/notebook-stream-output.component.html
  src/app/notebook/notebook-stream-output.component.ts
  src/notebooks.scss
Due: prettier --write, eslint --fix

merge
  package.json
Due: none

tint notebook stderr stream output red
  src/app/notebook/notebook-stream-output.component.html
  src/app/notebook/notebook-stream-output.component.ts
  src/notebooks.scss
Due: prettier --write, eslint --fix

integration test fix
  cypress/e2e/group1/dashboard.ts
Due: prettier --write, eslint --fix

removed wait
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

fixed typos
  cypress/e2e/group1/dashboard.ts
Due: prettier --write, eslint --fix

use openjdk instead of base image
  .circleci/config.yml
Due: none

add colab and mybinder notebooks "launch with" icons
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/assets/images/thirdparty/binder.svg
  src/assets/images/thirdparty/colab.svg
Due: prettier --write

rough mods
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

add placeholder
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

fill out notebook test comments
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

SEAB-5126: created integration test for snapshotting notebooks (#1782)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

add back base image for executors
  .circleci/config.yml
Due: none

remove java image from executor
  .circleci/config.yml
Due: none

try to fix failed smoke tests
  .circleci/config.yml
Due: none

pr review changes
  cypress/e2e/group1/dashboard.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
Due: prettier --write, eslint --fix

data-cy error fix
  src/app/home-page/widget/entry-box/entry-box.component.html
Due: prettier --write

removed code
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

implement basic test
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

fix and enhance
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

include migration to create notebook
  scripts/run-webservice-script.sh
Due: none

fix /notebooks link retrieval
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

reference improved artifacts
  package.json
Due: none

SEAB-5437: show notebooks in dashboard (#1783)
  cypress/e2e/group1/dashboard.ts
  package.json
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix
