Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

list works
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

add more search boxes, unsure about efficiency
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

lgtm
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.ts
Due: prettier --write, eslint --fix

lgtm
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add final features
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.scss
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

disable topic selected for hosted
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

clean
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

add buttons (#1587)
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.html
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.ts
  src/app/workflow/launch/launch.component.html
Due: prettier --write, eslint --fix

remove unused
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

clean up tests
  cypress/integration/group1/dashboard.ts
Due: prettier --write, eslint --fix

clean up and center no-events
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

add categories
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

typo
  src/app/search/search.component.html
Due: prettier --write

remove flaky test
  cypress/integration/group1/dashboard.ts
Due: prettier --write, eslint --fix

fix test
  cypress/integration/group1/dashboard.ts
Due: prettier --write, eslint --fix

Running accessibility test
  .circleci/config.yml
  package.json
  scripts/run-pa11y-ci.sh
Due: none

Testing change
  .circleci/config.yml
  scripts/run-pa11y-ci.sh
Due: none

Corrected syntax
  .circleci/config.yml
Due: none

new files
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

add filter and fix original dashboard
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

remove unused varsA
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Changed resource class
  .circleci/config.yml
Due: none

add more search boxes (#1589)
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add tooltip
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

fix some bugs
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

box layout
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.scss
  src/app/home-page/widget/starred-box/starred-box.component.ts
Due: prettier --write, eslint --fix

Fix: Selectively include CWL instructions (dockstore/dockstore#4862, PR #1529)
  src/app/workflow/launch/launch.component.html
Due: prettier --write

final changes
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
Due: prettier --write, eslint --fix

Updated pa11y script
  scripts/run-pa11y-ci.sh
Due: none

Updated pa11y script
  .circleci/config.yml
Due: none

Added base-branch
  .circleci/config.yml
Due: none

Addded paraamter to prepare_accessibility_test
  .circleci/config.yml
Due: none

disable topic selected for hosted (#1590)
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Update package.json
  package.json
Due: none

Dashboard redesign - Layout process and Entries widgets (#1562)
  cypress/integration/group1/dashboard.ts
  src/app/app.module.ts
  src/app/configuration.service.spec.ts
  src/app/configuration.service.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/new-dashboard/new-dashboard.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.scss
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/entry-box/entry-box.component.scss
  src/app/home-page/widget/entry-box/entry-box.component.spec.ts
  src/app/home-page/widget/entry-box/entry-box.component.ts
  src/app/mytools/mytools.module.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
Due: prettier --write, eslint --fix

Modified accessibility test
  .circleci/config.yml
  scripts/run-pa11y-ci.sh
Due: none

Corrected syntax error
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
