Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Failing example
  package.json
  scripts/compare-num-vulns.sh
  scripts/npm-audit-comparison.sh
  scripts/npm-audit.sh
Due: none

passing?
  package.json
Due: none

oops
  scripts/run-webservice-script.sh
Due: none

remove bracket
  scripts/testing.sh
Due: none

WIP
  package.json
  scripts/compare-num-vulns.sh
  scripts/run-webservice-script.sh
  scripts/testing.sh
Due: none

fix
  scripts/testing.sh
Due: none

remove empty comment
  scripts/npm-audit-comparison.sh
Due: none

remove empty lines
  scripts/npm-audit-comparison.sh
  scripts/run-webservice-script.sh
Due: none

clean up script
  scripts/npm-audit-comparison.sh
Due: none

npm uninstall @types/elastic.js
  package-lock.json
  package.json
Due: none

npm run license
  THIRD-PARTY-LICENSES.csv
Due: none

git secrets fix
  .gitallowed
Due: none

this is more accurate
  .gitallowed
Due: none

Feature/seab 3679/fix circle ci npm audit (#1460)
  .circleci/config.yml
  package.json
  scripts/compare-num-vulns.sh
  scripts/npm-audit-comparison.sh
  scripts/npm-audit.sh
  scripts/run-webservice-script.sh
Due: none

Feature/trim and update (#1463)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  webpack.config.js
Due: none

Fix
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.scss
Due: prettier --write

rough first draft
  src/app/search/basic-search/basic-search.component.html
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

revision 2
  src/app/search/basic-search/basic-search.component.html
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

close autocomplete panel on enter
  src/app/search/basic-search/basic-search.component.html
Due: prettier --write

Row wrapping solution and markdown formatting
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
Due: prettier --write

Collection description table resizing bug (#1458)
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/shared/markdown-wrapper/markdown-wrapper.component.scss
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

Use gravatarUrl everywhere
  src/app/app.module.ts
  src/app/entry/current-collections.module.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
  src/app/organizations/state/organization.query.spec.ts
  src/app/organizations/state/organization.query.ts
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

Org logo not displaying on Orgs page
  src/app/gravatar/gravatar.pipe.spec.ts
  src/app/gravatar/gravatar.pipe.ts
  src/app/gravatar/gravatar.service.spec.ts
  src/app/gravatar/gravatar.service.ts
  src/app/organizations/organizations.module.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/state/organization.query.spec.ts
  src/app/organizations/state/organization.query.ts
  src/app/organizations/state/organization.service.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

PR feedback -- encode URI component.
  src/app/gravatar/gravatar.pipe.spec.ts
  src/app/gravatar/gravatar.service.spec.ts
  src/app/gravatar/gravatar.service.ts
Due: prettier --write, eslint --fix

Fix dangling curly brace
  src/app/gravatar/gravatar.service.spec.ts
  src/app/gravatar/gravatar.service.ts
Due: prettier --write, eslint --fix

A bunch more test changes (#1461)
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Org logo not displaying on Orgs page (#1464)
  src/app/app.module.ts
  src/app/entry/current-collections.module.ts
  src/app/entry/current-collections/current-collections.component.html
  src/app/gravatar/gravatar.pipe.spec.ts
  src/app/gravatar/gravatar.pipe.ts
  src/app/gravatar/gravatar.service.spec.ts
  src/app/gravatar/gravatar.service.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
  src/app/organizations/organizations.module.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/organizations/state/organization.query.ts
  src/app/organizations/state/organization.service.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/shared/user/user.service.ts
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

Search sidebar match redesign
  src/app/search/basic-search/basic-search.component.html
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/search.component.html
  src/app/search/search.component.scss
  src/assets/svg/help.svg
  src/assets/svg/reset.svg
Due: prettier --write

Remove reset button
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/search.component.html
Due: prettier --write

use unsubmitted search text when selecting facets
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

Actually remove reset button
  src/app/search/search.component.html
Due: prettier --write

Import Roboto font-family
  src/styles.scss
Due: prettier --write

create separate change and change-with-debounce events
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

add {center} to search smoke test
  cypress/integration/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

reintroduce edited comment about loop, remove unused import
  src/app/search/basic-search/basic-search.component.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

remove unused imports
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

updated hover and select colours
  src/app/search/search.component.scss
Due: prettier --write

pixels to rems
  src/app/search/basic-search/basic-search.component.scss
  src/app/search/search.component.scss
Due: prettier --write

Import Roboto font-family (#1469)
  src/styles.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
