Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

D'oh, how annoying. Also noticed another case of scrollIntoView.
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Comment out test that fails because of auto DOI generation.
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Step one, run ng update @angular/core@16 @angular/cli@16
  package-lock.json
  package.json
  src/app/shared/auth.guard.ts
Due: prettier --write, eslint --fix

[skip ci]
  package-lock.json
  package.json
Due: none

remove indent
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write

[skip ci]
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, eslint --fix

fix indent
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write

DOCK-2532: remove indent in template (#1981)
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write

point pcawg link at legacy page
  src/app/about/about.component.ts
Due: prettier --write, eslint --fix

fix other reference
  src/app/about/about.component.html
Due: prettier --write

point pcawg link at legacy page
  src/app/about/about.component.html
  src/app/about/about.component.ts
Due: prettier --write, eslint --fix

test fix
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

another attempt
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

try something else
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

revert
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Forgot license check and whatnot
  THIRD-PARTY-LICENSES.csv
  src/app/ng2-ui-auth/lib/browser-storage.service.ts
  src/app/ng2-ui-auth/lib/config-providers.ts
  src/app/ng2-ui-auth/lib/local.service.ts
  src/app/ng2-ui-auth/lib/oauth.service.ts
  src/app/ng2-ui-auth/lib/oauth1.service.ts
  src/app/ng2-ui-auth/lib/oauth2.service.ts
  src/app/ng2-ui-auth/lib/popup.service.spec.ts
  src/app/ng2-ui-auth/lib/popup.service.ts
  src/app/ng2-ui-auth/lib/shared.service.ts
  src/app/ng2-ui-auth/lib/storage-type.enum.ts
  src/app/ng2-ui-auth/lib/utils.ts
Due: prettier --write, eslint --fix

Removed unused library.
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

D'oh!
  src/main.ts
Due: prettier --write, eslint --fix

D'oh!, part 2
  src/main.ts
Due: prettier --write, eslint --fix

Some random fixes in attempt to fix CircleCI failure
  .circleci/config.yml
  cypress/e2e/group3/mytools.ts
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write, eslint --fix

Last change seemed to work, reenable all tests.
  .circleci/config.yml
Due: none

Ye olde wait
  cypress/e2e/group3/mytools.ts
  src/app/container/register-tool/register-tool.component.html
Due: prettier --write, eslint --fix

If we're pausing for animation, then don't need to scroll?
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

See if cy.wait fixes flakiness (seems to locally)
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

Carry over cy.wait to myworkflows
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Ay caramba
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Fix media content for mastodon post
  src/app/shared/mastodon/mastodon.component.html
Due: prettier --write

Modify package-lock.json to bust cache
  package-lock.json
Due: none

Edit topics in dialog
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/home-page/home-logged-out/home.component.scss
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.scss
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.scss
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/main.ts
  src/styles.scss
Due: prettier --write, eslint --fix

fix imports
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Used shared info tab styles
  src/app/container/info-tab/info-tab.component.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.scss
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/styles/info-tab.component.scss
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Fix lint error
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
Due: prettier --write

Fix tests and add some
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.spec.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.spec.ts
  src/app/test/mocked-objects.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Fix some tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.component.html
Due: prettier --write, eslint --fix

Fix tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/sharedWorkflows.ts
  cypress/fixtures/workflowWithTopicAI.json
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.ts
Due: prettier --write, eslint --fix

Clean up
  src/app/shared/entry/info-tab-topic/edit-topic/edit-topic-dialog.service.ts
Due: prettier --write, eslint --fix

Always show AI bubble for AI topic
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
Due: prettier --write, eslint --fix

Fix test and check topic selection bubble
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  cypress/fixtures/workflowWithTopicAI.json
  src/app/shared/entry/info-tab-topic/display-topic/display-topic.component.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
