Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix thumbnail metrics graph when maxValue is zero
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
Due: prettier --write, eslint --fix

versions
  package.json
Due: none

works locally, test on ci
  package.json
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

hide user notifications instead of deleting
  package.json
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
Due: prettier --write, eslint --fix

update bell count on login or notification delete
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.ts
  src/app/notifications/state/notifications.service.ts
Due: prettier --write, eslint --fix

fix? lint issue
  src/app/navbar/navbar.component.html
Due: prettier --write

get past linter, part 2
  src/app/navbar/navbar.component.html
Due: prettier --write

adjust to not use snapshot
  package.json
Due: none

reference alpha release
  package.json
Due: none

update bell when notification is deleted or user logs in
  package.json
  src/app/myworkflows/sidebar-accordion/github-apps-logs/recommended-actions.component.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.ts
  src/app/notifications/state/notifications.service.ts
Due: prettier --write, eslint --fix

add "Other Files" tab
  package.json
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

mod test setup to handle ambiguous urls
  test/web.yml
Due: none

Add `otherFiles` feature to workflows (#2135)
  package.json
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
  test/web.yml
Due: prettier --write, eslint --fix

add 1.19 migrations
  scripts/run-webservice-script.sh
Due: none

add 1.19 to cypress db migrations
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

use feature branch snapshot
  package.json
Due: none

add 1.19 migrations
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

revert version
  package.json
Due: none

retrieve and display entry-level metrics
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

add expansion panels
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

use cards instead of divs
  src/app/workflow/workflow.component.html
Due: prettier --write

add support for new columns
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

improve labels/text
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

use optional chaining
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

remove obsolete tests
  cypress/e2e/group3/metrics.ts
Due: prettier --write, eslint --fix

display entry-level aggregated metrics
  cypress/e2e/group3/metrics.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

point at release webservice
  package.json
Due: none

point at hotfix 1.18.1 webservice
  package.json
Due: none

bump webservice version to 1.18.2
  package.json
Due: none

add support for new columns (#2143)
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

add _source fields to es query
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

adjust for new time series begins/ends representation
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

refactor halfway
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

continue refactor
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

complete rough implementation of TimeSeriesService mods
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

refactor slightly
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

improve some comments
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

improve comments
  src/app/shared/timeseries.service.ts
Due: prettier --write, eslint --fix

change versions table to display monthly execution counts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
