Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

remove important
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write

update artifacts
  package.json
Due: none

Revert "Add CircleToken header (#1734)"
  scripts/get-circleci-artifact-url.sh
Due: none

Revert "Add CircleToken header (#1734)" (#1750)
  scripts/get-circleci-artifact-url.sh
Due: none

remove old dashboard and widgets, rename new dashboard
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/immutableDatabaseTests/newsNotifications.ts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/support/commands.ts
  src/app/app.routing.ts
  src/app/home-page/dashboard/dashboard.component.html
  src/app/home-page/dashboard/dashboard.component.scss
  src/app/home-page/dashboard/dashboard.component.spec.ts
  src/app/home-page/dashboard/dashboard.component.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-logged-in/home-logged-in.component.spec.ts
  src/app/home-page/home-logged-in/home-logged-in.component.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.scss
  src/app/home-page/widget/entries/entries.component.spec.ts
  src/app/home-page/widget/entries/entries.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organizations/organizations.component.html
  src/app/home-page/widget/organizations/organizations.component.scss
  src/app/home-page/widget/organizations/organizations.component.spec.ts
  src/app/home-page/widget/organizations/organizations.component.ts
  src/app/home-page/widget/requests/requests.component.html
  src/app/home-page/widget/requests/requests.component.scss
  src/app/home-page/widget/requests/requests.component.spec.ts
  src/app/home-page/widget/requests/requests.component.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/starredentries/starredentries.component.ts
Due: prettier --write, eslint --fix

changed base url
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

add headers to my-org dialog
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/widget/organization-box/my-organizations-dialog.component/my-organizations-dialog.component.html
Due: prettier --write

Dashboard Usability Fixes - SEAB-5348 (#1749)
  package.json
  src/app/container/info-tab/info-tab.component.html
  src/app/home-page/new-dashboard/new-dashboard.component.ts
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.ts
  src/app/home-page/widget/entry-box/entry-box.component.html
  src/app/home-page/widget/news-box/news-box.component.html
  src/app/home-page/widget/organization-box/my-organizations-dialog.component/my-organizations-dialog.component.html
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/shared/entry/recent-events.pipe.ts
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/user-page/user-page.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

rename some TODOs
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/shared/entry/recent-events.pipe.ts
  src/app/shared/styles/my-entry.component.scss
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/app/user-page/user-page.component.html
Due: prettier --write, eslint --fix

conditional header
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

added comment
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

consistency
  src/app/organizations/collection/collection.component.html
Due: prettier --write

re-scaffold
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

add to-string pipe
  src/app/notebook/formatted-notebook.component.html
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

fix org-box test
  src/app/home-page/widget/organization-box/organization-box.component.html
Due: prettier --write

conditional header (#1754)
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

Deprecate Old Dashboard and Widgets - SEAB-5337 (#1752)
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/immutableDatabaseTests/newsNotifications.ts
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/support/commands.ts
  src/app/app.routing.ts
  src/app/home-page/dashboard/dashboard.component.html
  src/app/home-page/dashboard/dashboard.component.scss
  src/app/home-page/dashboard/dashboard.component.spec.ts
  src/app/home-page/dashboard/dashboard.component.ts
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-logged-in/home-logged-in.component.spec.ts
  src/app/home-page/home-logged-in/home-logged-in.component.ts
  src/app/home-page/home-page.module.ts
  src/app/home-page/widget/entries/entries.component.html
  src/app/home-page/widget/entries/entries.component.scss
  src/app/home-page/widget/entries/entries.component.spec.ts
  src/app/home-page/widget/entries/entries.component.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organizations/organizations.component.html
  src/app/home-page/widget/organizations/organizations.component.scss
  src/app/home-page/widget/organizations/organizations.component.spec.ts
  src/app/home-page/widget/organizations/organizations.component.ts
  src/app/home-page/widget/requests/requests.component.html
  src/app/home-page/widget/requests/requests.component.scss
  src/app/home-page/widget/requests/requests.component.spec.ts
  src/app/home-page/widget/requests/requests.component.ts
  src/app/home-page/widget/starred-box/starred-box.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/shared/dockstore.model.ts
  src/app/shared/entry/recent-events.pipe.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/shared/styles/my-entry.component.scss
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.ts
  src/app/user-page/user-page.component.html
Due: prettier --write, eslint --fix

add mime bundle output component
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-mime-bundle-output.component.html
  src/app/notebook/notebook-mime-bundle-output.component.ts
  src/app/shared/modules/workflow.module.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

add basic implementation of markdown component
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-markdown.component.html
  src/app/notebook/notebook-markdown.component.ts
  src/app/shared/modules/workflow.module.ts
Due: prettier --write, eslint --fix

add rough implementation of source component
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/formatted-notebook.component.ts
  src/app/notebook/notebook-source.component.html
  src/app/notebook/notebook-source.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
  src/app/shared/modules/workflow.module.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Update search page to use all_authors
  package.json
  src/app/search/facet-search/facet-search.pipe.spec.ts
  src/app/search/facet-search/facet-search.pipe.ts
  src/app/search/map-friendly-values.pipe.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-authors-html.pipe.spec.ts
  src/app/search/search-authors-html.pipe.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/shared/pipe/pipe.module.ts
Due: prettier --write, eslint --fix

removed slice
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

move helper functions to separate file
  src/app/notebook/helpers.ts
  src/app/notebook/notebook-markdown.component.ts
  src/app/notebook/notebook-mime-bundle-output.component.ts
Due: prettier --write, eslint --fix

sanitize mathjax output
  src/app/notebook/notebook-markdown.component.ts
Due: prettier --write, eslint --fix

improve code
  src/app/notebook/notebook-markdown.component.ts
Due: prettier --write, eslint --fix

supply language to syntax highlighter
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-source.component.ts
Due: prettier --write, eslint --fix

add stream output component, fix join-related bugs
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-mime-bundle-output.component.html
  src/app/notebook/notebook-source.component.html
  src/app/notebook/notebook-source.component.ts
  src/app/notebook/notebook-stream-output.component.html
  src/app/notebook/notebook-stream-output.component.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.ts
  src/app/shared/modules/workflow.module.ts
Due: prettier --write, eslint --fix

rejigger control logic
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-markdown.component.html
  src/app/notebook/notebook-mime-bundle-output.component.html
  src/app/notebook/notebook-source.component.html
  src/app/notebook/notebook-source.component.ts
  src/app/notebook/notebook-stream-output.component.html
Due: prettier --write, eslint --fix

rejigger control logic moar
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-display-contents.scss
  src/app/notebook/notebook-markdown.component.ts
  src/app/notebook/notebook-mime-bundle-output.component.ts
  src/app/notebook/notebook-source.component.ts
  src/app/notebook/notebook-stream-output.component.ts
Due: prettier --write, eslint --fix

shuffle css classes, only <pre> text output, fix spurious mathjax css
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/notebook-display-contents.scss
  src/app/notebook/notebook-markdown.component.html
  src/app/notebook/notebook-markdown.component.ts
  src/app/notebook/notebook-mime-bundle-output.component.html
  src/app/notebook/notebook-mime-bundle-output.component.ts
  src/app/notebook/notebook-source.component.html
  src/app/notebook/notebook-source.component.ts
  src/app/notebook/notebook-stream-output.component.html
  src/app/notebook/notebook-stream-output.component.ts
Due: prettier --write, eslint --fix

started tab
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Fix tests
  package.json
  src/app/search/search.module.ts
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

remove obsolete code from formatted notebook component
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

moved pipe
  src/app/shared/entry/base-url.pipe.spec.ts
  src/app/shared/entry/base-url.pipe.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.spec.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

make more robust, add comment
  src/app/notebook/formatted-notebook.component.html
  src/app/notebook/formatted-notebook.component.ts
Due: prettier --write, eslint --fix

remove some xtra divs
  src/app/notebook/notebook-markdown.component.ts
  src/app/notebook/notebook-source.component.html
  src/app/notebook/notebook-stream-output.component.html
Due: prettier --write, eslint --fix

removed debug line
  src/app/shared/entry/base-url.pipe.ts
Due: prettier --write, eslint --fix

support hidden source and outputs
  src/app/notebook/formatted-notebook.component.html
Due: prettier --write

changed parameter to optional
  src/app/shared/entry/base-url.pipe.spec.ts
  src/app/shared/entry/base-url.pipe.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.component.spec.ts
Due: prettier --write, eslint --fix
