Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

keep original url during 404, remove getPageIndex
  src/app/container/container.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

extend 404 condition to all base routes (ex. /notebooks, /services, /apptools)
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

test page not found from different routes
  cypress/e2e/immutableDatabaseTests/notfound.ts
Due: prettier --write, eslint --fix

[skip ci]
  angular.json
  src/app/docs/docs.component.spec.ts
  src/app/organizations/organization/organization-starring/organization-starring.module.ts
  src/tsconfig.spec.json
Due: prettier --write, eslint --fix

remove regex variables from error condition
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

remove format column from services
  src/app/workflows/list/list.component.ts
Due: prettier --write, eslint --fix

Unit tests working, see how integ tests are.
  angular.json
  src/app/docs/docs.component.spec.ts
  src/app/file-tree/file-tree.component.spec.ts
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.service.spec.ts
  src/app/funding/funding.component.spec.ts
  src/app/home-page/widget/news-box/news-box.component.spec.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.spec.ts
  src/app/organizations/organization/organization-starring/organization-starring.component.spec.ts
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.spec.ts
  src/app/starring/starring.component.spec.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.spec.ts
  src/tsconfig.spec.json
Due: prettier --write, eslint --fix

simplify decodeURL
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

add test
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

DOCK-984: Remove "Format" column from Services table (#1933)
  cypress/e2e/immutableDatabaseTests/services.ts
  src/app/workflows/list/list.component.ts
Due: prettier --write, eslint --fix

Anchor does not have disabled attribute, change to button.
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

Fix error
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

Handle changed element.
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Downgrade ngx-mat-select-search to use legacy select.
  package-lock.json
  package.json
Due: none

And of course I forgot this step.
  THIRD-PARTY-LICENSES.csv
Due: none

Display warning
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

pr feedback
  cypress/e2e/immutableDatabaseTests/notfound.ts
  src/app/container/container.component.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.ts
  src/app/shared/entry.ts
  src/app/shared/url-resolver.service.ts
  src/app/user-page/user-page.component.ts
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Rollback to es2020
  tsconfig.json
Due: none

url resolver: make public, include in unit tests
  src/app/organizations/organization/state/update-organization-description.service.spec.ts
  src/app/organizations/state/collections.service.spec.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization.service.spec.ts
  src/app/organizations/state/organization.service.ts
  src/app/organizations/state/register-organization.service.spec.ts
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

Dynamic landing page
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/tool-file-editor/tool-file-editor.component.html
  src/app/github-callback/github-callback.service.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/code-editor/code-editor.component.ts
  src/app/shared/files.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/session/session.query.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.html
  src/app/workflow/workflow.component.html
  src/assets/text/sample-notebook-dockstore.yml
  src/assets/text/sample-service-dockstore.yml
  src/assets/text/sample-tool-dockstore.yml
  src/assets/text/sample-workflow-dockstore.yml
Due: prettier --write, eslint --fix

Pin chrome version
  .circleci/config.yml
Due: none

Try this
  .circleci/config.yml
Due: none

revert test error
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

try to pass tests
  .circleci/config.yml
Due: none

increase boost on path and category matches
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

bump browser-tools version
  .circleci/config.yml
Due: none

tweak search relevance
  .circleci/config.yml
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

Copy browser tools fix
  .circleci/config.yml
Due: none

Revert "Copy browser tools fix"
  .circleci/config.yml
Due: none

Copy the other browser tools fix
  .circleci/config.yml
Due: none

ChromeDriver Fix (#1937)
  .circleci/config.yml
Due: none

Run 1.16.0 migrations
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

Remove author
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

Fix test
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

remove comment of deleted function
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

Use Java 21 image
  .circleci/config.yml
Due: none

Update artifacts
  package.json
Due: none

Revert "Use Java 21 image"
  .circleci/config.yml
Due: none
