Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

do not update facets on new "Sort by" search order
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

fix occasionally-truncated "Source Code" link
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write

do not update facets when "Sort by" search order changes
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

include execution count in search cards
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

sort by new relevance measure, do not sort archived entries last in most cases
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

add "Archived" bubble to search results
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.html
Due: prettier --write, eslint --fix

do not use same y axis for all thumbnail graphs in search
  src/app/search/search-entry-table.component.html
  src/app/search/state/search.service.ts
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

reorder classes
  src/app/search/search-entry-table.component.html
Due: prettier --write

apply robolint advice
  src/app/workflow/versions/versions.component.html
Due: prettier --write

add "Archived" bubble to archived search results
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.html
Due: prettier --write, eslint --fix

do not use same Y axis for all thumbnail execution count graphs in Search results
  src/app/search/search-entry-table.component.html
  src/app/search/state/search.service.ts
  src/app/shared/graphs/thumbnail-time-series-graph.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

fix comment
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

sort by new measure of "Relevance"
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

test with rc
  package.json
Due: none

add explainer
  src/app/search/search-entry-table.component.html
Due: prettier --write

tweak text
  src/app/search/search-entry-table.component.html
Due: prettier --write

add relevance explainer (#2171)
  src/app/search/search-entry-table.component.html
Due: prettier --write

iterate and test
  package.json
Due: none

add "relevance" as a secondary search criteria to other "Sort by" orders
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

add "relevance" as a secondary search criteria for other "Sort by" orders
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

clear hits on init
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

fix unit tests
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

fix flash of stale search results
  src/app/search/search.component.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

test this
  package.json
Due: none

test java 21 (#2180)
  package.json
Due: none

add chart update() on afterViewInit
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

add comment
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

update pipx link
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

add check for topic length
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/state/register-organization.service.ts
Due: prettier --write, eslint --fix

formatting
  src/app/organizations/state/register-organization.service.ts
Due: prettier --write, eslint --fix

fix blank metrics charts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

upgrades
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

add check for topic length (#2192)
  src/app/organizations/registerOrganization/register-organization.component.html
  src/app/organizations/state/register-organization.service.ts
Due: prettier --write, eslint --fix

upgrades for Java 21 (#2193)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

topic length for collection
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/collections/state/create-collection.service.ts
Due: prettier --write, eslint --fix

Flaky UI Test fix 2 (#2053)
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

MVP, PKCE working from account linking page only
  scripts/generate-openapi-script.sh
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/loginComponents/accounts/external/accounts.service.ts
  src/app/loginComponents/auth/auth.component.ts
  src/app/shared/my-entry.ts
  src/app/shared/state/token.service.ts
Due: prettier --write, eslint --fix

add working pkce in my tools, my workflows
  src/app/loginComponents/accounts/external/accounts.component.ts
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/my-entry.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
