Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add img alt attributes
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

improve search result presentation
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.scss
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.component.scss
  src/app/shared/styles/entry-table.scss
  src/styles.scss
Due: prettier --write, eslint --fix

fix regex
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Jupyter.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
Due: prettier --write, eslint --fix

fix test
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

added $
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

added $
  src/app/descriptor-languages/CWL.ts
Due: prettier --write, eslint --fix

DOCK-2533-followup: Fix regex in Register Workflow dialog (#2028)
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Jupyter.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

link "ai bubble" to FAQ AI policy section
  src/app/shared/ai-bubble/ai-bubble.component.html
Due: prettier --write

fix complex OR search queries
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

restructure
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

fix faceted search for complex queries involving ORs
  src/app/search/query-builder.service.ts
  src/app/shared/ai-bubble/ai-bubble.component.html
Due: prettier --write, eslint --fix

test
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

fix bug
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Bump version
  package.json
Due: none

fix trs id copy button bug
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Remove AI topic tooltip in search
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

Not just workflows
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

use new metadat trdId field
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Remove ai tooltip (#2036)
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

gah
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

revert
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

fix TRS ID "copy button" bug
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Don't truncate topics on search page, move AI bubble
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/styles/entry-table.scss
Due: prettier --write

Display same DOI icon on public page
  src/app/workflow/versions/versions.component.html
Due: prettier --write

test
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

fix pagination
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Don't truncate topics on search page, move AI bubble (#2037)
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/styles/entry-table.scss
Due: prettier --write

Try electron browser
  .circleci/config.yml
Due: none

Revert "Try electron browser"
  .circleci/config.yml
Due: none

Display same DOI icon on public Versions tab (#2038)
  src/app/workflow/versions/versions.component.html
Due: prettier --write

Typo in landing page
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

fix launch-with button "has no content" bug
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

add WorkflowStubService methods
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

implement sorting
  src/app/workflow/versions/versions-datasource.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Typo in landing page (#2039)
  src/app/home-page/home-logged-out/home.component.html
Due: prettier --write

fix launch-with button "has no content" bug
  src/app/test/service-stubs.ts
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

implement sorting
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

test with final release
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
