Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Changed the line changed in previous commit.
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Changed timeout
  .circleci/config.yml
Due: none

Added npx browserslist@latest --update-db to command
  .circleci/config.yml
Due: none

Changed job running
  .circleci/config.yml
Due: none

Changed baseurl to localhost
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Undid most changes to config.yml
  .circleci/config.yml
Due: none

Updated package.json
  package.json
Due: none

Removed slack notification
  .circleci/config.yml
Due: none

Changed $el.text().trim() to $el.text().trim().split(' ')[0]
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Updated files
  package.json
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
Due: prettier --write

Updated config.yml
  .circleci/config.yml
Due: none

Reset smokeTests/sharedTests/basic-enduser.ts
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Created basic-enduser.ts that it only tests the Galaxy workflows.
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Modified config.yml to run nightly_no_auth_tests
  .circleci/config.yml
Due: none

Resetting config.yml
  .circleci/config.yml
Due: none

Made it so basic-enduser.ts ensures that cy.get('[data-cy=multiCloudLaunchOption]') contains atleast one element and that one of those elements is galaxy.org
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Running tests on dev.dockstore.net
  .circleci/config.yml
Due: none

undoing changes to config.yml
  .circleci/config.yml
Due: none

Changed galaxy.org to usegalaxy.org
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Removed slack notifications and made nightly_no_auth tests run
  .circleci/config.yml
Due: none

Restored config.yml
  .circleci/config.yml
Due: none

Changed http://orange:4200 to http://localhost:4200
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Removed unused function parameter "index"
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Removed unused import
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Corrected change made for testing purposes
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Made it so no_auth tests run
  .circleci/config.yml
Due: none

Added comments explaining which code will have to be moved to ../sharedTests/basic-enduser.ts when 1.13 is deployed
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

Attempt to run pa11y-ci
  .circleci/config.yml
Due: none

Added .pa11yci file
  .pa11yci
Due: none

Removed bash -i -c "
  .circleci/config.yml
Due: none

Changed pa11y-ci command
  .circleci/config.yml
Due: none

get organizations
  src/app/home-page/state/recent-events.service.ts
  src/app/home-page/widget/organization-box/organization-box.component.html
  src/app/home-page/widget/organization-box/organization-box.component.ts
Due: prettier --write, eslint --fix

Show all GitHub orgs you have access to, even if there are no entries (#1583)
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/myworkflows/myworkflows.service.spec.ts
  src/app/myworkflows/myworkflows.service.ts
  src/app/shared/myentries.service.ts
  src/app/shared/state/token.query.ts
  src/app/shared/state/token.service.ts
  src/app/shared/state/token.store.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Galaxy Launch Button Test (#1586)
  cypress/integration/smokeTests/devOnly/basic-enduser.ts
Due: prettier --write, eslint --fix

what if no email (#1585)
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.ts
  src/app/organizations/organization/organization-stargazers/organization-stargazers.component.ts
  src/app/shared/user/user.service.ts
  src/app/stargazers/stargazers.component.ts
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

add buttons
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.html
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.ts
  src/app/workflow/launch/launch.component.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
