Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Update downloadcliclient.component.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Typo fix in downloadcliclient.component.ts (#2247)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

test with final webservice
  package.json
Due: none

use lastest version of node 18
  .nvmrc
Due: none

small inconsequential change
  README.md
Due: none

adjust packages that require angular 19
  package-lock.json
  package.json
Due: none

regenerate license file
  THIRD-PARTY-LICENSES.csv
Due: none

bust cache
  package-lock.json
Due: none

regenerate license file using ndoe 20
  THIRD-PARTY-LICENSES.csv
  package-lock.json
Due: none

bump typescript version
  package-lock.json
  package.json
Due: none

fix tests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/group3/mytools.ts
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write, eslint --fix

attempt to fix tests
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

update angular-eslint
  package-lock.json
  package.json
Due: none

remove `this.` in templates
  src/app/container/info-tab/info-tab.component.html
  src/app/container/versions/versions.component.html
  src/app/github-landing-page/dockstore-yml-generator.component.html
  src/app/search/basic-search/basic-search.component.html
  src/app/search/search-entry-table.component.html
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch-third-party/multi-cloud-launch/multi-cloud-launch.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

allow publishing
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

account for empty array
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

fix test
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

Pin to major version only
  .github/workflows/codeql.yml
Due: none

update angular core/cli/material to version 20
  angular.json
  package-lock.json
  package.json
  src/_functions.scss
  src/_material-overrides.scss
  src/app/footer/footer.component.scss
  src/app/search/search.component.scss
  src/app/source-file-tabs/source-file-tabs.component.scss
  src/app/workflow/dag/state/dag.service.ts
  src/ds-style-fix.scss
  src/styles.scss
  tsconfig.json
Due: prettier --write, eslint --fix

update license file
  THIRD-PARTY-LICENSES.csv
Due: none

fix marked-related issues
  angular.json
  src/app/shared/markdown-wrapper/markdown-wrapper.component.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.spec.ts
Due: prettier --write, eslint --fix

upgrade angular-eslint to version 20
  .eslintrc.json
  package-lock.json
  package.json
Due: none

bump to node 22
  .nvmrc
  package-lock.json
  package.json
Due: none

SEAB-7672: Upgrade to Angular 20 (#2268)
  .eslintrc.json
  .nvmrc
  THIRD-PARTY-LICENSES.csv
  angular.json
  package-lock.json
  package.json
  src/_functions.scss
  src/_material-overrides.scss
  src/app/footer/footer.component.scss
  src/app/search/search.component.scss
  src/app/shared/markdown-wrapper/markdown-wrapper.component.spec.ts
  src/app/shared/markdown-wrapper/markdown-wrapper.service.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.scss
  src/app/workflow/dag/state/dag.service.ts
  src/ds-style-fix.scss
  src/styles.scss
  tsconfig.json
Due: prettier --write, eslint --fix

sucky but seems to work, there should be a better way
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

A little better
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

a little better
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

fix event type issue
  src/app/workflow/dag/dag.component.ts
Due: prettier --write, eslint --fix

fix bug in textarea indent
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.html
Due: prettier --write

bump some packages, regenerate package-lock.json, license file
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

add missing ace-related file copy
  angular.json
Due: none

upgrade material to 21
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

bump angular-eslint to 21
  package-lock.json
  package.json
Due: none

fix "grey box" bug in category bubbles
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
Due: prettier --write

fix linting
  package-lock.json
  package.json
  src/app/home-page/recent-events/recent-events.component.html
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

fix test
  cypress/e2e/immutableDatabaseTests/searchTable.ts
Due: prettier --write, eslint --fix

fix test again
  cypress/e2e/immutableDatabaseTests/searchTable.ts
Due: prettier --write, eslint --fix
