Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix mathjax notebooks font url
  .circleci/config.yml
  src/app/notebook/mathjax-config.js
Due: prettier --write

fixed sonarcloud code smell
  src/app/workflow/dag/state/dag.service.ts
Due: prettier --write, eslint --fix

pr review changes
  src/app/workflow/dag/state/dag.service.ts
Due: prettier --write, eslint --fix

add rough handling for nbformat < 4
  src/app/notebook/notebook-types.ts
  src/app/notebook/notebook.component.ts
Due: prettier --write, eslint --fix

remap rich outputs to mime bundle, improve code
  src/app/notebook/notebook-types.ts
  src/app/notebook/notebook.component.ts
Due: prettier --write, eslint --fix

tweak comment
  src/app/notebook/notebook.component.ts
Due: prettier --write, eslint --fix

add unit test
  src/app/notebook/notebook.component.spec.ts
  src/app/notebook/notebook.component.ts
Due: prettier --write, eslint --fix

fix bug-esque code
  src/app/notebook/notebook.component.ts
Due: prettier --write, eslint --fix

removed checkUser function in UI
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

first rev
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

improve
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

page not found redirect
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

make all "launch with' tooltips appear to the left
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

add correct MyBinder invocation
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

improve launch url construction
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

comment update
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

display Jupyter notebooks with nbformat < 4
  src/app/notebook/notebook.component.spec.ts
  src/app/notebook/notebook.component.ts
Due: prettier --write, eslint --fix

string edit
  src/app/workflow/dag/state/dag.service.ts
Due: prettier --write, eslint --fix

DOCK-2383: removed checkUserExists function to allow unauthorized users to view user pages (#1772)
  src/app/user-page/user-page.component.ts
Due: prettier --write, eslint --fix

DOCK-2365: Removing DAG node tooltips from being stuck on footer (#1770)
  src/app/workflow/dag/state/dag.service.ts
Due: prettier --write, eslint --fix

added notebook count bubble w feature flag
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.ts
Due: prettier --write, eslint --fix

added warning banner;
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
Due: prettier --write, eslint --fix

added test
  cypress/e2e/group2/organizations.ts
  src/app/organizations/collections/collections.component.html
Due: prettier --write, eslint --fix

banner
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/collections.component.ts
Due: prettier --write, eslint --fix

added feature flag
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/organization.module.ts
  src/app/organizations/organization/organization.component.html
  src/app/organizations/organization/organization.component.ts
Due: prettier --write, eslint --fix

Minor wording changes for GH App registration
  src/app/container/register-tool/register-tool.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

use colab/mybinder urls from webservice config
  package.json
  src/app/configuration.service.ts
  src/app/shared/dockstore.model.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write, eslint --fix

PR feedback + missed a spot
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

Try installing jre
  .circleci/config.yml
Due: none

Fix test
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Reword so it's less ambiguous
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

Update test
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

edit preview
  src/app/organizations/collection/collection.component.html
Due: prettier --write

stub fix
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
