Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

add cypress test
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/navbar/navbar.component.scss
Due: prettier --write, eslint --fix

add link to organization events
  src/app/organizations/events.module.ts
  src/app/organizations/events/events.component.html
Due: prettier --write, eslint --fix

check java and node versions
  .circleci/config.yml
Due: none

change button on account page
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
Due: prettier --write, eslint --fix

check java home
  .circleci/config.yml
Due: none

use displayAppTool instead
  src/app/container/container.component.html
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

check path
  .circleci/config.yml
Due: none

try adding java to path
  .circleci/config.yml
Due: none

don't set display to true
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

switch to sonarscanner 5.0.1
  .circleci/config.yml
Due: none

undo
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

SEAB-3959: Set up coverage in SonarCloud for dockstore-ui2 project (#1798)
  .circleci/config.yml
  sonar-project.properties
Due: none

DOCK-2439: Add links to user profile (#1833)
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.html
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.component.scss
  src/app/loginComponents/accounts/account-sidebar/account-sidebar.module.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
  src/app/organizations/events.module.ts
  src/app/organizations/events/events.component.html
Due: prettier --write, eslint --fix

try java image to fix missing node
  .circleci/config.yml
Due: none

sonarcloud context in wrong location
  .circleci/config.yml
Due: none

rename template to appTool
  src/app/container/container.component.html
Due: prettier --write

DOCK-2406: Remove failing request on tool page (#1809)
  src/app/container/container.component.html
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

SEAB-5808: Upgrade sonarscanner to 5.0.1 (#1835)
  .circleci/config.yml
  sonar-project.properties
Due: none

enable wrapping in code editor
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

enable wrapping in code editor (#1836)
  src/app/shared/code-editor/code-editor.component.ts
Due: prettier --write, eslint --fix

initial hack
  angular.json
  src/app/home-page/home-logged-out/home.component.html
  src/app/shared/twitter.service.ts
  src/assets/mastodon-timeline.css
  src/assets/mastodon-timeline.js
Due: prettier --write, eslint --fix

need help, partially functional
  angular.json
  src/app/footer/footer.component.html
  src/app/home-page/dashboard/dashboard.component.html
  src/app/home-page/home-logged-out/home.component.html
  src/app/shared/twitter.service.ts
  src/assets/images/dockstore/mastodon.svg
  src/assets/mastodon-timeline.js
Due: prettier --write, eslint --fix

See https://github.com/CircleCI-Public/browser-tools-orb/issues/90
  .circleci/config.yml
Due: none

wrong place
  .circleci/config.yml
Due: none

Fix ChromeDriver install (#1839)
  .circleci/config.yml
Due: none

SEAB-5808: Upgrade sonarscanner to 5.0.1 (#1835)
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

SEAB-5808: Upgrade sonarscanner to 5.0.1 (#1835) (#1842)
  .circleci/config.yml
Due: none

Update Mac OS instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Bare minimum update (brew version tested by me)
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

Reorganize install instructions
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

rm "dependencies", fix "setup", clarify CLI is optional
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/loginComponents/onboarding/onboarding.component.html
Due: prettier --write, eslint --fix

Update expired artifacts.
  package.json
Due: none

Update expired artifacts (#1844)
  package.json
Due: none

Display cost with 2 decimal places
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

dummy commit
  README.md
Due: none
