Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

changes following review
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
Due: prettier --write

changes following review
  src/app/navbar/navbar.component.scss
Due: prettier --write

changes following review
  src/app/navbar/navbar.component.html
Due: prettier --write

UI Relying on Beta TRS API - Dock-2300 (#1684)
  src/app/app.module.ts
  src/app/banner/banner.component.spec.ts
  src/app/banner/banner.component.ts
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.component.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.spec.ts
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  src/app/metadata/metadata.service.spec.ts
  src/app/metadata/metadata.service.ts
  src/app/service-info/service-info.service.spec.ts
  src/app/service-info/service-info.service.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Updated BDC text logos
  src/assets/images/home/diagram-launch-with.png
  src/assets/images/sponsors/BDCatalyst-text-generated.png
Due: none

convert px to rem
  src/app/footer/footer.component.scss
Due: prettier --write

Updated BDC launch with button and language use
  src/app/funding/funding.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
Due: prettier --write, eslint --fix

fix height of tos banner mobile (#1686)
  src/app/changeUsernameBanner/changeUsernameBanner.component.html
  src/app/tosBanner/tos-banner.component.html
  src/styles.scss
Due: prettier --write

changed test to comply with cypress 12
  cypress/e2e/immutableDatabaseTests/dropdown.ts
Due: prettier --write, eslint --fix

fixed test
  cypress/e2e/immutableDatabaseTests/dropdown.ts
Due: prettier --write, eslint --fix

typo
  cypress/e2e/immutableDatabaseTests/dropdown.ts
Due: prettier --write, eslint --fix

fixed bug in test
  cypress/e2e/immutableDatabaseTests/dropdown.ts
Due: prettier --write, eslint --fix

Fix assorted Cypress 12 issues
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/e2e/immutableDatabaseTests/toolsSearch.ts
  cypress/e2e/immutableDatabaseTests/workflowsSearch.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/monitor.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

Upgrade to Cypress 12
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Update license file
  THIRD-PARTY-LICENSES.csv
Due: none

Is this everything?
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Get auth smoke tests running!
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Restore individual org tests
  cypress/e2e/group2/organizations.ts
Due: prettier --write, eslint --fix

More Cypress 12 fixing.
  cypress/e2e/group1/revokeDockstoreToken.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notificationBadge.ts
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Fix some of the workflow tests
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

A wing and a prayer
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Whoops
  scripts/run-webservice-script.sh
Due: none

Organization working; cut down wait time
  cypress.config.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  scripts/run-webservice-script.sh
Due: prettier --write, eslint --fix

DOCK-2290: updated navbar dropdown (#1685)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/mytools.ts
  cypress/e2e/group3/starEntry.ts
  cypress/e2e/immutableDatabaseTests/admin.ts
  cypress/e2e/immutableDatabaseTests/app-spec.ts
  cypress/e2e/immutableDatabaseTests/curator.ts
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/navbar/navbar.component.html
  src/app/navbar/navbar.component.scss
Due: prettier --write, eslint --fix

Try to fix a test.
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Updated UCSCGI and BDC Logos - DOCK-2204/2291 (#1687)
  src/app/footer/footer.component.scss
  src/app/footer/footer.component.ts
  src/app/funding/funding.component.ts
  src/app/workflow/launch-third-party/launch-third-party.component.html
  src/app/workflow/launch-third-party/launch-third-party.component.ts
  src/assets/images/home/diagram-launch-with.png
  src/assets/images/sponsors/BDCatalyst-text-generated.png
  src/assets/images/sponsors/coloured/ucsc.png
  src/assets/images/sponsors/non-coloured/ucsc.png
  src/assets/images/sponsors/non-coloured/ucsc.svg
Due: prettier --write, eslint --fix

[ImgBot] Optimize images
  src/assets/images/home/diagram-launch-with.png
  src/assets/images/sponsors/BDCatalyst-text-generated.png
  src/assets/images/sponsors/coloured/nf-tower-purple.svg
  src/assets/images/sponsors/coloured/ucsc.png
Due: none

update references to java (linux)
  src/app/home-page/home-logged-out/home.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

created notebooks page and added to sitemap
  cypress/support/commands.ts
  package.json
  scripts/generate-openapi-script.sh
  scripts/run-webservice-script.sh
  src/app/app.routing.ts
  src/app/shared/enum/entry-type.ts
  src/app/sitemap/sitemap.component.html
  src/app/workflows/list/published-workflows.datasource.ts
  src/app/workflows/notebooks/notebooks.module.ts
  src/app/workflows/notebooks/notebooks.routing.ts
  src/app/workflows/workflows.component.html
  test/web.yml
Due: prettier --write, eslint --fix

Delete generate-openapi-script.sh
  scripts/generate-openapi-script.sh
Due: none

created notebooks page and added to sitemap
  src/app/app.routing.ts
  src/app/shared/enum/entry-type.ts
  src/app/sitemap/sitemap.component.html
  src/app/workflows/list/published-workflows.datasource.ts
  src/app/workflows/workflows.component.html
Due: prettier --write, eslint --fix

update readme
  README.md
Due: none

added tests
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/titleTag.ts
Due: prettier --write, eslint --fix

added test
  cypress/e2e/immutableDatabaseTests/notebooks.ts
Due: prettier --write, eslint --fix

Upgrade to Cypress 12 (#1688)
  THIRD-PARTY-LICENSES.csv
  cypress.config.ts
  cypress/e2e/group1/revokeDockstoreToken.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notificationBadge.ts
  cypress/e2e/group2/organizations.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/e2e/immutableDatabaseTests/toolsSearch.ts
  cypress/e2e/immutableDatabaseTests/workflowsSearch.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/monitor.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

update references to java (linux) (#1690)
  README.md
  src/app/home-page/home-logged-out/home.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

edit source code to link to primary descriptor
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

added new files
  src/app/workflows/notebooks/notebooks.module.ts
  src/app/workflows/notebooks/notebooks.routing.ts
Due: prettier --write, eslint --fix

edited test
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix
