Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

SEAB-6341: Add Metrics type icons in versions tab (#2048)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/metrics.ts
  cypress/fixtures/versionAfterOrcidExport.json
  cypress/fixtures/versionWithMetrics.json
  src/app/workflow/versions/versions-datasource.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/assets/svg/execution-icon.svg
  src/assets/svg/validation-icon.svg
Due: prettier --write, eslint --fix

Simplify by using EntryType
  cypress/e2e/smokeTests/sharedTests/search.ts
  src/app/search/query-builder.service.spec.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.scss
  src/app/search/search-entry-table.component.spec.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.scss
  src/app/search/search-notebook-table/search-notebook-table.component.spec.ts
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.spec.ts
  src/app/search/search-results/search-results.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.scss
  src/app/search/search-tool-table/search-tool-table.component.spec.ts
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.scss
  src/app/search/search-workflow-table/search-workflow-table.component.spec.ts
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.spec.ts
  src/app/search/state/search.query.ts
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/search/state/search.store.ts
Due: prettier --write, eslint --fix

Add entryTypeMetadata to search hits in tests
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/searchTableResponse.json
  src/app/test/mocked-objects.ts
Due: prettier --write, eslint --fix

Fix tests
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  src/app/search/search-entry-table.component.html
Due: prettier --write, eslint --fix

remove redundant dropdown
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group3/mytools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write, eslint --fix

Fix test
  src/app/search/search-entry-table.component.html
Due: prettier --write

Fix smoke tests
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Fix smoke test again
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  src/app/search/search-entry-table.component.html
Due: prettier --write, eslint --fix

Add categories
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

Match collection card to search card style
  src/app/organizations/collection/collection.component.html
Due: prettier --write

test
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

test fix
  cypress/e2e/group3/mytools.ts
Due: prettier --write, eslint --fix

test fix
  cypress/e2e/group3/mytools.ts
  cypress/fixtures/myTools.json
Due: prettier --write, eslint --fix

PR feedback
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.scss
  src/app/search/search-entry-table.component.ts
  src/app/shared/styles/entry-table.scss
Due: prettier --write, eslint --fix

SEAB-6840: remove redundant "More" dropdown (#2054)
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group3/mytools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write, eslint --fix

Fix notebook histogram color
  src/app/search/get-histogram-style.pipe.ts
Due: prettier --write, eslint --fix

Update copyright
  src/app/search/search-entry-table.component.scss
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

Sonarcloud fixes
  src/app/search/get-histogram-style.pipe.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/search/search-results/search-results.component.ts
Due: prettier --write, eslint --fix

Display search results as cards (#2055)
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/e2e/smokeTests/sharedTests/search.ts
  cypress/fixtures/searchTableResponse.json
  src/app/organizations/collection/collection.component.html
  src/app/search/get-histogram-style.pipe.ts
  src/app/search/query-builder.service.spec.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.scss
  src/app/search/search-entry-table.component.spec.ts
  src/app/search/search-entry-table.component.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.scss
  src/app/search/search-notebook-table/search-notebook-table.component.spec.ts
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.scss
  src/app/search/search-results/search-results.component.spec.ts
  src/app/search/search-results/search-results.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.scss
  src/app/search/search-tool-table/search-tool-table.component.spec.ts
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.scss
  src/app/search/search-workflow-table/search-workflow-table.component.spec.ts
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/search/search.component.html
  src/app/search/search.component.spec.ts
  src/app/search/state/search.query.ts
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/search/state/search.store.ts
  src/app/shared/entry-to-display-name.pipe.ts
  src/app/test/mocked-objects.ts
  src/styles.scss
Due: prettier --write, eslint --fix

add toil to enum
  src/app/shared/entry/platform-partner.pipe.ts
Due: prettier --write, eslint --fix

Add opt out toggle for legacy and hosted workflows
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.ts
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.service.ts
Due: prettier --write, eslint --fix

Clean up
  src/app/shared/entry/doi/manage-dois/manage-dois-dialog.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

webservice version
  package.json
Due: none

oops
  package.json
Due: none
