Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

More tracking
  src/app/loginComponents/requests/requests.component.html
  src/app/loginComponents/requests/requests.component.ts
Due: prettier --write, eslint --fix

More tracking plus a wait.
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  src/app/loginComponents/requests/requests.component.html
  src/app/loginComponents/requests/requests.component.ts
Due: prettier --write, eslint --fix

Get auth smoke tests passing on QA
  cypress.config.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

This seems to help locally, but not 100% foolproof.
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

More tracking again
  package.json
  src/app/loginComponents/requests/requests.component.html
  src/app/loginComponents/requests/requests.component.ts
Due: prettier --write, eslint --fix

Whoops, undo
  package.json
Due: none

Whoops, undo, again
  cypress.config.ts
  package.json
Due: eslint --fix

Sigh
  package.json
Due: none

Noticed it was getting reset after failure
  .circleci/config.yml
Due: none

Be extra safe
  .circleci/config.yml
Due: none

Smoke Tests fixes (#2021)
  .circleci/config.yml
  cypress.config.ts
  cypress/e2e/group3/githubAppTools.ts
  cypress/e2e/immutableDatabaseTests/dropdown.ts
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
  src/app/loginComponents/requests/requests.component.html
  src/app/loginComponents/requests/requests.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

initial
  src/app/shared/state/paginator.service.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

initial
  src/app/shared/state/paginator.query.ts
  src/app/shared/state/paginator.service.ts
  src/app/shared/state/paginator.store.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

adjust for auto-doi generation
  cypress/e2e/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

adjust DescriptorLanguageService for notebooks
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

remove unused fields
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

tweak
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

fix/adjust tests
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

remove unused method
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

implement header for total number of versions
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

remove "Jupyter" from workflow-related UI
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

tweak hits line-height and topic font-size
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.component.scss
Due: prettier --write

make topic size changes to all types of entry search results
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

remove verified column from search results, narrow descriptorTypeSubclass width
  src/app/search/search-entry-table.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search.component.scss
  src/app/shared/styles/entry-table.scss
Due: prettier --write, eslint --fix

truncate topic at 3 lines
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

make authors justify vertically correctly
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

shrink author column
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/styles/entry-table.scss
Due: prettier --write

add workflow icon before hit
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

remove search Links column
  src/app/search/search-entry-table.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write, eslint --fix

change icon spacing, use "small icon" class
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/styles.scss
Due: prettier --write

remove projectlinks from search results
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.scss
  src/app/search/search-notebook-table/search-notebook-table.component.ts
Due: prettier --write, eslint --fix

propagate changes to tools and notebooks search results
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

add icons
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

change tool/notebook author truncation
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

fix occasional wrap
  src/app/search/search-tool-table/search-tool-table.component.html
Due: prettier --write

remove smoke test reference to deleted "Verified" column value
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

pr feedback
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

bug fix
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix
