Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Feature/4500/rebase launch wes tab instructions (#1480)
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
Due: prettier --write, eslint --fix

fix starred page to format apptools correctly
  src/app/starredentries/starredentries.component.html
Due: prettier --write

recent activity update for apptools and publish (#1482)
  package.json
  src/app/home-page/recent-events/recent-events.component.html
  src/app/home-page/recent-events/recent-events.component.ts
Due: prettier --write, eslint --fix

Added tests to stages [skip-ci]
  .circleci/config.yml
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Add tokens for each stage
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Temporarily stopping prod smoke tests
  .circleci/config.yml
Due: none

bump artifacts
  package.json
  scripts/run-webservice-script.sh
Due: none

Use release branch CircleCI artifacts
  package.json
Due: none

Add my-sidebar to home page and header update
  src/app/header/header.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-page.module.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/my-sidebar/my-sidebar.component.scss
  src/app/shared/modules/my-sidebar.module.ts
  src/app/starredentries/starredentries.component.html
Due: prettier --write, eslint --fix

Fix null OrcidAuthor errors (#1475)
  package.json
  scripts/run-webservice-script.sh
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Start of My Sidebar Implementation (#1479)
  package.json
  scripts/run-webservice-script.sh
  src/app/app.module.ts
  src/app/container/container.component.html
  src/app/header/header.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/home-page/home-page.module.ts
  src/app/loginComponents/accounts/accounts.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/my-sidebar/my-sidebar.component.html
  src/app/my-sidebar/my-sidebar.component.scss
  src/app/my-sidebar/my-sidebar.component.spec.ts
  src/app/my-sidebar/my-sidebar.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/mytools.module.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/shared/modules/my-sidebar.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/shared/styles/my-entry.component.scss
  src/app/starredentries/starredentries.component.html
  src/app/starredentries/starredentries.component.scss
  src/app/starredentries/starredentries.module.ts
  src/app/workflow/workflow.component.html
  src/assets/svg/my-nav/account.svg
  src/assets/svg/my-nav/dashboard.svg
  src/assets/svg/my-nav/organization.svg
  src/assets/svg/my-nav/services.svg
  src/assets/svg/my-nav/starred.svg
  src/assets/svg/my-nav/tools.svg
  src/assets/svg/my-nav/workflows.svg
  src/styles.scss
Due: prettier --write, eslint --fix

Fixed small window layout
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
Due: prettier --write

Works, needs integration tests.
  package.json
  src/app/app.routing.ts
  src/app/entry/router-link.pipe.spec.ts
  src/app/entry/router-link.pipe.ts
  src/app/shared/modules/list-workflows.module.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/sitemap/sitemap.component.html
  src/app/test/openapi-mocked-objects.ts
  src/app/workflows/apptools/apptools.module.ts
  src/app/workflows/apptools/apptools.routing.ts
  src/app/workflows/list/list.component.html
  src/app/workflows/list/published-workflows.datasource.ts
Due: prettier --write, eslint --fix

removed duplicate selector
  src/app/home-page/home-logged-in/home-logged-in.component.scss
Due: prettier --write

Add integration test, fixing up some stuff I noticed while doing so.
  cypress/integration/group2/githubAppTools.ts
  package.json
  src/app/shared/session/session.query.ts
  src/app/workflows/list/list.component.html
  src/app/workflows/list/list.component.ts
Due: prettier --write, eslint --fix

Fix integration test
  cypress/integration/group2/githubAppTools.ts
Due: prettier --write, eslint --fix

support internal, non-consecutive dashes in collection names
  src/app/organizations/collections/state/create-collection.service.ts
Due: prettier --write, eslint --fix

change "collection name" warning message
  src/app/organizations/collections/create-collection/create-collection.component.html
Due: prettier --write

Smoke tests structure for staging and prod (#1483)
  .circleci/config.yml
  cypress/integration/smokeTests/sharedTests/auth-tests.ts
Due: prettier --write, eslint --fix

Fix Copy TRS ID
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Feature/seab 4047/published app tools (#1485)
  cypress/integration/group2/githubAppTools.ts
  package.json
  src/app/app.routing.ts
  src/app/entry/router-link.pipe.spec.ts
  src/app/entry/router-link.pipe.ts
  src/app/shared/modules/list-workflows.module.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/shared/session/session.query.ts
  src/app/sitemap/sitemap.component.html
  src/app/test/openapi-mocked-objects.ts
  src/app/workflows/apptools/apptools.module.ts
  src/app/workflows/apptools/apptools.routing.ts
  src/app/workflows/list/list.component.html
  src/app/workflows/list/list.component.ts
  src/app/workflows/list/published-workflows.datasource.ts
Due: prettier --write, eslint --fix

My Sidebar for Homepage - Fixed Small Window Layout (#1484)
  src/app/home-page/home-logged-in/home-logged-in.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
Due: prettier --write

Fix Copy TRS ID (#1487)
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.spec.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

support dashes in collection names
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/collections/state/create-collection.service.ts
Due: prettier --write, eslint --fix

that was dumb
  src/app/search/basic-search/basic-search.component.html
Due: prettier --write

Align organization members in columns and bubble style update
  src/app/organizations/events/events.component.scss
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.scss
  src/styles.scss
Due: prettier --write

Global mat-card style update, shadow cleanup and star button style update
  src/app/about/about.component.html
  src/app/container/launch/launch.component.html
  src/app/home-page/home-logged-in/home-logged-in.component.scss
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/events/events.component.html
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization/organization-starring/organization-starring.component.ts
  src/app/organizations/organizations/organizations.component.html
  src/app/search/search-results/search-results.component.scss
  src/app/search/search.component.scss
  src/app/shared/entry/launch-checker-workflow/launch-checker-workflow.component.html
  src/app/stargazers/stargazers.component.html
  src/app/starredentries/starredentries.component.html
  src/app/starring/starring.component.scss
  src/app/starring/starring.component.ts
  src/app/workflow/launch/launch.component.html
  src/materialColorScheme.scss
  src/styles.scss
Due: prettier --write, eslint --fix

Align organization members in columns and bubble style update (#1491)
  src/app/organizations/events/events.component.scss
  src/app/organizations/organization-members/organization-members.component.html
  src/app/organizations/organization-members/organization-members.component.scss
  src/styles.scss
Due: prettier --write

use functions instead of lang specific enum
  src/app/container/paramfiles/paramfiles.service.ts
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

test with release version
  package.json
Due: none

more update
  package.json
Due: none

remove more hard coded language types
  src/app/descriptor-languages/CWL.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/descriptor-languages/Nextflow.ts
  src/app/descriptor-languages/Service.ts
  src/app/descriptor-languages/Snakemake.ts
  src/app/descriptor-languages/WDL.ts
  src/app/entry/extendedDescriptorLanguage.ts
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

use primitive type
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

fix quote and extra regex start
  src/app/descriptor-languages/Nextflow.ts
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

add tests and fix tests
  src/app/shared/entry/descriptor-language.service.spec.ts
  src/app/shared/entry/descriptor-language.service.ts
Due: prettier --write, eslint --fix

fix test
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

don't wrap lines
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

fix test again
  src/app/shared/entry/descriptor-language.service.spec.ts
Due: prettier --write, eslint --fix

UI branch testing (#1494)
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
