Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

fix return type
  src/app/notebook/notebook-mime-bundle-output.component.ts
Due: prettier --write, eslint --fix

edits
  cypress/e2e/immutableDatabaseTests/metrics.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

combine "canned" and stored facet expansion info
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

adjust unit tests
  src/app/search/search.component.spec.ts
  src/app/search/state/search.service.spec.ts
  src/app/test/service-stubs.ts
Due: prettier --write, eslint --fix

Preview Warning Banner Enhancements (#1763)
  src/app/home-page/dashboard/dashboard.component.html
  src/app/navbar/navbar.component.html
  src/app/preview-warning/preview-warning.component.html
  src/app/preview-warning/preview-warning.component.ts
  src/app/search/search.component.html
  src/app/sitemap/sitemap.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflows/workflows.component.html
Due: prettier --write, eslint --fix

Minor Entry Type Changes - SEAB-5365 (#1761)
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
  src/app/workflows/workflows.component.html
  src/app/workflows/workflows.component.ts
Due: prettier --write, eslint --fix

removed unused classes in html
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Handle Long Org Member Usernames - SEAB-5361 (#1759)
  src/app/organizations/organization-members/organization-members.component.html
Due: prettier --write

minor changes
  src/app/containers/list/list.component.html
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.scss
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.scss
  src/app/shared/styles/entry-table.scss
  src/app/workflows/list/list.component.html
  src/styles.scss
Due: prettier --write

SEAB-5318: Created execution tab in UI for metrics (#1758)
  cypress/e2e/immutableDatabaseTests/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  cypress/fixtures/sampleMetrics.json
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.spec.ts
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

merge fix
  cypress/e2e/group2/notebooks.ts
Due: prettier --write, eslint --fix

change columns in notebooks search
  src/app/search/query-builder.service.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.ts
Due: prettier --write, eslint --fix

modify "listing" page for notebooks
  src/app/shared/tool-lister.ts
  src/app/workflows/list/list.component.html
  src/app/workflows/list/list.component.ts
Due: prettier --write, eslint --fix

add tag cloud
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.ts
  src/app/search/state/search.query.ts
  src/app/search/state/search.service.ts
  src/app/search/state/search.store.ts
Due: prettier --write, eslint --fix

adjust test
  src/app/search/search.component.spec.ts
Due: prettier --write, eslint --fix

& to and
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

fix some code smells
  cypress/e2e/group2/sharedWorkflows.ts
  src/app/container/container.component.html
  src/app/containers/list/published-tools.datasource.spec.ts
  src/app/organizations/collection/collection-entry-confirm-remove.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections/remove-collection/remove-collection.component.html
  src/app/shared/state/extended-workflow.service.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/starredentries/starredentries.component.ts
  src/app/workflow/versions/versions.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Minor Search UI Updates (#1764)
  src/app/containers/list/list.component.html
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.scss
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.scss
  src/app/shared/styles/entry-table.scss
  src/app/workflows/list/list.component.html
  src/styles.scss
Due: prettier --write

fix appTool listin
  src/app/workflows/list/list.component.ts
Due: prettier --write, eslint --fix

prep for test
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
Due: prettier --write, eslint --fix

add notebooks search table checks
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/searchTableResponse.json
Due: prettier --write, eslint --fix

tweak tests, fix copyright date
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  src/app/search/search-notebook-table/search-notebook-table.component.ts
Due: prettier --write, eslint --fix

remove unused assignment
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

fix some code smells (#1765)
  cypress/e2e/group2/sharedWorkflows.ts
  src/app/container/container.component.html
  src/app/containers/list/published-tools.datasource.spec.ts
  src/app/organizations/collection/collection-entry-confirm-remove.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections/remove-collection/remove-collection.component.html
  src/app/shared/state/extended-workflow.service.spec.ts
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/starredentries/starredentries.component.ts
  src/app/workflow/versions/versions.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Front end changes for new validation metric schema
  cypress/e2e/immutableDatabaseTests/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  cypress/fixtures/sampleMetrics.json
  package.json
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Remove css usage
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Fix typo
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

Prevent snapshotting if no author set.
  cypress/e2e/group2/myworkflows.ts
  cypress/support/commands.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  test/authors_db_dump.sql
  test/db_dump.sql
Due: prettier --write, eslint --fix

Use release branch artifacts
  package.json
Due: none

Metrics tab changes for new validation metrics schema (#1766)
  cypress/e2e/immutableDatabaseTests/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  cypress/fixtures/sampleMetrics.json
  package.json
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/executions/executions-tab.component.css
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Prevent snapshotting if no author set. (#1751)
  cypress/e2e/group2/myworkflows.ts
  cypress/support/commands.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
  test/authors_db_dump.sql
  test/db_dump.sql
Due: prettier --write, eslint --fix

remove debug output
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

change mathjax font path to reference root via parent refs
  src/app/notebook/mathjax-config.js
Due: prettier --write

include '.js' files in asset remapping
  .circleci/config.yml
Due: none

add notebooks support to search
  cypress/e2e/immutableDatabaseTests/notebooks.ts
  cypress/e2e/immutableDatabaseTests/searchTable.ts
  cypress/fixtures/searchTableResponse.json
  src/app/search/query-builder.service.ts
  src/app/search/search-entry-table.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.scss
  src/app/search/search-notebook-table/search-notebook-table.component.spec.ts
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-results/search-results.component.html
  src/app/search/search-results/search-results.component.ts
  src/app/search/search.component.spec.ts
  src/app/search/search.component.ts
  src/app/search/search.module.ts
  src/app/search/state/search.query.ts
  src/app/search/state/search.service.spec.ts
  src/app/search/state/search.service.ts
  src/app/search/state/search.store.ts
  src/app/shared/tool-lister.ts
  src/app/test/service-stubs.ts
  src/app/workflows/list/list.component.html
  src/app/workflows/list/list.component.ts
Due: prettier --write, eslint --fix

fix mathjax notebooks font url
  .circleci/config.yml
  src/app/notebook/mathjax-config.js
Due: prettier --write

tooltip stuck on footer fix
  src/app/workflow/dag/state/dag.service.ts
Due: prettier --write, eslint --fix

pr review changes
  src/app/workflow/dag/state/dag.service.ts
Due: prettier --write, eslint --fix
