Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

add all categories to collection "cards"
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

added categories to collection cards
  src/app/organizations/collection/collection.component.scss
Due: prettier --write

remove horizontal rule, pad
  src/app/organizations/collection/collection.component.html
Due: prettier --write

limit collection cards to "Categories", "Operations", "Topics" categories
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.ts
  src/app/organizations/collection/collection.component.html
Due: prettier --write, eslint --fix

fix test, remove unused method
  src/app/categories/buttons/category-buttons.component.spec.ts
  src/app/categories/entry/entry-categories.component.spec.ts
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

add missing file
  src/app/categories/entry/entry-categories.component.scss
Due: prettier --write

update release
  package.json
Due: none

add required entry_metadata entries to test db dumps
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: none

checkstyle
  src/app/categories/button/category-button.component.ts
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

add some category-related tests
  cypress/e2e/group2/categories.ts
Due: prettier --write, eslint --fix

add some ai-categories tests
  cypress/e2e/group2/categories.ts
  cypress/support/commands.ts
  test/edam_categories_db_dump.sql
Due: prettier --write, eslint --fix

add "source" field for edam categories
  test/edam_categories_db_dump.sql
Due: none

add category button tests
  src/app/categories/button/category-button.component.spec.ts
Due: prettier --write, eslint --fix

fix indent
  test/edam_categories_db_dump.sql
Due: none

tweaks
  src/app/categories/button/category-button.component.ts
Due: prettier --write, eslint --fix

fix test
  src/app/categories/button/category-button.component.spec.ts
Due: prettier --write, eslint --fix

update webservice version
  package.json
  src/app/categories/button/category-button.component.ts
Due: prettier --write, eslint --fix

fix test
  cypress/e2e/group2/categories.ts
Due: prettier --write, eslint --fix

rename style ai-managed -> ai-curated
  cypress/e2e/group2/categories.ts
  src/app/categories/button/category-button.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

improve category bubble layout
  cypress/e2e/group2/categories.ts
  cypress/support/commands.ts
  package.json
  src/_material-overrides.scss
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.spec.ts
  src/app/categories/button/category-button.component.ts
  src/app/categories/buttons/category-buttons.component.html
  src/app/categories/buttons/category-buttons.component.scss
  src/app/categories/buttons/category-buttons.component.spec.ts
  src/app/categories/buttons/category-buttons.component.ts
  src/app/categories/entry/entry-categories.component.html
  src/app/categories/entry/entry-categories.component.scss
  src/app/categories/entry/entry-categories.component.spec.ts
  src/app/categories/entry/entry-categories.component.ts
  src/app/categories/extract-categories.pipe.spec.ts
  src/app/categories/extract-categories.pipe.ts
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.scss
  src/app/organizations/collection/collection.component.ts
  src/app/search/categories/entry-categories.pipe.ts
  src/app/search/search-entry-table.component.html
  src/app/search/search-entry-table.component.ts
  src/app/search/state/search.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
  src/styles.scss
  test/edam_categories_db_dump.sql
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

rough draft
  src/app/categories/manage/manage-categories-dialog.component.html
  src/app/categories/manage/manage-categories-dialog.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

move "Manage Categories" button
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

mirror category management for tools
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

don't display "Manage Categories" button if there are no categories
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

narrow dialog
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

fix some mappings in the search highlighting labels
  src/app/search/search-entry-table.component.ts
Due: prettier --write, eslint --fix

expand facets that are part of the current search
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add instructional text to "Manage Categories" dialog
  src/app/categories/manage/manage-categories-dialog.component.html
  src/app/categories/manage/manage-categories-dialog.component.ts
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

add cypress tests of dialog
  cypress/e2e/group2/categories.ts
Due: prettier --write, eslint --fix

search tweaks
  src/app/search/search-entry-table.component.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

add owner category curation dialog
  cypress/e2e/group2/categories.ts
  src/app/categories/manage/manage-categories-dialog.component.html
  src/app/categories/manage/manage-categories-dialog.component.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

add newline
  src/app/categories/button/category-button.component.ts
Due: prettier --write, eslint --fix

fix unit test
  src/app/categories/button/category-button.component.spec.ts
Due: prettier --write, eslint --fix

add newline to "EDAM" text in category mouseover
  src/app/categories/button/category-button.component.spec.ts
  src/app/categories/button/category-button.component.ts
Due: prettier --write, eslint --fix

change collection.displayname to title in test db dump
  test/edam_categories_db_dump.sql
Due: none

temporarily reference feature branch
  package.json
Due: none

reference beta release
  package.json
Due: none

fix broken pipx link
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

rename db column collection.displayname to title
  package.json
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
  test/edam_categories_db_dump.sql
Due: prettier --write, eslint --fix
