Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Display number of aborted executions
  package.json
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

Add aborted status to total count
  cypress/fixtures/sampleMetrics.json
  src/app/workflow/executions/executions-tab.component.ts
Due: prettier --write, eslint --fix

pr review
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.ts
Due: prettier --write, eslint --fix

oops
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write

SEAB-5998: Create static github apps landing page (#1882)
  cypress/support/commands.ts
  src/app/app.routing.ts
  src/app/container/register-tool/register-tool.component.ts
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
  src/app/github-landing-page/github-landing-page.component.ts
  src/app/home-page/home-page.module.ts
  src/app/shared/modules/register-github-app.module.ts
  src/app/shared/register-github-app/register-github-app.component.html
  src/app/shared/register-github-app/register-github-app.component.spec.ts
  src/app/shared/register-github-app/register-github-app.component.ts
  src/app/shared/session/session.query.ts
  src/app/workflow/register-workflow-modal/register-github-app-modal/register-github-app-modal.component.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.ts
Due: prettier --write, eslint --fix

Update artifact
  package.json
Due: none

Remove metrics feature flag
  src/app/search/state/search.service.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

Missed these usages
  src/app/workflow/versions/versions.component.html
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/e2e/group3/metrics.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

Try to scroll Actions button into view
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

Revert "Bump actions/upload-artifact from 3 to 4 (#1900)" (#1901)
  .github/workflows/accessibility_test.yml
Due: none

resizing and alignment fix
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
Due: prettier --write

codacy
  src/app/github-landing-page/github-landing-page.component.scss
Due: prettier --write

Remove author and email from notebook and apptool db dumps
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: none

Display run time metric as hh:mm:ss
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/seconds-to-hours-minutes-seconds.pipe.spec.ts
  src/app/workflow/executions/seconds-to-hours-minutes-seconds.pipe.ts
Due: prettier --write, eslint --fix

Display executions with commas
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

Only show verified in versions tab; move verified platforms to Info dialog
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/view/view.component.ts
Due: prettier --write, eslint --fix

test
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
Due: prettier --write

Fix tests
  cypress/e2e/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

Revert "Try to scroll Actions button into view"
  cypress/e2e/group1/checkerWorkflowFromWorkflow.ts
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group3/githubAppTools.ts
Due: prettier --write, eslint --fix

pr preview
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
Due: prettier --write

Use 1.15.0-rc.0 webservice artifact
  package.json
Due: none

make organizations sort by name case-insensitive
  src/app/organizations/state/organizations.query.ts
Due: prettier --write, eslint --fix

Update platformPartner to fix tests
  cypress/e2e/group2/usernameChangeRequired.ts
  cypress/support/commands.ts
  src/app/search/state/search.service.spec.ts
Due: prettier --write, eslint --fix

test this
  package.json
Due: none

Revert "Bump actions/download-artifact from 3 to 4"
  .github/workflows/accessibility_test.yml
Due: none

Revert "Bump actions/download-artifact from 3 to 4" (#1909)
  .github/workflows/accessibility_test.yml
Due: none

De-duplicate execution metric html
  src/app/workflow/executions/executions-tab.component.html
Due: prettier --write

Display number of aborted executions (#1903)
  cypress/e2e/group2/usernameChangeRequired.ts
  cypress/fixtures/sampleMetrics.json
  cypress/support/commands.ts
  package.json
  src/app/search/state/search.service.spec.ts
  src/app/shared/pipe/pipe.module.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/executions/executions-tab.component.ts
  src/app/workflow/executions/seconds-to-hours-minutes-seconds.pipe.spec.ts
  src/app/workflow/executions/seconds-to-hours-minutes-seconds.pipe.ts
  test/github_app_tool_db_dump.sql
  test/github_notebook_db_dump.sql
Due: prettier --write, eslint --fix

Remove metrics feature flag (#1905)
  cypress/e2e/group3/metrics.ts
  cypress/e2e/immutableDatabaseTests/services.ts
  cypress/e2e/immutableDatabaseTests/workflowDetails.ts
  src/app/search/state/search.service.ts
  src/app/shared/dockstore.model.ts
  src/app/shared/feature.service.spec.ts
  src/app/shared/feature.service.ts
  src/app/workflow/executions/executions-tab.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/version-modal/version-modal.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
  src/app/workflow/view/view.component.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

pr review
  src/app/github-landing-page/github-landing-page.component.html
Due: prettier --write

SEAB-6164: resizing and alignment fix for the new landing page (#1907)
  src/app/github-landing-page/github-landing-page.component.html
  src/app/github-landing-page/github-landing-page.component.scss
Due: prettier --write

Update ini version
  package-lock.json
  package.json
Due: none

Update license file, d'oh.
  THIRD-PARTY-LICENSES.csv
Due: none

Update ini version (#1911)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

fix accessbility script typos
  scripts/run-pa11y-ci.sh
Due: none

use v4 to upload/download artifacts
  .github/workflows/accessibility_test.yml
Due: none
