Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

Make material padding table styles global
  src/app/shared/styles/entry-table.scss
  src/app/workflow/versions/versions.component.css
  src/styles.scss
Due: prettier --write

Change Project Links to Links
  src/app/containers/list/list.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/workflows/list/list.component.html
Due: prettier --write

Style authors table
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Reformated 3 search buttons to align in a row, updated their button icons
  src/app/search/search.component.html
  src/app/search/search.component.scss
Due: prettier --write

fix publish/unpublish, icon,
  src/app/container/register-tool/register-tool.component.html
  src/app/mytools/mytools.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

use build from PR
  package.json
Due: none

move category search facet to top of sidebar
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

prevent edit collection click event from propagating to parent
  src/app/organizations/collections/collections.component.html
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/collections/create-collection/create-collection.component.ts
  src/app/organizations/collections/state/create-collection.query.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/collections/state/create-collection.store.ts
Due: prettier --write, eslint --fix

Fix authors table columns (#1430)
  src/app/containers/list/list.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/styles/entry-table.scss
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/versions/versions.component.css
  src/app/workflows/list/list.component.html
  src/styles.scss
Due: prettier --write

life altering for testing (#1427)
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

PR feedback, plus fix another end point, plus realize entryType realization
  src/app/mytools/mytools.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Changed padding for selected version and button reformatting
  src/app/workflow/versions/versions.component.css
  src/app/workflow/versions/versions.component.html
  src/app/workflow/view/view.component.css
  src/app/workflow/view/view.component.html
Due: prettier --write

use link from develop build
  package.json
Due: none

number two my lord
  scripts/run-webservice-script.sh
Due: none

some github app tool fixes. (#1428)
  package.json
  scripts/run-webservice-script.sh
  src/app/container/register-tool/register-tool.component.html
  src/app/mytools/mytools.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

Updates for public and private workflow Actions buttons + padding for selected version
  src/app/workflow/view/view.component.css
  src/app/workflow/view/view.component.html
  src/assets/svg/drop-down-arrow.svg
  src/assets/svg/icons-cog.svg
Due: prettier --write

Added alt attribute for imgs
  src/app/workflow/view/view.component.html
Due: prettier --write

Change display method for buttons
  src/app/workflow/view/view.component.html
Due: prettier --write

Updated CircleCi test for updated button text, made classes more explicit
  cypress/support/commands.ts
  src/app/workflow/view/view.component.css
  src/app/workflow/view/view.component.html
Due: prettier --write, eslint --fix

Updated CircleCi tests for button changes
  cypress/integration/group1/hostedWorkflows.ts
  cypress/integration/group2/sharedWorkflows.ts
  cypress/integration/immutableDatabaseTests/services.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

npm update karma, npm update follow-redirects --depth 5
  package-lock.json
  package.json
Due: none

npm run license
  THIRD-PARTY-LICENSES.csv
Due: none

Updated CircleCi test for reset button text change, and added ; to html
  cypress/integration/smokeTests/sharedTests/search.ts
  src/app/search/search.component.html
Due: prettier --write, eslint --fix

Feature/update karma (#1431)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
Due: none

add tests, fix view public and trs link
  cypress/integration/group2/githubAppTools.ts
  cypress/support/commands.ts
  src/app/container/container.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/workflow.component.html
  test/github_app_tool_db_dump.sql
Due: prettier --write, eslint --fix

oops
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Added global button style and reimplemented buttons
  src/app/workflow/view/view.component.css
  src/app/workflow/view/view.component.html
  src/assets/svg/drop-down-arrow.svg
  src/assets/svg/gear-icon.svg
  src/assets/svg/icons-cog.svg
  src/styles.scss
Due: prettier --write

Update integration tests for button class changes
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

Removed inline style and font sizing
  src/app/search/search.component.html
  src/app/search/search.component.scss
Due: prettier --write

Fixed Part numbers and font family
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.html
  src/app/loginComponents/onboarding/downloadcliclient/downloadcliclient.component.ts
Due: prettier --write, eslint --fix

don't confirm it's visible for whatever reason
  cypress/integration/group2/githubAppTools.ts
Due: prettier --write, eslint --fix

add type
  cypress/integration/group2/githubAppTools.ts
Due: prettier --write, eslint --fix

Don't use flex
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
Due: prettier --write

Remove drop-down for public button, go straight to pop-up
  src/app/workflow/view/view.component.html
Due: prettier --write

Removed CircleCi test for view drop-down on public button
  cypress/integration/immutableDatabaseTests/services.ts
Due: prettier --write, eslint --fix

add tests, fix view public and trs link (#1433)
  cypress/integration/group2/githubAppTools.ts
  cypress/support/commands.ts
  src/app/container/container.component.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/version-modal/version-modal.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/workflow.component.html
  test/github_app_tool_db_dump.sql
Due: prettier --write, eslint --fix

Commenting out launch with button
  src/app/workflow/launch-third-party/launch-third-party.component.html
Due: prettier --write

Test fix
  src/app/workflow/launch-third-party/launch-third-party.component.spec.ts
Due: prettier --write, eslint --fix

Used color palette and converted file to scss
  src/app/workflow/versions/versions.component.scss
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

.css to .scss
  src/app/container/versions/versions.component.ts
Due: prettier --write, eslint --fix
