Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

moved wait for ES to this script
  scripts/wait-for.sh
Due: none

re-added integration tests
  .circleci/config.yml
Due: none

I guess auth is not allowed
  .circleci/config.yml
Due: none

revvert the cypress run mode count
  cypress.json
Due: none

Update circleci artifacts (#1413)
  package.json
Due: none

remove useless whitespace
  cypress/integration/group1/checkerWorkflowFromTools.ts
Due: prettier --write, eslint --fix

initial changes
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Feature/seab 3656/topic sentence (#1406)
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.scss
  src/app/shared/container.service.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

change styles
  src/app/categories/button/category-button.component.scss
  src/app/container/container.component.html
  src/app/container/versions/versions.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

Update search.component.ts
  src/app/search/search.component.ts
Due: prettier --write, eslint --fix

reverse order of bubble and -background classes
  src/app/container/container.component.html
  src/app/container/versions/versions.component.html
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

make bubbles default to gray background
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write

Renamed travisci/ to test/
  .circleci/config.yml
  .gitallowed
  cypress/support/commands.ts
  scripts/run-webservice-script.sh
  test/db_dump.sql
  test/smoke_test_db.sql
  test/web.yml
Due: prettier --write, eslint --fix

change mat-chips to anchor mat-buttons
  src/app/container/container.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

make app-category-button a mat-chip, adjust workflow/ftool components
  src/app/categories/button/category-button.component.html
  src/app/container/container.component.css
  src/app/container/container.component.html
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

fix verified check bubble, convert entry summary category list
  src/app/container/container.component.html
  src/app/organizations/collection/collection.component.html
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write

Feature/3142/automated smoke tests (#1414)
  .circleci/config.yml
  .gitallowed
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
  cypress/integration/smokeTests/sharedTests/search.ts
  cypress/support/commands.ts
  package.json
  scripts/run-webservice-script.sh
  scripts/wait-for.sh
  test/db_dump.sql
  test/smoke_test_db.sql
  test/web.yml
Due: prettier --write, eslint --fix

modify home page categories lists
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
Due: prettier --write

add style comments
  src/styles.scss
Due: prettier --write

incorporate pr feedback
  src/app/information-dialog/information-dialog.component.ts
  src/app/shared/entry-actions/entry-actions.service.ts
Due: prettier --write, eslint --fix

fix tests and improve safety
  cypress/integration/group1/checkerWorkflowFromTools.ts
  cypress/integration/group1/checkerWorkflowFromWorkflow.ts
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

remove empty file
  src/app/information-dialog/information-dialog.component.scss
Due: prettier --write

Smoke test info added to the README
  README.md
Due: none

Reword for clarity
  README.md
Due: none

Reformat and added a last sanity check step
  README.md
Due: none

Feature/3741/smoke test documentation (#1419)
  README.md
Due: none

add register button, and jk links are broken
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
Due: prettier --write, eslint --fix

closer?
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/shared/state/workflow.query.ts
  src/app/shared/state/workflow.service.ts
  src/app/shared/state/workflow.store.ts
Due: prettier --write, eslint --fix

show github app logs
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
Due: prettier --write

I can't believe keeping the route as containers was this easy the whole time 😭
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/shared/enum/entry-type.ts
  src/app/shared/modules/container.module.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

I guess the linking is fixed now
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.module.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/shared/entry.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

include authors to fix broken apptool
  src/app/container/container.component.html
  src/app/mytools/mytools.service.ts
Due: prettier --write, eslint --fix

closer to getting my tools working
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.module.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/myworkflows.service.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared-workflow-services/shared-workflow-services.module.ts
  src/app/shared/myentries.service.ts
  src/app/shared/state/workflow.service.ts
Due: prettier --write, eslint --fix

revert some files
  src/app/shared/state/workflow.query.ts
  src/app/shared/state/workflow.service.ts
  src/app/shared/state/workflow.store.ts
Due: prettier --write, eslint --fix

lint
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

pray
  src/app/container/container.component.html
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
Due: prettier --write, eslint --fix

linking working?
  src/app/container/container.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/mytools.service.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

lint??? clean up a bit
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/mytools/mytools.service.ts
  src/app/shared/entry.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

forgot this file
  src/app/mytools/mytools.service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
