Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

myworkflows: add assertion before topic selection
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

mytools, dashboard: add assertions after animation
  cypress/e2e/group3/mytools.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

paraneterize postgres/python versions
  .circleci/config.yml
Due: none

modify myworkflow assertion, revert dashboard
  cypress/e2e/group2/myworkflows.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

try postgres 13.13
  .circleci/config.yml
Due: none

PR feedback
  src/app/shared/launch.service.ts
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

SEAB-5910: Allow AI topics to be shown in UI search page and entry page (#1939)
  cypress/e2e/group2/myworkflows.ts
  cypress/fixtures/workflowWithTopicAI.json
  src/app/container/info-tab/info-tab.component.html
  src/app/search/query-builder.service.ts
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.ts
  src/app/search/search.module.ts
  src/app/shared/ai-bubble/ai-bubble.component.html
  src/app/shared/ai-bubble/ai-bubble.component.ts
  src/app/shared/ai-bubble/ai-bubble.module.ts
  src/app/shared/modules/container.module.ts
  src/app/shared/modules/workflow.module.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/assets/svg/ai-icon.svg
  src/styles.scss
Due: prettier --write, eslint --fix

PR feedback
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

revert postgres to 13.3
  .circleci/config.yml
Due: none

SEAB-4703: Parameterize version numbers in CircleCI configuration (#1944)
  .circleci/config.yml
Due: none

Use 1.15.2 web service
  package.json
Due: none

Add Galaxy planemo information to launch-with page (#1940)
  src/app/descriptor-languages/Galaxy.ts
  src/app/shared/launch.service.ts
  src/app/shared/state/workflow.query.ts
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
Due: prettier --write, eslint --fix

initial
  src/app/source-file-tabs/source-file-tabs.component.ts
Due: prettier --write, eslint --fix

add documentation url
  test/web.yml
Due: none

feedback (change argument name, create Page type)
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

enable/fix discover existing tools/notebooks
  cypress/e2e/group3/mytools.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/my-workflow/my-workflow.component.ts
  src/app/shared/user/user.service.ts
Due: prettier --write, eslint --fix

fix unit test imports
  src/app/myworkflows/my-workflow/my-workflow.component.spec.ts
Due: prettier --write, eslint --fix

remove twitter from smoke tests
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/immutableDatabaseTests/app-spec.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

SEAB-5992: Remove Twitter from smoke tests (#1947)
  cypress/e2e/group1/dashboard.ts
  cypress/e2e/immutableDatabaseTests/app-spec.ts
  cypress/e2e/smokeTests/sharedTests/basic-enduser.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

try tracking visited links
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

add workarounds for twitter, avatar image
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

see if assertion helps with flaky images
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

set platform partner role before test
  cypress/e2e/immutableDatabaseTests/platform-partner.ts
Due: prettier --write, eslint --fix

Increase topic max length to 250
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

rename actions column to overview
  src/app/container/versions/versions.component.html
  src/app/container/versions/versions.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

try reverting to actions in allColumns
  src/app/container/versions/versions.component.html
  src/app/container/versions/versions.component.ts
  src/app/workflow/versions/versions.component.html
  src/app/workflow/versions/versions.component.ts
Due: prettier --write, eslint --fix

try reverting all (monitor sharedWorkflows test)
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

add UNINSTALL->Uninstall mapping to MapFriendlyValuesPipe
  src/app/search/map-friendly-values.pipe.ts
Due: prettier --write, eslint --fix

SEAB-6207: Fix flaky platform partner test (#1949)
  cypress/e2e/immutableDatabaseTests/platform-partner.ts
Due: prettier --write, eslint --fix

add conditional column titles
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

feedback (add arrays for links to skip, update pages to visit)
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
Due: prettier --write, eslint --fix

fix Advanced Features link
  src/app/sitemap/sitemap.component.html
Due: prettier --write

DOCK-2505: Rename "Actions" column in public Versions table (#1954)
  src/app/container/versions/versions.component.html
  src/app/workflow/versions/versions.component.html
Due: prettier --write

SEAB-6014: UI link checks (#1941)
  cypress/e2e/immutableDatabaseTests/linkCheck.ts
  src/app/sitemap/sitemap.component.html
  test/web.yml
Due: prettier --write, eslint --fix

fix myworkflows test (stub get request for workflows)
  cypress/e2e/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Move ai bubble to beginning of sentence for search table
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/styles/entry-table.scss
  src/styles.scss
Due: prettier --write

update ai icon image src to relative path
  src/app/shared/ai-bubble/ai-bubble.component.html
Due: prettier --write

Increase manual topic max length to 250 & move ai bubble on search page (#1950)
  src/app/container/info-tab/info-tab.component.html
  src/app/search/search-notebook-table/search-notebook-table.component.html
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/ai-bubble/ai-bubble.component.html
  src/app/shared/styles/entry-table.scss
  src/app/workflow/info-tab/info-tab.component.html
  src/styles.scss
Due: prettier --write

add tests for tools/notebooks, add waits for requests
  cypress/e2e/group2/myworkflows.ts
  cypress/e2e/group2/notebooks.ts
  cypress/e2e/group3/mytools.ts
  cypress/fixtures/myNotebooks.json
  cypress/fixtures/myTools.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,html,js,css,scss,json,md}) or (any of: cypress/**/*.{ts,js})
  eslint --fix: any of: *.ts
