Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

fix file download names and paths to files
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
Due: prettier --write, eslint --fix

remove uncessary tostring
  src/app/container/descriptors/descriptors.component.ts
  src/app/container/dockerfile/dockerfile.component.ts
  src/app/container/paramfiles/paramfiles.component.ts
Due: prettier --write, eslint --fix

basic-enduser.ts tests should be more reliable now. There was a loading issue with ES causing the wrong elements to be picked
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Looks like some old hotfix test code was breaking the tests, it's now removed (works on dev and staging as of today)
  cypress/integration/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

get workflow info using Akita and new input param
  src/app/descriptor-languages/Galaxy.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Typo fixes in comments
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
Due: prettier --write, eslint --fix

Feature/3192/fix flakey tests (#1362)
  cypress/integration/smokeTests/sharedTests/basic-enduser.ts
  cypress/integration/smokeTests/sharedTests/search.ts
Due: prettier --write, eslint --fix

use filename not a path then filename
  src/app/source-file-tabs/source-file-tabs.component.html
Due: prettier --write

use a file download package instead of HREF (#1361)
  THIRD-PARTY-LICENSES.csv
  package-lock.json
  package.json
  src/app/container/descriptors/descriptors.component.html
  src/app/container/descriptors/descriptors.component.ts
  src/app/container/dockerfile/dockerfile.component.html
  src/app/container/dockerfile/dockerfile.component.ts
  src/app/container/paramfiles/paramfiles.component.html
  src/app/container/paramfiles/paramfiles.component.ts
  src/app/container/tool-file-editor/tool-file-editor.component.spec.ts
  src/app/descriptor-languages/Galaxy.ts
  src/app/shared/code-editor-list/code-editor-list.component.html
  src/app/shared/code-editor-list/code-editor-list.component.spec.ts
  src/app/shared/code-editor-list/code-editor-list.component.ts
  src/app/shared/entry/entry.module.ts
  src/app/shared/entry/private-file-download.pipe.spec.ts
  src/app/shared/entry/private-file-download.pipe.ts
  src/app/shared/file.service.ts
  src/app/shared/selectors/entry-file-selector.ts
  src/app/source-file-tabs/source-file-tabs.component.html
  src/app/source-file-tabs/source-file-tabs.component.ts
  src/app/source-file-tabs/source-file-tabs.service.ts
  src/app/workflow/workflow-file-editor/workflow-file-editor.component.spec.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Ignore 304s
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

Use artifact from webservice feature branch
  package.json
Due: none

Allow multiple users to export to ORCID, allow one user to update ORCID work
  cypress/fixtures/doiResponse.json
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.spec.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
  src/app/workflow/view/view.component.html
  src/app/workflow/view/view.component.ts
Due: prettier --write, eslint --fix

Enable some things
  tsconfig.json
Due: none

Remove it.only from integration tests
  cypress/integration/group2/myworkflows.ts
  cypress/integration/immutableDatabaseTests/workflowDetails.ts
Due: prettier --write, eslint --fix

Add orcid export tests, fix GitHub Apps Logs test
  cypress/fixtures/refreshedAslashl.json
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.html
Due: prettier --write, eslint --fix

Don't close export dialog if there's an error, revert GH Apps Logs test
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/snapshot-exporter-modal/snaphot-exporter-modal.component.ts
  src/app/workflow/snapshot-exporter-modal/snapshot-exporter-modal.service.ts
Due: prettier --write, eslint --fix

null check orcid authors
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Oops, assign the concatenated authors to var
  src/app/workflow/info-tab/info-tab.component.ts
Due: prettier --write, eslint --fix

Use develop CircleCI JAR
  package.json
Due: none

Fix test
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Use feature branch CircleCI JAR
  package.json
Due: none

Don't allow ORCID export update
  cypress/fixtures/doiResponse.json
  cypress/fixtures/orcidExportResponse.json
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/snapshot-exporter-modal/snapshot-exporter-modal.service.ts
  src/app/workflow/view/view.component.html
  src/app/workflow/view/view.component.ts
Due: prettier --write, eslint --fix

Ignore 304s (#1363)
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

Enable some things (#1364)
  tsconfig.json
Due: none

Filter based on error message instead
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

add "canDeleteCollection" state [skip ci]
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections/collections.component.ts
  src/app/organizations/state/organization-members.service.ts
  src/app/organizations/state/organization.query.ts
  src/app/organizations/state/organization.service.ts
  src/app/organizations/state/organization.store.ts
  src/app/organizations/state/upsert-organization-member.service.ts
Due: prettier --write, eslint --fix

add button, verified function
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
Due: prettier --write, eslint --fix

add non-functional dialog
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections/delete-collection/delete-collection.component.html
  src/app/organizations/collections/delete-collection/delete-collection.component.ts
Due: prettier --write, eslint --fix

move remove button, removed debug text [skip ci]
  src/app/organizations/collection/collection.component.html
Due: prettier --write

change so styles/etc are applied to dialog
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collection/delete-collection.component.html
  src/app/organizations/collections.module.ts
Due: prettier --write, eslint --fix

made dialog render correctly
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collection/delete-collection.component.html
  src/app/organizations/collections.module.ts
  src/app/organizations/collections/delete-collection/delete-collection.component.ts
Due: prettier --write, eslint --fix

make remove button remove collection, pared some imports [skip ci]
  src/app/organizations/collections/delete-collection/delete-collection.component.ts
  src/app/organizations/state/collections.service.ts
Due: prettier --write, eslint --fix

remove debug logging, small tweaks and fixes
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections/delete-collection/delete-collection.component.html
  src/app/organizations/collections/delete-collection/delete-collection.component.ts
  src/app/organizations/state/collections.service.ts
  src/app/organizations/state/organization-members.service.ts
Due: prettier --write, eslint --fix

Don't try to refresh GitHub Apps workflows
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

make naming more consistent
  src/app/organizations/collection/collection.component.ts
  src/app/organizations/collections.module.ts
  src/app/organizations/collections/remove-collection/remove-collection.component.html
  src/app/organizations/collections/remove-collection/remove-collection.component.ts
Due: prettier --write, eslint --fix

add IT, minor tweaks
  cypress/integration/group2/organizations.ts
  src/app/organizations/collection/collection.component.html
  src/app/organizations/state/organization-members.service.ts
Due: prettier --write, eslint --fix

Simple UI security checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Avoid refreshing .dockstore.yml workflows (#1367)
  src/app/workflow/refresh-workflow-organization/refresh-workflow-organization.component.ts
Due: prettier --write, eslint --fix

PR review fixes
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

tweak deleteCollection(), copyright notice
  src/app/organizations/collections/remove-collection/remove-collection.component.ts
  src/app/organizations/state/collections.service.ts
Due: prettier --write, eslint --fix
