Repository dockstore/dockstore-ui2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "src/**/*.{ts,html,js,css,scss,json,md}": [
      "prettier --write"
    ],
    "cypress/**/*.{ts,js}": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint --fix"
    ]
}

sigh I guess
  src/app/mytools/my-tool/my-tool.component.ts
Due: prettier --write, eslint --fix

minor changes
  src/app/container/launch/launch.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

not sure why this didn't have the tab info in the url before
  cypress/integration/immutableDatabaseTests/toolDetails.ts
Due: prettier --write, eslint --fix

I'm dumb
  src/app/myworkflows/my-workflow/my-workflow.component.html
Due: prettier --write

messed up rebase a bit
  src/app/container/container.component.ts
Due: prettier --write, eslint --fix

Some PR feedback
  src/app/mytools/mytools.service.spec.ts
  src/app/mytools/mytools.service.ts
Due: prettier --write, eslint --fix

fix unit tests
  src/app/mytools/mytools.service.spec.ts
Due: prettier --write, eslint --fix

oops
  src/app/mytools/mytools.service.ts
Due: prettier --write, eslint --fix

PR Feedback
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.service.ts
  src/app/shared/myentries.service.ts
  src/app/workflow/launch/launch.component.html
Due: prettier --write, eslint --fix

remove line
  src/app/workflow/workflow.component.html
Due: prettier --write

change regex
  src/app/shared/entry.ts
Due: prettier --write, eslint --fix

use latest build from develop
  package.json
Due: none

lgtm
  src/app/container/container.component.ts
  src/app/shared/myentries.service.ts
Due: prettier --write, eslint --fix

Feature/seab 3108/display GitHub app tools (#1388)
  cypress/integration/immutableDatabaseTests/toolDetails.ts
  package.json
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/launch/launch.component.html
  src/app/container/register-tool/register-tool.component.html
  src/app/container/register-tool/register-tool.component.ts
  src/app/mytools/my-tool/my-tool.component.html
  src/app/mytools/my-tool/my-tool.component.ts
  src/app/mytools/mytools.module.ts
  src/app/mytools/mytools.service.spec.ts
  src/app/mytools/mytools.service.ts
  src/app/myworkflows/my-workflow/my-workflow.component.html
  src/app/myworkflows/myworkflows.service.ts
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.html
  src/app/myworkflows/sidebar-accordion/sidebar-accordion.component.ts
  src/app/shared-workflow-services/shared-workflow-services.module.ts
  src/app/shared/entry.ts
  src/app/shared/enum/entry-type.ts
  src/app/shared/modules/container.module.ts
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/launch/launch.component.html
  src/app/workflow/launch/launch.component.ts
  src/app/workflow/launch/workflow-launch.service.ts
  src/app/workflow/register-workflow-modal/register-workflow-modal.component.html
  src/app/workflow/workflow.component.html
  src/app/workflow/workflow.component.ts
Due: prettier --write, eslint --fix

enforce default tag on publish
  cypress/integration/group1/checkerWorkflowFromTools.ts
  cypress/integration/group1/checkerWorkflowFromWorkflow.ts
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/app.module.ts
  src/app/container/container.component.html
  src/app/container/container.component.ts
  src/app/container/view/view.component.html
  src/app/information-dialog/information-dialog.component.html
  src/app/information-dialog/information-dialog.component.ts
  src/app/information-dialog/information-dialog.service.ts
  src/app/shared/entry-actions/entry-actions.service.ts
  src/app/shared/entry-actions/tool-actions.component.ts
  src/app/shared/entry-actions/workflow-actions.component.ts
  src/app/workflow/view/view.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

harmonize label/category/etc elements
  src/app/categories/button/category-button.component.html
  src/app/categories/button/category-button.component.scss
  src/app/categories/button/category-button.component.ts
  src/app/container/container.component.css
  src/app/container/container.component.html
  src/app/container/versions/versions.component.html
  src/app/home-page/home-logged-out/home.component.html
  src/app/home-page/home-logged-out/home.component.scss
  src/app/loginComponents/accounts/external/accounts.component.html
  src/app/organizations/collection/collection.component.html
  src/app/organizations/collections/collections.component.html
  src/app/organizations/organizations/organizations.component.html
  src/app/starredentries/starredentries.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/versions/versions.component.html
  src/app/workflow/workflow.component.css
  src/app/workflow/workflow.component.html
  src/styles.scss
Due: prettier --write, eslint --fix

Adjust new topic scheme for tools
  src/app/container/info-tab/info-tab.component.css
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/shared/container.service.ts
Due: prettier --write, eslint --fix

Fix test
  cypress/integration/group2/mytools.ts
Due: prettier --write, eslint --fix

Simplify
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Fix search table
  src/app/search/query-builder.service.ts
Due: prettier --write, eslint --fix

Add topic to workflows
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.service.ts
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
Due: prettier --write, eslint --fix

Fix another test
  cypress/integration/group2/mytools.ts
  src/app/container/container.component.html
Due: prettier --write, eslint --fix

Add topic selection test
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
Due: prettier --write, eslint --fix

Fix workflows
  cypress/integration/group2/myworkflows.ts
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

Update artifacts, remove later!
  package.json
Due: none

Fix tooltip
  src/app/workflow/info-tab/info-tab.component.html
Due: prettier --write

Fix
  cypress/integration/group2/myworkflows.ts
Due: prettier --write, eslint --fix

Created footer link to Dockstore Youtube
  src/app/footer/footer.component.html
  src/assets/images/dockstore/youtube.svg
Due: prettier --write

Updated YouTube letter casing
  src/app/footer/footer.component.html
Due: prettier --write

move category search facet to top of sidebar
  src/app/search/state/search.service.ts
Due: prettier --write, eslint --fix

prevent edit collection click event from propagating to parent
  src/app/organizations/collections/collections.component.html
Due: prettier --write

Use develop branch artifacts
  package.json
Due: none

Footer link to Dockstore YouTube channel (#1424)
  src/app/footer/footer.component.html
  src/assets/images/dockstore/youtube.svg
Due: prettier --write

Feature/seab 3698/topic sentence phase2 (#1420)
  cypress/integration/group2/mytools.ts
  cypress/integration/group2/myworkflows.ts
  package.json
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.css
  src/app/container/info-tab/info-tab.component.html
  src/app/container/info-tab/info-tab.component.ts
  src/app/container/info-tab/info-tab.service.ts
  src/app/search/query-builder.service.ts
  src/app/search/search-tool-table/search-tool-table.component.html
  src/app/search/search-workflow-table/search-workflow-table.component.html
  src/app/shared/container.service.ts
  src/app/shared/entry-actions/tool-actions.component.html
  src/app/shared/entry-actions/workflow-actions.component.html
  src/app/shared/state/workflow.service.ts
  src/app/workflow/info-tab/info-tab.component.css
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.ts
  src/app/workflow/info-tab/info-tab.service.ts
  src/app/workflow/workflow.component.html
Due: prettier --write, eslint --fix

life altering for testing
  src/app/container/container.component.html
  src/app/container/info-tab/info-tab.component.html
  src/app/workflow/info-tab/info-tab.component.html
  src/app/workflow/workflow.component.html
Due: prettier --write

change edit collection dialog save button label
  src/app/organizations/collections/create-collection/create-collection.component.html
  src/app/organizations/collections/create-collection/create-collection.component.ts
  src/app/organizations/collections/state/create-collection.query.ts
  src/app/organizations/collections/state/create-collection.service.ts
  src/app/organizations/collections/state/create-collection.store.ts
Due: prettier --write, eslint --fix

added some whitespace
  src/app/organizations/collections/create-collection/create-collection.component.html
Due: prettier --write

Updated left padding, selection colour and Actions header alignment
  src/app/workflow/versions/versions.component.css
  src/app/workflow/versions/versions.component.html
Due: prettier --write

Changed colour code to rgba
  src/app/workflow/versions/versions.component.css
Due: prettier --write

Updated hover colour
  src/app/workflow/versions/versions.component.css
Due: prettier --write
